{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/endyeargift.css">
	<body>
		<div class="top">
			<img src="../mobile/statics/img/newapp/endyear_header.jpg" alt="">
			<img src="../mobile/statics/img/newapp/gift_give1.jpg" alt="">
			<img src="../mobile/statics/img/newapp/gift_give2.jpg" alt="">
		</div>
		<div class="limited_exchange">
			<img src="../mobile/statics/img/newapp/limited_exchange.jpg" alt="">
			<div class="ex_pro">
				<div class="ex_pro_con">
					<ul>
						<a href="../mobile/index.php?r=goods&id=1793 ">
							<li>
								<div class="ex_pro_con1"><img src="../mobile/statics/img/newapp/ex_pro_con1.png" alt=""></div>
							</li>
						</a>
						<a href="../mobile/index.php?r=goods&id=1790">
							<li>
								<div class="ex_pro_con1"><img src="../mobile/statics/img/newapp/ex_pro_con2.png" alt=""></div>
							</li>
						</a>
						<a href="../mobile/index.php?r=goods&id=1791">
							<li>
								<div class="ex_pro_con1"><img src="../mobile/statics/img/newapp/ex_pro_con3.png" alt=""></div>
							</li>
						</a>
						<a href="../mobile/index.php?r=goods&id=1791">
							<li style="margin-right: 0;">
								<div class="ex_pro_con1"><img src="../mobile/statics/img/newapp/ex_pro_con4.png" alt=""></div>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="active_select1">
			<img src="../mobile/statics/img/newapp/active_select1_bg.jpg" alt="">
			<div class="active_select_pro">
				<a href="../mobile/index.php?r=goods&id=1840">
					<img src="../mobile/statics/img/newapp/active_select1_pro1.png" alt="">
				</a>
				<a href="../mobile/index.php?r=goods&id=1845">
					<img src="../mobile/statics/img/newapp/active_select1_pro2.png" alt="">
				</a>
				<a href="../mobile/index.php?r=goods&id=1836">
					<img src="../mobile/statics/img/newapp/active_select1_pro3.png" alt="">
				</a>
				<div class="active_select_pro2">
					<a href="../mobile/index.php?r=goods&id=1843">
						<img src="../mobile/statics/img/newapp/active_select1_pro4.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=1833">
						<img style="margin-right: 0;" src="../mobile/statics/img/newapp/active_select1_pro5.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=1818">
						<img src="../mobile/statics/img/newapp/active_select1_pro6.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=1822">
						<img style="margin-right: 0;" src="../mobile/statics/img/newapp/active_select1_pro7.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="active_select2">
			<img src="../mobile/statics/img/newapp/active_select2_bg1.jpg" alt="">
			<img src="../mobile/statics/img/newapp/active_select2_bg2.jpg" alt="">
			<div class="active_select_pro3">
				<a href="../mobile/index.php?r=goods&id=701">
					<img src="../mobile/statics/img/newapp/active_select1_pro8.png" alt="">
				</a>
				<a href="../mobile/index.php?r=goods&id=241">
					<img src="../mobile/statics/img/newapp/active_select1_pro9.png" alt="">
				</a>
				<a href="../mobile/index.php?r=goods&id=703">
					<img src="../mobile/statics/img/newapp/active_select1_pro10.png" alt="">
				</a>
				<div class="active_select_pro4">
					<a href="../mobile/index.php?r=goods&id=72">
						<img src="../mobile/statics/img/newapp/active_select1_pro11.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=53">
						<img style="margin-right: 0;" src="../mobile/statics/img/newapp/active_select1_pro12.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=700">
						<img style="margin-bottom: 0;" src="../mobile/statics/img/newapp/active_select1_pro13.png" alt="">
					</a>
					<a href="../mobile/index.php?r=goods&id=335">
						<img style="margin: 0;" src="../mobile/statics/img/newapp/active_select1_pro14.png" alt="">
					</a>
					<div class="active_gift_top">
						<a href="javascript:scroll(0,0)">
							<img style="margin: 0;" src="../mobile/statics/img/newapp/active_gift_top.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>