body {
	font-size: 1.333rem;
	background-color: #fecb4c;
}
button {
	-webkit-appearance: none;
}
.flex{
	-webkit-display: flex;
	        display: flex;
}
header {
	position: relative;
}
header a {
	position: absolute;
	top: 1.77rem;
	text-indent: -9999px;
}
header .toIndex {
	left: 1.77rem;
	width: 3.666rem;
	height: 3.055rem;
	background: url(../img/newapp/dzp-1.png) no-repeat;
	background-size: 100% 100%;
}
header .share {
	right: 1.77rem;
	width: 3.055rem;
	height: 3.055rem;
	background: url(../img/newapp/dzp-2.png) no-repeat;
	background-size: 100% 100%;
}
.sec-1 {
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
.sec-1 .inner {
	position: absolute;
	top: 0px;
	width: 100%;
	display: block;
}
.sec-1 .inner .imgs{
	width: 100%;
}
.sec-1 .inner .imgs .img{
	width: 100%;
}
.sec-1 .inner .wrap{
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.sec-1 .inner .calendar{
	width: 65%;
	position: absolute;
	top: 50%;
	margin-top: 18%;
	border-radius: 1rem;
}

.sec-1 .inner .calendar img{
	width: 100;
}
.sec-1 .inner .calendar .text{
	position: absolute;
	bottom: 3rem;
	width: 100%;
	text-align: center;
}
.sec-1 .inner .calendar .text h3{
	width: 100%;
	padding: 0 0 0.5rem 0;
}
.sec-2  h3{
	width: 100%;
	background-color: #FED056;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}
.sec-2 ul {
	padding-top: 2rem;
	background-color: #FED056;
}
.sec-2 li {
	margin-bottom: 1.5rem;
	justify-content: space-around;
}
.sec-2 li div {
	width: 9.111rem;
	border-radius: 1rem;
	box-shadow: 0 0 1.277rem rgba(122,9,41,.5);
}
.sec-3 {
	padding: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fdd500;
}
.sec-3>img{
	width: 100%;
}
.zero{
	width: 100%;
	position: relative;
}
.zero img{
	width: 100%;
}
.zero ul{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	padding: 10rem 1rem 0rem 1rem;
	background-color: blue;
}
.zero ul:last-of-type{
	top: 49%;
	width: 100%;
	/*background-color: blue;*/
}

.zero ul li{
	width: 50%;
	height: 100%;
	display: block;
	background-color: red;
}
.sec-4{
	position: fixed;
	bottom: 0;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
}
.sec-4 button{
	color: #c29214;
	background-color: white;
	padding: 0.2rem 0.5rem;
	border: none;
	position: absolute;
	right: 3rem;
	top: 50%;
	margin-top: -1rem;
	height: 2rem;
	font-size: 1rem;
	border-radius: 0.5rem;
}
.sec-4 a{
	box-shadow: none;
}
.ago{
	position: relative;
	width: 100%;
}
.ago img{
	width: 100%;
}
.ago .cal{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
}
.ago .cal .inner-cal{
	position: absolute;
	top: 5rem;
	width: 80%;
	padding: 2rem 2rem 0 2rem;
	left: 50%;
	margin-left: -40%;
	background-color: white;
	border-radius: 3rem;
}
.ago .cal .inner-cal .table{
	width: 100%;
}
.table tr{
	width: 100%;
	
}
.table tr td,
.table tr th{
	width: 14%;
	border-top: 1px solid white;
	text-align: center;
}
.table tr th{
	color: #fed66c;
}
.ago .cal .inner-cal h3{
	text-align: center;
	font-size: 2rem;
}
.ago .cal .texts{
	width: 100%;
	position: absolute;
	bottom: 10rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ago .cal .texts ul{
	width: 75%;
	color: white;
	flex-direction: row;
	justify-content: flex-end;
}
.ago .cal .texts ul li{
	width: 70%;
	font-size: 2rem;
}
.ago .cal .texts ul li:last-of-type{
	width: 30%;
	text-align: center;
}
.tqian,
.tling{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 900;
	top: 0;
	justify-content: center;
	align-items: center;
}
.tqian .first{
	width:70%;
	z-index: 999;
} 
.textss{
	width: 40%;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -20%;
	text-align: center;
}
.prize_name{
	text-align: center;
}
.imgtext{
	width: 80%;
	position: relative;
	z-index: 999 !important;
}
.zhe{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	opacity: 0.5;
}
hr{
	color: #f0f0f0;
	width: 4px;
}
footer {
	padding: 1rem 1.5rem 5.555rem;
	color: #fff;
	background-size: 34.888rem 8.777rem; 
	background-color: #fecb4c;
}
footer dd {
	padding-left: 2rem;
}
.dialog {
	overflow: hidden;
	display: none;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw);
	height: calc(100vh);
	background-color: rgba(0,0,0,.5);
}

.dialog-Winning .content,
.dialog-getTel .content {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate3d(-50%,0,0);
}
.dialog-getTel{
	background-color: rgba(0,0,0,.2);
	position: fixed;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.dialog-getTel .content {
	width: 70%;
	border-radius: 1rem;
	background-color: #f19149;
	flex-direction: column;
	justify-content: center;
}
.dialog-getTel img{
	position: fixed;
	top: 200px;
	width: 70%;
	margin-left: 15%;
}
.dialog-getTel form {
	padding: .5rem;
	padding-top: 1rem;
	flex-direction: column;
	justify-content: center;
	color: #999999;
}
.dialog-getTel input {
	display: inline-block;
	padding: 0rem 0 0 .5rem;
	width: 100%;
	height: 3rem;
	font-size: 16px;
	border: none;
	border: 1px solid #d4d4d4;
	border-radius: 1rem;
	background-color: transparent;
	background-color: #f0f0f0;
}
.dialog-getTel .getCode{
	position: relative;
	margin: 2rem 0;
	width: 100%;
	flex-direction: row;
}
.dialog-getTel .getCode input{
	width: 52%;
	background-color: #f0f0f0;
}
.dialog-getTel .getCode button {
	z-index: 10;
	position: absolute;
	bottom: 2px;
	right: 0;
	line-height: 3rem;
	height: 3rem;
	color: #00b5d2;
	background-color: #db6e1d;
	border: none;
	border-radius: 1.2rem;
	color: white;
s}
.fora{
	flex-direction: row;
	justify-content: space-around;
}
.kong{
	width: 20%;
}
.dialog-getTel a {
	align-self: center;
	width: 4.666rem;
	height: 2rem;
	line-height: 2rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	background-color: #fed055;
	display: inline-block;
	margin-bottom: 1rem;
	margin-top: .8rem;
}
.dialog-getTel .error {
	padding-left: .5rem;
	color: red;
}
.dialog-Winning .content {
	width: 14.055rem;
	height: 22.7222rem;
	background: url(../img/newapp/ling.jpg) no-repeat;
	background-size: 100% 100%; 
}
.dialog-Winning .close {
	position: absolute;
	top: 6.5rem;
	right: -.8rem;
	width: 1.7222rem;
	height: 1.7222rem;
	background: url(../img/newapp/dzp-8.png) no-repeat;
	background-size: 100% 100%; 
}
.dialog-Winning .main-body {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	text-align: center;
}
.dialog-Winning .main-body p {
	color: #e75250;
	font-size: 1.111rem;
	/*line-height: 2;*/
}
.dialog-Winning .main-body p:first-child {
	font-size: 1.222rem;
}
.dialog-Winning a {
	display: inline-block;
	margin-top: 1rem;
	width: 6.944rem;
	height: 2.222rem;
	line-height: 2.222rem;
	color: #fff;
	font-size: 1.333rem;
	border-radius: 2rem;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	background-color: #ff5164;
}
.dialog-wx-share .content {
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.dialog-wx-share .arrow {
	margin: 1rem 2rem 1rem 0;
	width: 15.94444rem;
	align-self: flex-end;
}
.dialog-wx-share .txt {
	width: 19.8888rem;
	align-self: center;
}

.follow {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
}
.dialog-share .content {
	position: fixed;
	top: 20%;
	left: 50%;
	color: #fff;
	transform: translate3d(-50%,0,0);
}
@media screen and (max-width: 375px) {
	.dialog-getTel .content {
		width: 250px;
	}
	.dialog-getTel .head {
		height: 41px;
	}
	.dialog-getTel a {
		width: 84px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}
	.dialog-getTel button{
		font-size: 0.5rem;
	}
	.dialog-Winning .content {
		min-width: 202px;
		min-height: 324px;
	}
	.ago .cal .texts{
		bottom: 10rem;
	}
	.ago .cal .texts ul{
		padding: 0.2rem 0;
	}
}
@media screen and (max-width: 420px) {
	.dialog-getTel button{
		font-size: 0.5rem;
	}
}
@media screen and (min-width: 760px) and (min-height:1000px){
	.text h3{
		font-size: 3rem;
	}
	.sec-2  h3{
		font-size: 3.5rem;
	}
	.ago .cal .texts{
		bottom: -5rem;
	}
	.dialog-getTel .content {
		width: 25rem;
	}
	.dialog-getTel .head {
		height: 41px;
	}
	.dialog-getTel input {
		margin: 1rem 0 0 0rem;
		height: 3rem;
		font-size: 2rem;
	}
	.dialog-getTel a {
		width: 9rem;
		height: 3rem;
		line-height: 3rem;
		font-size: 2rem;
	}
}
@media screen and (min-width: 1000px) and (min-height:1300px){
	.sec-1 .inner .calenda .text h3{
		font-size: 3.5rem;
	}
	.sec-1 .inner .calenda .text{
		bottom: 5rem !important;
	}
	.sec-2  h3{
		font-size: 3.5rem;
	}
	.dialog-getTel .content {
		width: 30rem;
	}
	.dialog-getTel .head {
		height: 41px;
	}
	.dialog-getTel input {
		height: 4rem;
	}
	.dialog-getTel a {
		margin-top: 1.3rem;
		width: 7rem;
		font-size: 2rem;
	}
	.dialog-getTel button{
		font-size: 1.5rem;
	}
	.sec-4 button{
		padding: 0.3rem 0.5rem;
		margin-top: -1.4rem;
		height: 2.8rem;
		font-size: 1.7rem;
		border-radius: 0.7rem;
	}
	.ago .cal .texts{
		bottom: -1rem;
	}
	.ago .cal .texts ul{
		padding: 1rem 0;
	}
}


