header{
	position: relative;
}
.header,.header_code{
	position: absolute;
	top: 0;
}
.header img{
	width: 66%;
	margin: 3rem 17% 1.5rem;
}
.header_code img{
	width: 40%;
	margin: 5rem 30% 2rem;
}
.header_code p{
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	margin-bottom: 2rem;
}
.button{
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	height: 4rem;
}
.show{
	float: left;
	width: 50%;
}
#rule{
	float: left;
	width: 50%;
}
.button img{
	width: 85%;
	margin: 0;
}
.major_active{
	background-color: #ffeac2;
	padding: 1rem 0;
}
.major_active img{
	width: 100%;
	margin: 1rem 0;
}
.active_con{
	margin: 3% 3% 2.5rem 3%;
	background-color: #ea5340;
    width: 94%;
    border-radius: 1rem;
    padding: 0rem 1.5rem;
}
.active_con_top{
	width: 100%;
}
.active_con_left{
	width: 35%;
	float: left;
}
.active_con_left p{
	color:#ffeac2;
	font-size: 1.5rem;
}
.active_con_right{
	width: 60%;
	float: left;
	margin-left: 5%;
	position: relative;
}
.collect_sheet{
	position: absolute;
	top: -2.5rem;
	right: 0;
}
.active_con_bottom{
	clear: both;
	color: #fcfafa;
	font-size: 1.6rem;
	padding: 1rem 0;
}
.active_con1{
	margin: 3%;
	background-color: #ea5340;
    width: 94%;
    border-radius: 1rem;
    padding: 2rem 0;
    color: #fff;
    overflow: hidden;
    height: 19rem;
}
.active_con1 ul{
	height: 15rem;
	overflow: hidden;
}
.active_con1 ul li{
	line-height: 3rem;
	clear: both;
}
.list_span1{
	float: left;
	text-align: center;
	width: 33%;
}
.list_span2{
	float: right;
}
.flex_message{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	width: 100%;
	background: url(../img/newapp/des_title_s_bg.png) repeat;
	display: none;
}
.flex_message p{
	line-height: 2.5rem;
	font-size: 1.6rem;
}
.flex_rule{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	width: 100%;
	background: url(../img/newapp/des_title_s_bg.png) repeat;
	display: none;
}
.flex_rule p{
	line-height: 2.5rem;
}
.collect_sms{
	display: block;
	position: absolute;
	width: 80%;
	height: 35rem;
	margin: 0 auto;
	left: 10%;
	border-radius: 2rem;
	background-color: #fff;
	top: 25%;
}
.sms_title{
	padding-top: 1rem;
	height: 7rem;
	background-color: #ea5340;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	border-radius: 2rem 2rem 0 0;
}
.sms_con{
	padding: 2rem 10%;
	text-align: center;
	color: #ea5340;
	overflow: hidden;
}
.sms_con input{
	border-bottom: 1px solid #ea5340;
	margin-top: 2rem;
	width: 55%;
	float: left;
	font-size: 1.6rem;
}
.rule_con{
	padding: 2rem 10%;
	color: #ea5340;
	font-size: 1.4rem;
}
#gcode{
	width: 40%;
	margin: 1.7rem 0 0 5%;
	float: left;
	border: 1px solid #ea5340;
	font-size: 1.6rem;
}
#code{
	margin-bottom: 3rem;
}
.tips{
	color: #666;
	font-size: 1.4rem;
	padding: 2rem 0 0 1.5rem;
    float: left;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fa9c90;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fa9c90;
}
:-ms-input-placeholder{
    color: #fa9c90;
}
::-webkit-input-placeholder{
    color: #fa9c90;
}
.finish{
	clear: both;
	background-color: #ea5340;
	color: #fff;
	padding: 0.5rem 0;
	text-align: center;
}
.rule_finish{
	background-color: #ea5340;
	color: #fff;
	padding: 0.5rem 0;
	text-align: center;
	margin-top: 1rem;
}
.message_close{
	padding: 1rem 0;
	color: #666;
	font-size: 1.5rem;
}
/* 集赞进程页面 */
.command_head{
	background-color: #ea5340;
	color: #fff;
	padding: 3rem 0;
	text-align: center;
	font-size: 2rem;
}
.collect_gift{
	width: 90%;
	margin: 4rem 5%;
	overflow: hidden;
}
.collect_gift_left{
	float: left;
	width: 48%;
	margin-right: 4%;
}
.collect_gift_right{
	float: left;
	width: 48%;
}
.exchange_pillow,.exchange_sheet{
	float: left;
	width: 50%;
}
.collect_zan{
	width: 60%;
	margin-top: 1rem;
}
.zan_count{
	width: 90%;
	margin: 3rem 5%;
	box-shadow: 0px 20px 50px -15px rgba(0,0,0,0.5);
}
.zan_count p{
	clear: both;
	text-align: center;
	width: 100%;
	background-color: #d72b15;
	line-height: 4rem;
}
.zan_count_con{
	background-color: #f9f8c0;
	color: #000;
	padding: 2rem;
	line-height: 4rem;
	/* height: 19rem; */
	overflow: hidden;
}
.zan_count_con ul{
	height: 15rem;
}
.flex_information{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	width: 100%;
	background: url(../img/newapp/des_title_s_bg.png) repeat;
	display: none;
	line-height: 2.5rem;
	font-size: 1.6rem;
}
.flex_information input{
	margin-top: 1.5rem;
	width: 60%;
	border: none;
	color: #666;
	height: 2.5rem;
}
.info_tips{
    margin-bottom: 1.5rem;
    padding: 0;
    line-height: 1rem;
    height: 2.5rem;
}
.flex_information .collect_sms{
	height: 33rem;
}
.flex_information .sms_con{
	padding: 1rem 10%;
}
.flex_information .sms_con p{
	clear: both;
    height: 4.5rem;
    border-bottom: 1px solid #ea5340;
}
.sms_con span{
	float: left;
    padding-top: 1.5rem;
}
/* 换取奖品页面 */
.collect_prize{
	position: fixed;
	width: 100%;
	background-color: #ea5340;
    height: 70rem;
    z-index: 99;
    top: 0;
    display: none;
}
.collect_prize_pillow{
	width: 70%;
	margin: 10rem auto;
	text-align: center;
	display: none;
}
.collect_prize_sheet{
	width: 70%;
	margin: 10rem auto;
	text-align: center;
	display: none;
}
.collect_prize_img{
	width: 100%;
	margin-bottom: 5rem;
}
.collect_prize_button{
	width: 50%;
	margin-top: 5rem;
}
/* 帮赞页面 */
.collect_button_help2{
	display: none;
}
.collect_button_help{
	float: left;
	width: 50%;
}
.zan_ok{
	width: 100%;
	padding: 0 10%;
	color: #ea5340;
	font-size: 1.4rem;
	text-align: center;
}
.zan_ok img{
	width: 60%;
	margin: 2rem 0;
}
@media only screen and (max-width: 400px) {
	.sms_con input{
		font-size: 1.4rem;
	}
	.collect_sms{
		height: 36rem;
	}
}

