html,body {
	background-color: #fc9814;
}
header{
	width: 100%;
	text-align: center;
}
.dailykill_rule{
	background-color: #09aec7;
	width: 65%;
	margin: 1rem auto 3rem;
	color: #fff;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	line-height: 3.5rem;
    text-align: center;
}
.dailykill_active{
	width:95%;
	margin: 3rem auto;
	text-align: center;
}
.dailykill_active_con{
	width: 100%;
	overflow: hidden;
	margin-top: 2rem;
}
.dailykill_active_con ul{
	list-style: none;
}
.dailykill_active_pro{
	background-color: #cc6600;
	overflow: hidden;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}
.dailykill_active_pro img{
	width: 60%;
	float: left;
}
.dailykill_active_text{
	width: 40%;
	float: left;
	padding: 0.5rem 0 1.5rem 0.5rem;
}
.dailykill_active_text p{
	font-size: 2rem;
	color: #fff;
	line-height: 4rem;
}
.dailykill_active_text span{
	background-color: #ff9900;
	color: #fff;
	padding: 0.1rem 0.5rem;
	font-size: 1.7rem;
}
.dailykill_active_text p span{
	font-size: 4rem;
	background-color: #cc6600;
}
.dailykill_active_button{
	border-radius: 1rem;
	background-color: #f88817;
	font-size: 1.8rem;
	color: #fff;
	width: 9rem;
	margin: 0 auto;
}
/* 活动规则 */
.rule_title{
	width: 90%;
	margin: 2rem auto;
	overflow: hidden;
	position: relative;
}
.rule_title div{
	float: left;
	width: 4rem;
	height: 4rem;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}
.rule_title p{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 2.5rem;
	line-height: 4rem;
	color: #fff;
}
.rule_con{
	width: 85%;
	margin: 0 auto 5rem;
	background-color: #fde4c5;
	border-radius: 3rem;
	padding: 4rem 3rem;
	font-size: 1.8rem;
	line-height: 3rem;
}
.rule_con p{
	margin-bottom: 2rem;
	color: #666;
}
.rule_con p span{
	color: #cc0000;
}
.pro_top{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.pro_top div{
	float: left;
	width: 4rem;
	height: 4rem;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1rem;
}
.pro_con{
	width: 90%;
	margin: 2rem auto 4rem;
	line-height: 3.5rem;
}
.pro_rule span{
	color: #cc0000;
}
.pro_button{
	width: 20rem;
	height: 4rem;
	background-color: #f89218;
	margin: 0 auto;
	text-align: center;
	padding-top: 1rem;
	font-size: 1.8rem;
	color: #fff;
	margin-top: 2rem;
}
.pro_tip_fixed{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    overflow: hidden;
}
.pro_tip_fixed2{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    overflow: hidden;
}
.pro_tip{
    width: 18rem;
    height: 16rem;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3rem;
    background-color: #ff9900;
    padding: 1rem;
}
.pro_tip h1{
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}
.pro_tip p{
	font-size: 1.6rem;
	color: #fff;
	margin: 0.5rem 0.5rem;
}
.pro_tip_close{
	background-color: #fff;
	width: 6rem;
	font-size: 2rem;
	line-height: 2.5rem;
	border-radius: 3rem;
	color: #ff9900;
	text-align: center;
	margin: 1.5rem auto 0;
}