.footer-nav {
    z-index: 1000!important;
}
.margin-tb-1 {
    margin: 1rem auto;
}
.mb-1 {
    margin-bottom: 1rem!important;
}
.ul-5 li {
    width: 25%!important;
}

.search .input-text {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 0;
    background: none;
}
.input-text .nav-soso {
    padding-left: 3.2rem!important;
    padding-right: 0;
    color: #fff;
}
.search-logo {
    height: 3rem;
    line-height: 3rem;
}
.i-search-input i.icon-sousuo {
    margin-top: 0;
    width: 1.65rem;
    height: 1.55rem;
    font-size: 1rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.icon-sousuo:before {
    content: "";
    display: inline-block;
    width: 1.65rem;
    height: 1.55rem;
    background: url(../img/newapp/search-pic.png) no-repeat;
    background-size: 100% 100%;
}
.swiper-pagination-bullet {
    background: #a0a0a0; 
}
.swiper-pagination-bullet-active {
    background: #711d1d;
}

/*热门资讯*/
.index-new {
    padding: 0 1rem;
}
.imp-class.swiper-container {
    margin: 0 auto;
}
.index-new h2 {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
}
.index-new h2 a {
    color: #aa1920;
}
.index-new h4 {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
}
.index-new .swiper-container {
   height: 3rem;
}
.index-new-cont {
    margin: 0;
    border-left: none;
}

.new-section-1 {
    background-color: #fff;
}
.new-section-1 .top {
    border-bottom: 1px solid #dcdcdc;
}
.new-section-1 .pull-left {
    position: relative;
    width: 50%;
    height: 10rem;
}
.new-section-1 .pull-left>div,
.new-section-1 .pull-left>img {
    position: absolute;
}
.new-section-1 .pull-left>div {
    top: 1rem;
    left: 1rem;
}
.new-section-1 .pull-left h2 {
    font-size: 1.5rem;
}
.new-section-1 .pull-left small {
    display: block;
    margin-top: 2px;
    font-size: 1.2rem;
    color: #666;
}
.new-section-1 .pull-left>img {
    right: 1rem;
    bottom: 1rem;
    width: 7.45rem;
}
.border-r-1 {
    border-right: 1px solid #dcdcdc;
}
.product-div {
    background: transparent;
}
.product-list-medium.imp-class {
    padding: 0 0 .2rem;
}
.product-list-medium.imp-class .product-text {
    padding: .8rem 0 0 0;
}
.product-list-medium h4 {
    height: auto;
    line-height: 1;
}
.product-text p {
    padding: 0;
}
.new-zc .product-text {
    padding: 1.1rem 0 .6rem 0;
}
.imp-class.swiper-container {
    margin-top: 0;
}
.index-title.imp-class {
    padding: 0;
    line-height: 2rem;
    font-size: 1.5rem;
}