/*.container,
.col-lg-1, .col-lg-10, 
.col-lg-11, .col-lg-12, 
.col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, 
.col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, 
.col-md-11, .col-md-12, 
.col-md-2, .col-md-3, 
.col-md-4, .col-md-5, 
.col-md-6, .col-md-7, 
.col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, 
.col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, 
.col-sm-6, .col-sm-7, 
.col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, 
.col-xs-11, .col-xs-12, 
.col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, 
.col-xs-6, .col-xs-7, 
.col-xs-8, .col-xs-9 {
	padding-left: .833rem;
	padding-right: .833rem;
}
.row {
    margin-right: -.833rem;
    margin-left: -.833rem;
}
h1 {
	margin: 0;
}
h2,h3 {
	font-size: 1.333rem;
}
body {
	font-size: 1.333rem;	
	color: #333;
	background-color: #fff;
}
.padding-0 {
	padding: 0!important;
}
.sec-2,.sec-3 {
	padding: .833rem;
}
.sec-2 .wrap {
	position: relative;
}
.sec-2 .wrap:first-child {
	margin-bottom: 1rem;
}
.sec-2 .col-xs-1 {
	position: absolute;
	padding: 0 .5rem;
	color: #fff;
	height: 100%;
	text-align: center;
	background-color: #f99021;
}
.sec-2 .col-xs-1 span {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 1;
	-webkit-transform: translate3d(-50%,-50%,0);
	        transform: translate3d(-50%,-50%,0);
}
.sec-2 .p2 {
	padding-top: .833rem;
}
.sec-2 .div2 {
	padding: 1rem .833rem;
}
.sec-3 h2 {
	color: #45519b!important;
}
.sec-3 {
	background: url(../img/newapp/par-pic3.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.sec-3 h2,.sec-5 h2 {
	margin-bottom: 1rem;
	color: #f99021; 
	font-weight: 600;
	text-align: center;
}
.sec-3 h3,.sec-3 h4,.sec-3 h2,
.sec-5 h2 {
	font-size: 1.333rem;
}
.sec-3 .col-xs-4 {
	padding: 0 .3rem;
	margin-bottom: .8rem;
	text-align: center;
}
.sec-3 .col-xs-4 .wrap {
	display: inline-block;
	margin-bottom: .5rem;
	padding: .72rem;
	background-color: rgba(0,0,0,.05);
}
.sec-3 .col-xs-4 .wrap,
.sec-3 .col-xs-4 .wrap>div {
	border-radius: 50%;
	text-align: center;
}
.sec-3 .col-xs-4 .wrap>div {
	padding-top: .8rem;
	width: 4.83rem;
	height: 4.83rem;
	background-color: #fff;
}
.sec-4 .col-xs-12 {
	padding: 1.3rem 1rem 1rem 1rem;
}
.sec-4 .col-xs-12 * {
	text-indent: 2rem;
}
.sec-4 .col-xs-12 h2 {
	font-size: 1.333rem;
	color: #f99021; 
}
.sec-4 .col-xs-12 h2:first-child + p {
	margin-bottom: 1rem;
}
.sec-5 {
	position: relative;
	height: 21.55rem;
	background-color: #ddd;
}
.sec-5 .left,
.sec-5 .right,
.sec-5 .middle {
	position: absolute;
	top: 50%;
}
.sec-5 .left,
.sec-5 .right {
	z-index: 10;
	padding-top: 1rem;
	width: 10.61rem;
	height: 10.61rem;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #66b699;
	-webkit-transform: translate3d(0,-50%,0);
	        transform: translate3d(0,-50%,0);
}
.sec-5 .left dd,
.sec-5 .right dd {
	line-height: 1.2;
}
.sec-5 .left:before,
.sec-5 .right:before {
	z-index: 4;
	border: .7rem solid transparent;
}
.sec-5 .left:before,
.sec-5 .right:before,
.sec-5 .left:after,
.sec-5 .right:after {
	position: absolute;
	top: 50%;
	content: "";
	display: block;
	width: 0;
	height: 0;
	-webkit-transform: translate3d(0,-50%,0);
	        transform: translate3d(0,-50%,0);
}
.sec-5 .left:after,
.sec-5 .right:after {
	z-index: 5;
	border: .5rem solid transparent;
}
.sec-5 .left:after {
	left: 100%;
	border-left-color: #66b699;
}
.sec-5 .right:after {
	right: 100%;
	border-right-color: #66b699;
}
.sec-5 .left:before {
	left: 100%;
	border-left-color: #fff;
}
.sec-5 .right:before {
	right: 100%;
	border-right-color: #fff;
}
.sec-5 .middle {
	left: 50%;
	color: #f99021;
	-webkit-transform: translate3d(-50%,-50%,0);
	        transform: translate3d(-50%,-50%,0);	
}
.sec-5 li {
	margin-bottom: .67rem;
	padding: .28rem;
	border-radius: 8px;
	background-color: #fff;
}
.sec-5 li:last-child {
	margin-bottom: 0;
}
.sec-5 li>* {
	float: left;
}
.sec-5 li h3 {
	box-sizing: content-box;
	padding: 0 1.2rem;
	width: 1rem;
}
.sec-5 li div {
	padding-left: .7rem;
	border-left: 1px solid #333;
}
.sec-5 .left {
	left: .5rem;
}
.sec-5 .right {
	right: .5rem;
}
.sec-6 {
	padding: 3.33rem .833rem;
}
.sec-6 h2 {
	color: #f99021;
	font-size: 2rem;
}
.sec-6 dd {
	position: relative;
	padding-left: 5.5rem;
	margin-top: 3.33rem;
}
.sec-6 {
	text-indent: 2rem;
}
.sec-6 dd span {
	position: absolute;
	top: 0;
	left: 0;
	width: 4.39rem;
	height: 4.39rem;
	font-size: 2rem;
	color: #fd4c5f;
	font-weight: 600;
	text-indent: 1.5rem;
	line-height: 4rem;
	background: url(../img/newapp/par-bg1.png) no-repeat left center;
	background-size: 100% 100%;
}
.sec-7 {
	padding: 10rem 0 0 3rem;
	height: 26.2rem;
	color: #fff;
	background: url(../img/newapp/par-pic4.jpg) no-repeat left center;
	background-size: 100% 100%;
}
.sec-7 h2 {
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 600;
	color: #f99021;
	text-indent: 1rem;
}
.sec-7 li {
	padding-left: 1.3rem;
	line-height: 1.6;
	background: url(../img/newapp/par-bg2.png) no-repeat left center;
	background-size: 1rem 1rem;
}
.sec-8 {
	padding: 1rem 0;
	height: 15.111rem;
	background: url(../img/newapp/par-pic7.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.sec-8 h2 {
	margin-bottom: 1rem;
	color: #f99021;
	font-weight: 600;
	text-align: center;
}
.sec-8 .form-group {
	margin-bottom: .6rem;
}
.sec-8 label {
	text-align: right;
}
.sec-8 label,
.sec-8 input,
.sec-8 button,
.sec-8 select {
	padding: 0;
	height: 1.555rem;
	font-size: 1.333rem;
	line-height: 1.555rem;
}
.sec-8 input {
	padding-left: .5rem;
}
.sec-8 button {
	color: #fff;
	background-color: #f99021;
}
.sec-9 {
	padding: 2rem 0;
	text-align: center;
	color: #58a5e7;
}
.sec-9 h2,.sec-9 h3 {
	color: #f99021;
}
.sec-9 h3 {
	padding-bottom: 1.5rem;
}
.sec-9 h2 {
	padding-top: 1.5rem;
	font-size: 3.33rem;
}*/


*{
	font-family: "微软雅黑","黑体",sans-serif;
	font-size: 1.5rem;
}
body,
#banner{
	width: 100%;
	background-color: #f4f4f4;
}
#wrap{
	width: 100%;
	margin: 0px auto;
	padding: 0 10px;
}
#banner img{
	width: 100%;
}
.banner-af{
	width: 100%;
	overflow: hidden;
	margin: 10px 0px;
	position: relative;
}
.banner-af img{
	width: 100%;
	height: 85px;
	display: block;
	position: relative;
	left: -2.5px;
}

.banner-af .text-top{
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0px;
	left: -4.5px;
}
.banner-af .text-top li{
	width: 33.3%;
	height: 85px;
	text-align: center;
	color: white;
	font-size: 1.8rem;
	position: relative;
}
.banner-af .text-top li span{
	width: 100%;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	position: absolute;
	top: 7.5px;
	left: 0;
}
.banner-af .text-top li span:last-of-type{
	top: 37.5px;
}
.banner-af .text-right img{
	width: 100%;
	height: 100%;
}
.banner-af .text-right{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.banner-af .text-right div{
	font-size: 0.5rem;
	width: 50%;
	height: 33.33%;
	text-align: left;
	align-self: center;
	position: absolute;
	top: 33.33%;
	left: 50%;
}
.banner-af .text-right div:first-of-type{
	top: 0;
}
.banner-af .text-right div:last-of-type{
	top: 66.66%;
}
.banner-af .text-right span{
	font-size:0.8rem;
}
.model{
	position: relative;
	width: 100%;
}
.model>img{
	width: 100%;
	height: 85px;
}
.model h2{
	width: 100%;
	font-size: 1.8rem;
	color: white;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 85px;
}
.model ul{
	width: 100%;
	overflow: hidden;
}
.model ul li{
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 20px;
}
.model ul li img{
	width: 100%;
	position: relative;
	top: 0px;
}
.model ul li .text-li{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content:center ;
}
.text-li h3{
	width: 100%;
	height: 10%;
	font-size: 1rem;
	line-height:10%;
}
.text-li div{
	width: 100%;
	height: 40%;
	font-size: 1rem;
	text-align: center;
}
.myth{
	width: 100%;
	height: 85px;
}
.myth img{
	height: 85px;
}
.myth h1{
	width: 100%;
	height: 85px;
	line-height: 85px;
	color: white;
	text-align: center;
	font-size: 1.8rem;
	position: absolute;
	top: 0px;
	margin: 0;
}
.special h3{
	color: red;
}
.img-wrap{
	width: 100%;
	height: 100%;
}
.img-wrap img{
	width: 100%;
	height: 100%;
}
.media {
	width: 100%;
}
.media h1{
	width: 100%;
	line-height: 30px;
	color: red;
	text-align: center;
	font-size: 1.5rem;
}
.media p{
	width: 100%;
	height: 120px;
	font-size: 1.5rem;
	padding: 0 20px;
}
.media img{
	width: 100%;
	height: 100%;
}
.media1 img{
	width: 100%;
	height: 100%;
}
.media2{
	position: relative;
}
.media2 h1{
	width: 100%;
	line-height: 30px;
	color: red;
	text-align: center;
	font-size: 1.5rem;
}
.media2 h2{
	width: 100%;
	height: 85px;
	line-height: 85px;
	color: white;
	text-align: center;
	font-size: 1.8rem;
	position: absolute;
	top: 40px;
	margin: 0;
}
.media2 img{
	width: 100%;
	height: 100%;
}
.media2 img:first-of-type{
	height: 85px;
}
.all-text{
	width: 100%;
}
.all-text ul{
	margin-top: 20px;
}
.all-text li{
	width: 100%;
	margin-bottom: 20px;
	font-weight: 550;
}
.all-text li h4{
	width: 100%;
	line-height: 25px;
}
.all-text li h4 span{
	display: inline-block;
	width: 10px;
	height: 10px;
	font-size: 1.5rem;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 5px 2px 15px;
}
.all-text li p{
	width: 100%;
	padding: 0 10px;
}
.character{
	width: 100%;
}
.character img{
	width: 100%;
	height: 100%;
}
.character h1{
	width: 100%;
	font-size: 1.5rem;
	color: red;
	text-align: center;
	padding: 10px 20px 0 20px;
	line-height: 30px;
}
.range{
	width: 100%;
	position: relative;
}
.range>img{
	width: 100%;
	height: 85px;
}
.range h1{
	width: 100%;
	color: white;
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 1.8rem;
	line-height: 85px;
	margin: 0px;
}
.range ul li{
	
}
.range ul li img{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
.achievement {
	width: 100%;
	position: relative;
}
.achievement img{
	width: 100%;
	height: 85px;
}
.achievement h1{
	width: 100%;
	color: white;
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 1.8rem;
	line-height: 85px;
	margin: 0px;
}
.achievement dl dd{
	width: 100%;
	margin-top: 20px;
}
.achievement dl dd p{
	width: 100%;
	padding: 0 20px 0 30px;
}
.case{
	width: 100%;
	position: relative;
}
.case>img{
	width: 100%;
	height: 85px;
	margin: 20px 0;
}
.case .wrap-img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.case .wrap-img img:first-of-type{
	width: 60%;
	height: 100%;
	float: left;
}
.case .wrap-img img:last-of-type{
	width: 40%;
	height: 100%;
	float: left;
}
.case h1{
	width: 100%;
	line-height: 85px;
	text-align: center;
	font-size: 1.8rem;
	position: absolute;
	top: 20px;
	color: white;
	margin: 0px;
}
.case p{
	padding: 20px;
}
.case p span{
	display: block;
	width: 100%;
	text-align: right;
}
.sec-8 {
	padding: 1rem 0;
	height: 15.111rem;
	background: url(../img/newapp/par-pic7.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.sec-8 h2 {
	margin-bottom: 1rem;
	color: #f99021;
	font-weight: 600;
	text-align: center;
	font-size: 1.8rem;
}
.sec-8 .form-group {
	margin-bottom: .6rem;
}
.sec-8 label {
	text-align: right;
}
.sec-8 label,
.sec-8 input,
.sec-8 button,
.sec-8 select {
	padding: 0;
	height: 1.555rem;
	font-size: 1.333rem;
	line-height: 1.555rem;
}
.sec-8 input {
	padding-left: .5rem;
}
.sec-8 button {
	color: #fff;
	background-color: #f99021;
}
@media only screen and (max-width: 420px) {
	
	.text-li div{
		height: 65%;
	}
	.text-li1 div h3{
		font-size: 0.8px;
	}
	.text-li1 div{
		height:65%;
		font-size: 0.8rem;
	}
	/*.special h3{
		font-size: 1.2rem;
	}
	.special,
	.special img{
		height: 200px !important;
	}
	.img-wrap,
	.img-wrap img{
		height: 400px;
	}
	.character img{
		height: 100px;
	}
	.img-wrap,
	.img-wrap img{
		height: 300px;
	}
	.achievement dl dd p,
	.character h1{
		line-height: 20px;
	}*/
}
