{include file="page_header"}
<link rel="stylesheet" href="../mobile/statics/css/activ-1.css?abc=201711291">
<script src="../mobile/statics/js/layer.js"></script>
<body>
<header>
    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/q5.jpg" alt="" />
    <a href="/mobile/index.php?r=site" class="toIndex">首页</a>
    <a href="#" class="share">分享</a>
</header>
<main>
    <section class="sec-1 flex">
    	 <img  width="100%" src="../mobile/statics/img/newapp/q4.jpg" alt="" />
    	 <div class="inner">
    	 	<div class="imgs">
    	 		<img class="img" src="../mobile/statics/img/newapp/icon.jpg" alt="" />
    	 	</div>
    	 	<div class="wrap flex">
    	 		<div class="calendar">
    	 			<img class="true" width="100%" src="../mobile/statics/img/newapp/qian.png"/>
    	 			<img class="false" style="display: none;" width="100%" src="../mobile/statics/img/newapp/qian2.png" alt="" />
	    	 		<div class="text">
	    	 			<h3 id="week"></h3>
	    	 			<h3 id="time"></h3>
	    	 		</div>
	    	 	</div>
    	 	</div>
    	 </div>
        <!--  <dl class="flex">
            <dd style="text-align:center;"><img style="width: 70%;" src="../mobile/statics/img/newapp/20171124_1.png"></dd>
            <dd style="text-align:center;"><img style="width: 70%;" src="../mobile/statics/img/newapp/20171124_1.png"></dd>
        </dl>
      <div class="wrap-notice flex">
            <i class="icon"></i>
            <div class="swiper-container notice">
                <div class="swiper-wrapper">
                    {foreach $config.sham as $k => $sham}
                    <div class="swiper-slide">
                        <p>{$sham}</p>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>-->
    </section>
    <section class="sec-2">
        <ul>
            <li class="flex">
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
            </li>
            <li class="flex">
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
            </li>
            <li class="flex">
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/fan_05.jpg" alt="">
                </div>
            </li>
        </ul>
    </section>
       <section class="sec-3">
        <!--<p><img style="width: 40%;" src="../mobile/statics/img/newapp/zeor_gift.png"></p>
        <div>
            <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/zeor_gift_border.png" alt="">
            <div style="margin-top: -205px; position: absolute; width: 95%;">
                <a href="../mobile/index.php?r=goods&id=1253&u=0"><img style="width: 35%;" src="../mobile/statics/img/newapp/zeor_gift_1.jpg"></a>
                <a href="../mobile/index.php?r=goods&id=1805&u=0">
                <img style="width: 35%;" src="../mobile/statics/img/newapp/zeor_gift_2.jpg">
                </a>
            </div>
        </div> -->
        <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/q6.jpg" alt="">
        <div class="zero zero1">
        	<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/one.jpg" alt="">
        	<ul class="flex">
        		<a href="../mobile/index.php?r=goods&id=1813&u=0"><li></li></a>
        		<a href="../mobile/index.php?r=goods&id=1812&u=0"><li></li></a>
        	</ul>
        	<ul class="flex">
        		<a href="../mobile/index.php?r=goods&id=1847&u=0"><li></li></a>
                <a href="../mobile/index.php?r=goods&id=1848&u=0"><li></li></a>
        	</ul>
        </div>
    </section>
    <section class="sec-3">
        <img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/title.jpg" alt="">
        <div class="zero zero2">
        	<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/q1.jpg" alt="">
        	<ul class="flex">
        		<a href="../mobile/index.php?r=goods&id=1849&u=0"><li></li></a>
        		<a href="../mobile/index.php?r=goods&id=1850&u=0"><li></li></a>
        	</ul>
        	<ul class="flex">
        		<a href="../mobile/index.php?r=goods&id=1851&u=0"><li></li></a>
                <a href="../mobile/index.php?r=goods&id=1852&u=0"><li></li></a>
        	</ul>
        </div>
    </section>
    <section class="sec-4 flex">
        	<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/ad.jpg" alt="">
        	<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUyNzAzNDcyOQ==&scene=124#wechat_redirect"><button> 关注</button></a>
    </section>
</main>
<footer>
    <dl>
        <dt>活动细则:</dt>
        <dd>
            {nl2br($config.rule)}
        </dd>
    </dl>
</footer>
<!--<div class="dialog-getTel dialog" >
    <div class="content" >
        <div class="head"><div class="close">关闭</div></div>
        <form class="flex" action="">
            <input id="tel" type="number" pattern="[0-9]*" placeholder="请输入您的手机号" />
            <div class="getCode" >
                <input id="code" type="number" pattern="[0-9]*" placeholder="填写您的验证码">
                <button type="button">获取验证码</button>
            </div>
            <a class="finish">完成</a>
        </form>
    </div>
</div>-->
<div class="dialog-getTel dialog flex" >
	<!--<img class="img-responsive" src="../mobile/statics/img/newapp/yan.png" alt="">-->
    <div class="content"style="margin-top: 200px;"><!---->
        <form class="flex" action="">
            <input id="tel" type="number" pattern="[0-9]*" placeholder="请输入您的手机号" />
            <div class="getCode flex" >
                <input id="code" type="number" pattern="[0-9]*" placeholder="您的验证码">
                <button type="button">获取验证码</button>
            </div>
            <div class="flex fora">
            	<div class="kong"></div>
            	 <a class="finish">完成</a>
            	 <div class="kong"></div>
            	 <a class="cansle">取消</a>
            	 <div class="kong"></div>
            </div>
        </form>
    </div>
</div>
<!--<div class="dialog-Winning dialog">
    <div class="content">
        <div class="close"></div>
        <div class="main-body">
            <p>获得<span class="prize_name"></span>X1</p>
            <p>请关注公众号【941红木网】</p>
            <!--<p>请联系微信客服领取</p>-->
            <!--<p>【941红木】查看</p>-->
            <!--<p>联系客服领取</p>
            <a>确 定</a>
        </div>
    </div>
</div>-->
<!--领取-->
<section class="tling flex"style="display: none;">
    <img class="zhe" src="../mobile/statics/img/newapp/zhe.jpg" alt="">
	<div class="imgtext">
		 <img width="100%" class="" src="../mobile/statics/img/newapp/ling.jpg" alt="">
		  <div class="textss">
	    	<h4>恭喜您，获得</h4>
	    	<p class="prize_name">1111</p>
	    </div>
	</div>
</section>
<!--签到-->
<section class="tqian flex"style="display: none;">
    <img class="first" src="../mobile/statics/img/newapp/success.jpg" alt="">
    <img class="zhe" src="../mobile/statics/img/newapp/zhe.jpg" alt="">
</section>
<div class="dialog-share dialog">
    <div class="content">
        <div class="close"></div>
        <div class="main-body">
            <div class="jiathis_style_m"></div>
        </div>
    </div>
</div>
<div class="dialog-wx-share dialog">
    <div class="content flex">
        <img class="arrow" src="../mobile/statics/img/newapp/pre-16.png" alt="">
        <img class="txt" src="../mobile/statics/img/newapp/pre-15.png" alt="">
    </div>
</div>
<div class="follow"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUyNzAzNDcyOQ==&scene=124#wechat_redirect"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-17.png" alt=""></a></div>
<section class="ago"style="display: none;">
        <img class="txt" src="../mobile/statics/img/newapp/ago.jpg" alt="">
        <div class="cal">
        	<div class="inner-cal">
        		<table class="table">
        				<h3 id="intime"></h3>
        			<tr>
        				<th>日</th><th>一</th><th>二</th><th>三</th><th>四</th><th>五</th><th>六</th>
        			</tr>
        			<tr class="cla1">
        				<td class="cla"></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        			<tr class="cla2">
        				<td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        			<tr class="cla3">
        				<td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        			<tr class="cla4">
        				<td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        			<tr class="cla5">
        				<td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        			<tr class="cla6">
        				<td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        			</tr>
        		</table>
        	</div>
        	<div class="texts flex">
        		<ul class="flex ">
        			<li>当月累计签到积分：</li>
        			<li></li>
        		</ul>
        		<ul class="flex">
        			<li>当月签到总天数：</li>
        			<li></li>
        		</ul>
        		<ul class="flex">
        			<li>累计签到总积分：</li>
        			<li></li>
        		</ul>
        	</div>
        </div>
</section>
</body>
<!--统计代码-->
<script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?49a2fe95c7db7c2caf78bc0d55c31d53";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
//  $(function(){
//      var swiper = new Swiper('.notice', {
//          paginationClickable: true,
//          direction: 'vertical',
//          loop: true,
//          grabCursor: true,
//          autoplayDisableOnInteraction: false,
//          autoplay: 4000,
//          speed: 700,
//          freeMode: true,
//          noSwiping : true,
//      });
//  })
</script>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<script src="../mobile/statics/js/active1.js?abc=20171228"></script>
</html>