{include file="page_header"}
<link rel="stylesheet" href="../mobile/statics/css/activ-1.css">
	<body>
		<header>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/active-1.jpg" alt="">
		</header>
		<section id="main-body">
			<div class="sec-1">
				<h2>国庆大放送 免费黄金周</h2>
				<p>10月1号9:00-10月8号9:00</p>
				<p>系统随机抽取一单免单</p>
				<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/active-2.jpg" alt="">
				<p>活动精选11款产品享受 满减还可使用优惠券</p>
			</div>

			<div class="sec-2">
				<h2>活动产品</h2>
				<ul>
					<li><a href="../mobile/index.php?r=goods&id=217&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-4.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=131&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-5.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1560&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-6.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=256&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-7.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1559&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-8.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=22&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-9.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1212&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-10.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1213&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-11.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1211&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-12.png" alt=""></a></li>
					<li><a href="../mobile/index.php?r=goods&id=1209&u=0"><img class="img-responsive lazy" width="100%" data-original="../mobile/statics/img/newapp/active-013.png" alt=""></a></li>
				</ul>
			</div>
		</section>

		<footer>
			<a href="../mobile/index.php">返回首页</a>
			<p>免单名单公布时间为活动结束后七个工作日内</p>
			<p>被抽中的买家会有工作人员联系通知</p>
			<p>最终免单金额按订单实际付款金额为准(礼品每个ID限一次)</p>
		</footer>
	</body>


	<script src="statics/js/jquery.lazyload.js"></script>
	<script type="text/javascript">
	    $("img.lazy").lazyload({
	      placeholder: "../mobile/statics/img/newapp/loadGoods.gif",
	        effect : "fadeIn",
	        threshold : 400,
	        skip_invisible : false,
	        threshold : 1
	    });
	</script>
</html>