{include file="page_header"}
<link rel="stylesheet" href="../mobile/statics/css/active.css">
	<body>
		<header>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/active-banner_01.jpg" alt="">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/active-banner_02.jpg" alt="">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/active-banner_03.jpg" alt="">
		</header>
		<section id="main-body">
			<div class="section-1">
				<h1><span>金秋送壕礼</span>优惠享不停</h1>
				<small>
					<span>精选产品 折上折</span>
					<span>精选商品 专享享</span>
					活动价+优惠券
				</small>
				<ul class="clearfix">
					<li class="pull-left">
						<div class="top">
							<span><i>&yen;</i>500</span>
							<em>点击领取</em>
						</div>
						<h4>实付满5000使用</h4>
					</li>
					<li class="pull-right">
						<div class="top">
							<span><i>&yen;</i>1200</span>
							<em>点击领取</em>
						</div>
						<h4>实付满10000使用</h4>
					</li>
					<li class="pull-left">
						<div class="top">
							<span><i>&yen;</i>2600</span>
							<em>点击领取</em>
						</div>
						<h4>实付满20000使用</h4>
					</li>
					<li class="pull-right">
						<div class="top">
							<span><i>&yen;</i>3900</span>
							<em>点击领取</em>
						</div>
						<h4>实付满30000使用</h4>
					</li>
				</ul>
			</div>	
			<div class="section-2">
				<h2>优惠商品</h2>
				<div class="wrapper">
					<ul class="product-list">
						<li>
							<a href="../mobile/index.php?r=goods&id=217&u=0"><img src="../mobile/statics/img/newapp/active-pro-1.jpg" alt=""></a>
						</li>
						<li>
							<a href="../mobile/index.php?r=goods&id=131&u=0"><img src="../mobile/statics/img/newapp/active-pro-2.jpg" alt=""></a>
						</li>
						<li>
							<a href="../mobile/index.php?r=goods&id=1560&u=0"><img src="../mobile/statics/img/newapp/active-pro-3.jpg" alt=""></a>
						</li>
						<li>
							<a href="../mobile/index.php?r=goods&id=256&u=0"><img src="../mobile/statics/img/newapp/active-pro-4.jpg" alt=""></a>
						</li>
						<li>
							<a href="../mobile/index.php?r=goods&id=1559&u=0"><img src="../mobile/statics/img/newapp/active-pro-5.jpg" alt=""></a>
						</li>
						<li>
							<a href="../mobile/index.php?r=goods&id=22&u=0"><img src="../mobile/statics/img/newapp/active-pro-6.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
			<footer>
				<a href="../mobile/index.php">返回首页</a>
				<p>免单名单公布时间为活动结束后七个工作日内，</p>
				<p>被抽中的买家会有工作人员联系通知。</p>
				<p>最终免单金额按订单实际付款金额为准。</p>
			</footer>
		</section>
	</body>
	<script>
		$(function() {
			$(".section-1 li").on("click",function() {
				var $this = $(this);
				$this.find("em").text("领取成功");
			});
		});
	</script>
</html>