{include file="page_header-nav"}
<link rel="stylesheet" href="../mobile/statics/css/partner.css">
<!-- <script src="../mobile/statics/js/jquery-2.1.4.min.js"></script> -->
<body>
	<img src="{$img}" alt="">
	<button id="show" type="button" value="{$user_id}">
		点赞助力	
	</button>
	<button id="colect" type="button" value="{$user_id}">
		我要参与	
	</button>
	<!-- <div id="output" style="display: none;">
		<img src="../mobile/statics/img/newapp/zsjm.png" alt="aaa">
	</div> -->
        <form class="flex" action="" style="display: none;">
            <input id="tel" type="number" pattern="[0-9]*" placeholder="请输入您的手机号" />
            <div class="getCode flex" >
                <input id="code" type="number" pattern="[0-9]*" placeholder="您的验证码">
                <button id="gcode" type="button">获取验证码</button>
            </div>
            <div class="flex fora">
            	<div class="kong"></div>
            	 <a id="finish">完成</a>
            	 <div class="kong"></div>
            	 <a class="cansle">取消</a>
            	 <div class="kong"></div>
            </div>
        </form>
</body>
<script type="text/javascript">
	$(function(){
		//判断是否登录
		$("#show").click(function(){
				var user_id=$(this).attr("value");
				//console.log(user_id);
				//如果用户未登录   进入登录过程 
				if(user_id <= 0){
					$(".flex").show();
					//当用户是新用户   可参加活动   if  注册时间<活动开始时间 给Tips  
				}else{
					//如果用户已经登录 会有两个按钮 一个是我要助力  另一个是我要参加
				}
			 	// $("#output").css('display',"block");
			});
		//获取当前的手机号
		$("#gcode").click(function(){
			var tel=$("#tel").val();
			if(!(/^1[3|4|5|7|8][0-9]\d{4,8}$/.test(tel))) {
	            $("#tel+span").remove();
	            $("#tel").after("<span class='error'>您的号码有误</span>");
	            return false;
	        }else{

	        	var param = {phone:tel};
	            //console.log(tel);
	            var url = '../mobile/index.php?r=collect/index/checknum';
	            $.post(url,param,function(data) 
	            {
	                var result = eval('('+data+')');
	                //console.log(result);
	                if(result.id == 1)//这个用户是老用户  不可参加活动
	                {
	                    $("#tel+span").remove();
	                    $("#tel").after("<span class='error'>老用户无法参加此活动</span>");
	                    return false;
	                }else if (result.id == 2) {//新用户
	                	//console.log(tel);
	                	var param = {phone:tel};
            			var url = '../mobile/index.php?r=collect/index/send';
            			$.post(url,param,function (data) {
			                var result = eval('('+data+')');
			                //console.log(result);
			                if(result.id == 3){
			                    var time = 60,
			                        timer,
			                        action = function() {
			                        	//console.log(time);
			                            time--;
			                            if(time>0) {
			                            	//console.log(time);
			                                $("#gcode").text(time + "秒后重新获取");
			                            }else if(time<=0){
			                            	//console.log(time);
			                                $("#gcode").text("获取验证码");
			                                $(this).prop("disabled",false);
			                                clearInterval(timer);
			                            }
			                        };
			                    // e.preventDefault();
			                    $(this).prop("disabled",true);
			                    timer = setInterval(action,1000);
			                }else {
			                    $(".getCode+span").remove();
			                    $(".getCode").after("<span class='error'>"+result.info+"</span>");
			                    // $(".dialog-getTel a").css("margin-top",".5rem");
			                }
			            });
	                } 
	            })
	        }
		})
	})
</script>
</html>