{include file="page_header-nav"}
<link rel="stylesheet" href="../mobile/statics/css/collect.css">
<!-- <script src="../mobile/statics/js/jquery-2.1.4.min.js"></script> -->
<body>
	<header>
		<img width="100%" src="../mobile/statics/img/newapp/collect_title_bg.jpg" alt="">
		<div class="header">
			<img src="../mobile/statics/img/newapp/collect_title.png" alt="">
			<div class="button">
				<a href="javascript:void(0)" id="show" value="{$user_id}">
					<img src="../mobile/statics/img/newapp/collect_button_zan.png" alt="">
				</a>
				<a href="javascript:void(0)" id="rule">
					<img src="../mobile/statics/img/newapp/collect_button_rule.png" alt="">
				</a>
			</div>
		</div>
	</header>
	<section class="major_active">
		<img src="../mobile/statics/img/newapp/collect_title2.png" alt="">
		<div class="active_con">
			<div class="active_con_top">
				<div class="active_con_left">
					<img src="../mobile/statics/img/newapp/collect_zan.png" alt="">
					<p>价值110的</p>
					<p>抱枕1个</p>
					<p>共50个</p>
				</div>
				<div class="active_con_right">
					<img src="../mobile/statics/img/newapp/collect_pillow.png" alt="">
				</div>
			</div>
			<div class="active_con_bottom">
				<p>高档棉麻面料枕套，aa级高弹pp棉枕芯，欧美标准级印花，结实耐用不褪色，蓬松柔软无异味。</p>
			</div>
		</div>
		<div class="active_con">
			<div class="active_con_top">
				<div class="active_con_left">
					<img src="../mobile/statics/img/newapp/collect_zan2.png" alt="">
					<p>价值1088的</p>
					<p>床上四件套一套</p>
					<p>共5套</p>
				</div>
				<div class="active_con_right">
					<img width="90%" class="collect_sheet" src="../mobile/statics/img/newapp/collect_sheet.png" alt="">
				</div>
			</div>
			<div class="active_con_bottom">
				<p>选用长绒棉贡缎面料，触感柔软舒适。经典刺绣拼接工艺，层次丰富，立体感强。</p>
			</div>
		</div>
		<div class="active_con1">
			<ul>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
				<li>
					<span class="list_span1">尾号3621</span><span class="list_span1">抱枕</span><span class="list_span1">2016-01-24</span>
				</li>
			</ul>
		</div>
	</section>
	<!-- <div id="output" style="display: none;">
		<img src="../mobile/statics/img/newapp/zsjm.png" alt="aaa">
	</div> -->
	<div class="flex_message">
		<div class="collect_sms ">
			<div class="sms_title">
				<p>短信验证</p>
				<p>941红木商城</p>
			</div>
			<div class="sms_con">
				<p>为防止重复集赞</p>
				<p>请进行短信验证</p>
				<input id="tel" type="number" pattern="[0-9]*" placeholder="请输入您的手机号" />
				<p id="gcode">获取验证码</p>
	            <input id="code"  class="getCode" type="number" pattern="[0-9]*" placeholder="您的验证码">
	            <p id="tips"></p>
	            <a href="javascript:void(0)"><div class="finish">确认</div></a>
	            <a href="javascript:void(0)"><div id="message_close" class="message_close">关闭</div></a>
			</div>
		</div>
	</div>
	<div class="flex_rule">
		<div class="collect_sms ">
			<div class="sms_title">
				<p>活动规则</p>
				<p>941红木商城</p>
			</div>
			<div class="rule_con">
				<p>1、邀请好友为您助力，即可免费领取礼品</p>
				<p>2、所有用户只能帮一位好友助力一次</p>
				<p>3、两件礼品只能选择兑换其中一件</p>
				<p>4、礼品数量有限，先兑换先获得</p>
				<p>5、逾期不能进行礼品兑换</p>
				<p>6、941红木网可在法律法规允许范围内对活动规则解释</p>
				<a href="javascript:void(0)"><div id="rule_close" class="rule_finish">确认</div></a>
			</div>
		</div>
	</div>
</body>
<script src="../mobile/statics/js/collect.js?abc=20180119"></script>
</html>