{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/designer.css">
	<body>
		<header>
			<div class="des_banner">
				<img width="100%" src="../mobile/statics/img/newapp/des_banner.png" alt="">
			</div>
		</header>
		<section class="des_img">
			<ul class="des_con">
				<li class="des_con_li">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img1.png" alt="">
						<div class="des_img_name">
							<p>张晴</p>
							<img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt="">
						</div>
					</a>
				</li>
				<li class="des_con_li margin_r_0">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img2.png" alt="">
						<div class="des_img_name">
							<p>王丽婷</p>
							<img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt="">
						</div>
					</a>
				</li>
				<li class="des_con_li">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img3.png" alt="">
						<div class="des_img_name">
							<p>吴俊豪</p>
							<img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt="">
						</div>
					</a>
				</li>
				<li class="des_con_li margin_r_0">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img4.png" alt="">
						<div class="des_img_name">
							<p>廖昕红</p>
							<img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt="">
						</div>
					</a>
				</li>
				<li class="des_con_li">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img5.png" alt="">
						<div class="des_img_name">
							<p>李宇鸿</p>
							<!-- <img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt=""> -->
						</div>
					</a>
				</li>
				<li class="des_con_li margin_r_0">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img6.png" alt="">
						<div class="des_img_name">
							<p>杨思媛</p>
							<!-- <img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt=""> -->
						</div>
					</a>
				</li>
				<li class="des_con_li">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img7.png" alt="">
						<div class="des_img_name">
							<p>张袖</p>
							<!-- <img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt=""> -->
						</div>
					</a>
				</li>
				<li class="des_con_li margin_r_0">
					<a href="javascript:void(0)">
						<img width="100%" src="../mobile/statics/img/newapp/des_img8.png" alt="">
						<div class="des_img_name">
							<p>林洋</p>
							<!-- <img width="20%" src="../mobile/statics/img/newapp/des_top.png" alt=""> -->
						</div>
					</a>
				</li>
			</ul>
		</section>
		<section>
			<div class="des_pro">
				<div class="des_pro_title">
					<p>
						成品展示1
					</p>
				</div>
				<div class="des_con">
						<img width="100%" src="../mobile/statics/img/newapp/des_pro1.png" alt="">
						<div class="des_con_pro1">
							<img class="des_con_pro1_img1" src="../mobile/statics/img/newapp/des_pro2.png" alt="">
							<img src="../mobile/statics/img/newapp/des_pro3.png" alt="">
						</div>
				</div>
			</div>
		</section>
		<section>
			<div class="des_pro">
				<div class="des_pro_title">
					<p>
						成品展示2
					</p>
				</div>
				<div class="des_con">
					<div class="des_con_pro2_img1">
						<img src="../mobile/statics/img/newapp/des_pro4.png" alt="">
					</div>
					<div class="des_con_pro2">
						<img src="../mobile/statics/img/newapp/des_pro5.png" alt="">
						<div class="des_con_pro3">
							<img class="des_con_pro3_img1" src="../mobile/statics/img/newapp/des_pro6.png" alt="">
							<img class="des_con_pro3_img2" src="../mobile/statics/img/newapp/des_pro7.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="des_pro">
				<div class="des_pro_title">
					<p>
						成品展示3
					</p>
				</div>
				<div class="des_con">
					<div class="des_con_pro2_img1">
						<img src="../mobile/statics/img/newapp/des_pro8.png" alt="">
					</div>
					<div class="des_con_pro2">
						<img src="../mobile/statics/img/newapp/des_pro9.png" alt="">
						<div class="des_con_pro3">
							<img class="des_con_pro3_img1" src="../mobile/statics/img/newapp/des_pro10.png" alt="">
							<img class="des_con_pro3_img2" src="../mobile/statics/img/newapp/des_pro11.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<a href="https://www.wjx.top/jq/19291607.aspx">
				<div class="des_button">
					<p>立即免费预约设计师</p>
				</div>
			</a>
		</section>
	</body>
</html>