
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="utf-8">
    <meta name="description" content="941红木是厂家直销的红木家具大型O2O交易平台,选择最适合您的红木家具产品,买红木家具产品、红木沙发,找红木家具款式、查红木家具价格、看红木家具图片,上941红木就对了!"/>
    <meta name="keywords" content="红木家具,红木家具网上商城,红木家具定制，红木家具价格，红木家具装修效果图，红木家具款式, 沙发, 床, 茶桌,  红木筷子,书柜, 衣柜 ,  小件, 红木家具 , 买家具卖家具,红木家具商城,红木O2O商城 ,花梨木, 缅花 ,非花红酸枝 ,小叶紫檀 ,大果紫檀, 刺猬紫檀 ,黑光檀 ,老红木 ,紫光檀 ,黄花梨 ,海黄, 越黄 ,非洲花梨 ,缅甸花梨 ,清式家具 , 明清古典 ,新中式红木家具，古典红木家具，茶桌，红木家具十大品牌 ，红木种类 ，红木家具网 ，红木家具价格 , 红木工艺品, 花梨木家具 ,红酸枝家具 ,东阳红木家具,中国红木古典家具网，"/>
    <title>941红木网_红木家具网上商城_红木家具品牌价格_红木家具定制_红木沙发_东阳红木家具_中国红木家居</title>
    <link href="/941hm/mobile/resources/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/swiper-3.2.5.min.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/zyUpload.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/dialog.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/mobile-select-area.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/css/ectouch.css" rel="stylesheet" type="text/css" />
    <script src="../../../resources/assets/script/jquery.min.js"></script>
<script src="../../../resources/assets/script/jquery.infinite.js"></script>
<script src="../../../resources/assets/layer/m/layer.m.js"></script>
<script src="../../../resources/assets/script/template.js"></script>
<script src="../../../resources/assets/script/main/lefttime.js"></script>
<script src="../../../resources/assets/script/jquery.json.js"></script>
<script src="../../../resources/assets/script/validform.js"></script>
<script src="../../../resources/assets/script/main/common.js"></script>
<script src="../../../resources/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../statics/js/swiper-3.2.5.min.js"></script>
<script src="../../../statics/js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="../../../statics/js/jquery.ui.touch-punch.min.js"></script>
<script src="../../../statics/js/jquery.scrollUp.min.js"></script>
<script src="../../../statics/js/ectouch.js"></script>
<script src="../../../statics/js/region_goods.js"></script>
<script src="../../../statics/js/parabola.js"></script>
    <link rel="stylesheet" href="../../../statics/css/newindex.css">
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?49a2fe95c7db7c2caf78bc0d55c31d53";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    </head>
<div class="search-div j-search-div ts-3">
    <section class="search">
        <form action="/941hm/mobile/index.php?r=category/index/products&" method="post" id="search-form">
        <div class="text-all dis-box j-text-all text-all-back">
            <a class="a-icon-back j-close-search" href="javascript:;"><i class="iconfont icon-back"></i></a>
            <div class="box-flex input-text">
                <label class="search-check j-search-check" data="2">
                    <span>商品</span><i class="iconfont icon-xiajiantou"></i>
                </label>
                <input class="j-input-text" type="text" name="keyword" placeholder="红木家具,红木家具网上商城,红木家具定制，红木家具价格，红木家具装修效果图，红木家具款式, 沙发, 床, 茶桌,  红木筷子,书柜, 衣柜 ,  小件, 红木家具 , 买家具卖家具,红木家具商城,红木O2O商城 ,花梨木, 缅花 ,非花红酸枝 ,小叶紫檀 ,大果紫檀, 刺猬紫檀 ,黑光檀 ,老红木 ,紫光檀 ,黄花梨 ,海黄, 越黄 ,非洲花梨 ,缅甸花梨 ,清式家具 , 明清古典 ,新中式红木家具，古典红木家具，茶桌，红木家具十大品牌 ，红木种类 ，红木家具网 ，红木家具价格 , 红木工艺品, 花梨木家具 ,红酸枝家具 ,东阳红木家具,中国红木古典家具网，" />
                <input type="hidden" name="type_select" value="2" />
                <input type="hidden" name="isself" value="" />
                <input type="hidden" name="brand" value="" />
                <input type="hidden" name="price_min" value="" />
                <input type="hidden" name="price_max" value="" />
                <input type="hidden" name="filter_attr" value=""/>
                <i class="iconfont icon-guanbi1 is-null j-is-null"></i>
            </div>
            <a type="button" class="btn-submit" onclick="$('#search-form').submit()">搜索</a>
        </div>
        </form>
    </section>
    <section class="search-con">
        <div class="swiper-scroll history-search">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p>
                        <label class="fl">热门搜索</label>
                    </p>
                    <ul class="hot-search a-text-more">
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E7%BA%A2%E6%9C%A8%E5%AE%B6%E5%85%B7"><span>红木家具</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E9%A4%90%E5%8E%85%E7%B3%BB%E5%88%97"><span>餐厅系列</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E4%B9%A6%E6%88%BF%E7%B3%BB%E5%88%97"><span>书房系列</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E5%8D%A7%E5%AE%A4%E7%B3%BB%E5%88%97"><span>卧室系列</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E7%BC%85%E7%94%B8%E8%8A%B1%E6%A2%A8"><span>缅甸花梨</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E9%9D%9E%E6%B4%B2%E9%85%B8%E6%9E%9D"><span>非洲酸枝</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword=%E9%BB%91%E9%85%B8%E6%9E%9D"><span>黑酸枝</span></a></li>
                                                <li class="w-3"><a href="/941hm/mobile/index.php?r=category/index/products&keyword="><span></span></a></li>
                                            </ul>
                    <p class="hos-search">
                        <label class="fl">最近搜索</label>
                        <span class="fr clear_history"><i class="iconfont icon-xiao10"></i></span>
                    </p>
                                        <div class="no-div-message">
                        <p>暂无搜索记录</p>
                    </div>
                                    </div>
            </div>
        <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <footer class="close-search j-close-search">
        点击关闭
    </footer>
</div>
<script type="text/javascript">
    $(function(){
        //清除搜索记录
        var history = "";
        $(".clear_history").click(function(){
            if(history && $("ul#search-con").length > 0){
                $.get("/941hm/mobile/index.php?r=category/index/clear_history", '', function(data){
                    if(data.status){
                        $("#search-con").remove();
                        var no = '<div class="no-div-message"><p>暂无搜索记录</p></div>';
                        $(".hos-search").after(no);
                    }
                }, 'json');
            }
        });
    })
</script>


<link rel="stylesheet" href="../../../statics/css/company_introduction.css">
<body>
	<section class="banner">
		<a href="#"><img class="img-responsive" src="/941hm/mobile/statics/img/newapp/com-banner1.jpg" width="100%" alt="" /></a>
	</section>
	<section class="sec-1">
		<h2><span>我们最引以自豪的，是一直以来的“专注”</span></h2>
		<ul class="list-unstyled row">
			<li class="col-sm-4">
				<img class="img-responsive" src="/941hm/mobile/statics/img/newapp/com-pic1.jpg" width="100%" alt="" />
				<h3>专注品牌品质</h3>
			</li>
			<li class="col-sm-4">
				<img class="img-responsive" src="/941hm/mobile/statics/img/newapp/com-pic2.jpg" width="100%" alt="" />
				<h3>专注互联网模式</h3>
			</li>
			<li class="col-sm-4">
				<img class="img-responsive" src="/941hm/mobile/statics/img/newapp/com-pic3.jpg" width="100%" alt="" />
				<h3>专注中国传统文化</h3>
			</li>
		</ul>
	</section>


    <footer class="padding-all text-center t-remark">
        {$copyright}
        &copy; <?php echo date('Y');?> <?php echo C('shop.shop_name');?> 版权所有，并保留所有权利。
    </footer>
	<footer class="footer-nav dis-box">
		<a href="{U('site/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{U('category/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-cate"></i><span>分类</span>
		</a>
		<a href="javascript:;" class="box-flex nav-list j-search-input">
			<i class="nav-box i-shop"></i><span>搜索</span>
		</a>
		<a href="{U('cart/index/index')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-flow"></i><span>购物车</span>
		</a>
		{if $filter}
		<a href="{U('drp/user/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>{$custom}中心</span>
		</a>
		{elseif $community}
		<a href="{U('community/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>社区</span>
		</a>
		{else}
		<a href="{U('user/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>我</span>
		</a>
		{/if}
	</footer>
	<!--悬浮菜单e-->
</body>
</html>