{include file="page_header-nav"}
<link rel="stylesheet" href="../mobile/statics/css/myImportant1.css">
<body>
<div class="con mb-7">
    <div class="index-banner swiper-container box position-rel banner-first imp-class">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!--活动页面-->
                <a href="../mobile/index.php?r=preferential">
                  <img src="../mobile/statics/img/newapp/shuang11.jpg" alt="" />
                </a>
            </div>
            <div class="swiper-slide">
              <!--活动页面-->
                <a href="../mobile/index.php?r=preferential">
                  <img src="../mobile/statics/img/newapp/shuang11-2.jpg" alt="" />
                </a>
            </div>
            <div class="swiper-slide">
            <!--招商加盟-->
                  <a href="../mobile/index.php?r=partner">
                    <img src="../mobile/statics/img/newapp/banner1.jpg" alt="" />
                  </a>
            </div>
            <div class="swiper-slide">
            <!--注册送礼-->
                <a href="../mobile/index.php?r=companyintro">
                    <img src="../mobile/statics/img/newapp/banner2.jpg" alt="" />
                </a>
            </div>
            <!--公司简介-->
            <div class="swiper-slide">
                <a href="../mobile/index.php?r=goods&id=1007&u=0">
                    <img src="../mobile/statics/img/newapp/banner3.jpg" alt="" />
                </a>
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination br-half text-c banner-first-pagination"></div>
        <!--search-->
        <section class="search box banner-search">
            <div class="text-all position-rel dis-box j-text-all clearfix">
                <a href="{U('location/index/index')}"><div class="dis-box search-logo"><div class="location-left-cont onelist-hidden">{$current_city.region_name}</div><div class="box-flex"><i class="iconfont icon-moreunfold"></i></div></div></a>
                <div class="input-text n-input-text i-search-input">
                    <a class="a-search-input j-search-input" href="#open_search"></a>
                    <i class="iconfont icon-sousuo"></i>
                    <div class="j-input-text nav-soso">搜索</div>
                </div>
            </div>
        </section>
        <!--linear-->
        <div class="linear"></div>
    </div>
    <!--menu-->
    <nav class="bg-white ptb-1 index-nav">
        <ul class="box ul-5 text-c bg-white">

            {foreach $nav as $key=>$list}
            <li>
                <a href="{$list.url}">
                    <img src="{__TPL__}img/{$list.pic}">
                    <p class="m-top04">{$list.name}</p>
                </a>
			</li>
            {/foreach}

        </ul>
    </nav>
    <!--每日资讯-->
	<section class="dis-box index-new mb-1 position-rel">
        <h2><a href="{U('article/index/index')}">热门资讯</a></h2>
		<div class="box-flex">
			<!-- Swiper -->
			<div class="swiper-container index-new-list imp-class">
				<div class="swiper-wrapper">
          {foreach $article as $vo}
					<div class="swiper-slide swiper-no-swiping">
						<div class="index-new-cont clearfix">
              <a href="{$vo['url']}">
                  <h4 class="pull-left col-3 f-05 onelist-hidden">{$vo['title']}</h4>
              </a>
						</div>
					</div>
          {/foreach}
				</div>
			</div>
		</div>
	</section>
    
    <!--四小栏目-->
    <section class="new-section-1">
        <div class="top clearfix">
          <a href="../mobile/index.php?r=partner">
            <div class="left pull-left border-r-1">
                <div>
                    <h2>招商加盟</h2>
                    <small>一起迈向成功</small>
                </div>
                <img src="../mobile/statics/img/newapp/patner.jpg" alt="招商加盟" />
            </div>
          </a>
          <a href="index.php?r=customization">
            <div class="right pull-left">
                <div>
                    <h2>全屋定制</h2>
                    <small>定制专属家居</small>
                </div>
                <img src="../mobile/statics/img/newapp/qwdz.jpg" alt="全屋定制" />
            </div>
          </a>           
        </div>
        <div class="btm clearfix">
          <a href="index.php?r=exchange">
            <div class="left pull-left border-r-1">
                <div>
                    <h2>积分换购</h2>
                    <small>0元换购商品</small>
                </div>
                <img src="../mobile/statics/img/newapp/jfhg.jpg" alt="积分换购" />
            </div>
          </a>
          <a href="index.php?r=crowd_funding">
            <div class="right pull-left">
                <div>
                    <h2>匠物众筹</h2>
                    <small>筹得精琢美物</small>
                </div>
                <img src="../mobile/statics/img/newapp/jwzc.jpg" alt="匠物众筹" />
            </div>
          </a>
        </div>
    </section>
    <script type="text/javascript">
        var gmt_end_time = {if $end_time}{$end_time}{else}0{/if};
        var day = '<em class="color-whie hour">';
        var hour = '</em> : <em class="color-whie mini">';
        var minute = '</em> : <em class="color-whie sec">';
        var second = '</em>';
        var end = '';
        onload = function(){
            try {onload_leftTime();}
            catch (e) {}
        }
    </script>
    <!--每日秒杀-->
    <div class="index-banner swiper-container box banner-second margin-tb-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=category/index/products&intro=hot">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic15.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    
    <!--每日秒杀相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_ms as $key => $sql_ms} --><!--原来是：foreach $hot_goods as $key => $best-->
          <!--<li>
            <div class="product-div">
              <a class="product-div-link" href="{$best.url}"></a>
              <img class="product-list-img lazy" data-original="{$best.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$best.goods_name}</h4>
                  <p class="text-center"><span class="p-price t-first ">{$best.current_price}</span></p>
              </div>
            </div>
          </li>-->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_ms.goods_id}&u=0"></a>
                <img class="product-list-img lazy" data-original="../{$sql_ms.goods_thumb}" />
              <div class="product-text">
                <h4 class="onelist-hidden">{$sql_ms.goods_name}</h4>
                <p class="text-center">
                  <span class="p-price t-first ">
                  <em>￥</em>{$sql_ms.market_price}</span></p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>
    <!--匠物众筹-->
    <!--
    <div class="index-banner swiper-container box mb-1 banner-second">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=crowd_funding">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic16.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>-->
    
    <!--匠物众筹相关产品-->
    <!--<section class="product-list-medium new-zc">
        <ul class="clearfix">-->
          <!-- {foreach $zc_list as $key => $zc_list} -->
          <!--<li>
            <div class="product-div">
              <a class="product-div-link" href="{$zc_list.url}"></a>
              <img class="product-list-img lazy" data-original="../{$zc_list.title_img}" />
              <div class="product-text">
                  <h4 class="text-center onelist-hidden">{$zc_list.title}</h4>-->
                  <!--<p><span class="p-price t-first ">{$best.current_price}</span></p>-->
              <!--</div>
            </div>
          </li>-->
          <!-- {/foreach} -->
        <!--</ul>
    </section>-->
    
    <!--节日精选-->
    <div class="index-banner swiper-container box banner-second margin-tb-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic19.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    <!--节日精选相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_jx as $key => $sql_jx} --><!--原来是：foreach $hot_goods as $key => $best-->
          <!--<li>
            <div class="product-div">
              <a class="product-div-link" href="{$best.url}"></a>
              <img class="product-list-img lazy" data-original="{$best.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$best.goods_name}</h4>
                  <p class="text-center"><span class="p-price t-first ">{$best.current_price}</span></p>
              </div>
            </div>
          </li>-->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_jx.goods_id}&u=0"></a>
                <img class="product-list-img lazy" data-original="../{$sql_jx.goods_thumb}" />
              <div class="product-text">
                <h4 class="onelist-hidden">{$sql_jx.goods_name}</h4>
                <p class="text-center">
                  <span class="p-price t-first ">
                  <em>￥</em>{$sql_jx.market_price}</span></p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>





    <!--餐厅-->
    <div class="index-banner swiper-container box mb-1 banner-second imp-class">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=category/index/products&id=453">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic11.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    
    <!--餐厅系列相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_ct as $key => $sql_ct} -->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_ct.goods_id}&u=0"></a>
              <img class="product-list-img lazy" data-original="../{$sql_ct.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$sql_ct.goods_name}</h4>
                  <p class="text-center"><span class="p-price t-first "><em>￥</em>{$sql_ct.market_price}</span></p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>

    <!--客厅-->
    <div class="index-banner swiper-container box mb-1 banner-second">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=category/index/products&id=113">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic12.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    
    <!--客厅系列相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_kt as $key => $sql_kt} -->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_kt.goods_id}&u=0"></a>
              <img class="product-list-img lazy" data-original="../{$sql_kt.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$sql_kt.goods_name}</h4>
                  <p class="text-center"><span class="p-price t-first "><em>￥</em>{$sql_kt.market_price}</span></p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>

    <!--书房-->
    <div class="index-banner swiper-container box mb-1 banner-second imp-class">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=category/index/products&id=147">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic13.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    
    <!--书房系列相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_sf as $key => $sql_sf} -->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_sf.goods_id}&u=0"></a>
              <img class="product-list-img lazy" data-original="../{$sql_sf.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$sql_sf.goods_name}</h4>
                  <p class="text-center"><span class="p-price t-first "><em>￥</em>{$sql_sf.market_price}</span></p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>

    <!--卧室-->
    <div class="index-banner swiper-container box mb-1 banner-second imp-class">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="index.php?r=category/index/products&id=14">
                    <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic14.jpg" alt="" />
                </a>
            </div>
        </div>
    </div> 
    <!--卧室系列相关产品-->
    <section class="product-list-medium imp-class">
        <ul class="clearfix">
          <!-- {foreach $sql_ws as $key => $sql_ws} -->
          <li>
            <div class="product-div">
              <a class="product-div-link" href="../mobile/index.php?r=goods&id={$sql_ws.goods_id}&u=0"></a>
              <img class="product-list-img lazy" data-original="../{$sql_ws.goods_thumb}" />
              <div class="product-text">
                  <h4 class="onelist-hidden">{$sql_ws.goods_name}</h4>
                  <p class="text-center">
                        <span class="p-price t-first ">
                            <em>￥</em>
                          <!--{if $key.market_price == 0}-->
                            {$sql_ws.shop_price}
                          <!--{/if}-->
                        </span>
                    </p>
              </div>
            </div>
          </li>
          <!-- {/foreach} -->
        </ul>
    </section>

    <!--精品推荐-->
    <div class="box title inx-ms">
        <div class="index-banner swiper-container box mb-1 banner-second imp-class">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="index.php?r=category/index/products&intro=best">
                        <img class="lazy" data-original="../mobile/statics/img/newapp/index-pic17.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>

        <section class="product-list-medium imp-class">
            <ul class="clearfix">
              <!-- {foreach $best_goods as $key => $best} -->
              <li>
                <div class="product-div">
                  <a class="product-div-link" href="{$best.url}"></a>
                  <img class="product-list-img lazy" data-original="{$best.goods_thumb}" />
                  <div class="product-text">
                      <h4 class="onelist-hidden">{$best.goods_name}</h4>
                      <p class="text-center"><span class="p-price t-first ">{$best.current_price}</span></p>
                  </div>
                </div>
              </li>
              <!-- {/foreach} -->
            </ul>
        </section>

    </div>

    <!--like-->
    <p class="index-title padding-all text-c imp-class">猜你喜欢</p>
    <section class="product-list j-product-list product-list-medium" data="1">
		<script id="j-product" type="text/html">
		<ul>
			<%each list as goods%>
			<li>
				<div class="product-div">
					<a class="product-div-link" href="<%goods.url%>"></a>
					<img class="product-list-img" src="<%goods.goods_thumb%>" />
					<div class="product-text">
              <h4 class="onelist-hidden"><%goods.goods_name%></h4>
              <p class="text-center"><span class="p-price t-first "><%#goods.current_price%><small></small></span></p>
              <a href="javascript:void(0)" class="icon-flow-cart fr j-goods-attr"><i class="iconfont icon-gouwuche"></i></a>
          </div>
				</div>
			</li>
			<%/each%>
		</ul>
		</script>
    </section>

    <div class="n-footer-box" style="display: none;">
        <ul class="n-footer-minbox">
            <li>
                <a href="http://m.ecmoban.com/index.php?m=touch&amp;c=index&amp;a=download">
                    <div class="n-footer-img-box"><img src="{__TPL__}/img/footer-a.png"></div>
                    <p class="footer-tit1">客户端</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="n-footer-img-box"><img src="{__TPL__}/img/footer-c.png"></div>
                    <p class="footer-tit">触屏版</p>
                </a>
            </li>
            <li>
                <a href="{__HOST__}">
                    <div class="n-footer-img-box"><img src="{__TPL__}/img/footer-b.png"></div>
                    <p class="footer-tit1">电脑版</p>
                </a>
            </li>
        </ul>
    </div>

	<div class="footer-cont"><span><img src='{__TPL__}img/loading1.gif'>正在加载……</span></div>
	<div class="filter-top filter-top-index" id="scrollUp">
		<i class="iconfont icon-jiantou"></i>
	</div>
    <footer class="padding-all text-center t-remark">
        {$copyright}
        &copy; <?php echo date('Y');?> <?php echo C('shop.shop_name');?> 版权所有，并保留所有权利。
    </footer>
	<footer class="footer-nav dis-box">
		<a href="{U('site/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{U('category/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-cate"></i><span>分类</span>
		</a>
		<a href="javascript:;" class="box-flex nav-list j-search-input">
			<i class="nav-box i-shop"></i><span>搜索</span>
		</a>
		<a href="{U('cart/index/index')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-flow"></i><span>购物车</span>
		</a>
		{if $filter}
		<a href="{U('drp/user/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>{$custom}中心</span>
		</a>
		{elseif $community}
		<a href="{U('community/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>社区</span>
		</a>
		{else}
		<a href="{U('user/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>我</span>
		</a>
		{/if}
	</footer>
	<!--悬浮菜单e-->


  <style>
    .dialog-11 {
      z-index: 10000;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,.3);
    }
    .dialog-11 .close-djj,
    .dialog-11 a {
      position: absolute;
    }
    .dialog-11 .close-djj {
      top: 10%;
      right: 10%;
      width: 2.888rem;
      height: 2.888rem;
      background: url(../mobile/statics/img/newapp/dialog-pic1.png);
      background-size: 100% 100%;
    }
    .dialog-11 a {
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate3d(-50%,-50%,0);
    }
    .dialog-11 a img {
      width: 78%;
      max-width: 100%;
    }
  </style>
  <!--双十一活动弹窗-->
  <div class="dialog-11">
    <div class="close-djj"></div>
    <a href="../mobile/index.php?r=preferential"><img src="../mobile/statics/img/newapp/dialog-pic2.png" alt=""></a>
  </div>
</div>
<script>
  $(function() {
    $(".close-djj").on("click",function() {
      $(".dialog-11").hide();
    });
  });
</script>


<script type="text/javascript ">
    $(function($) {
    				var swiper = new Swiper('.index-new-list', {
					pagination: '.swiper-pagination',
					paginationClickable: true,
					direction: 'vertical',
					loop: true,
					grabCursor: true,
					autoplayDisableOnInteraction: false,
					autoplay: 4000,
					speed: 700,
					freeMode: true,
					noSwiping : true,
				});
        var mySwiper = new Swiper('.banner-first', {
            autoplay: 4000,
            loop: true,
            pagination: '.banner-first-pagination'
        });
        var mySwiper = new Swiper('.banner-second', {
            autoplay: 5000,
            pagination: '.banner-second-pagination'
        });
        var mySwiper = new Swiper('.banner-third', {
            autoplay: 5000,
            pagination: '.banner-third-pagination'
        });
        var mySwiper = new Swiper('.recom-container', {
            pagination: '.recom-pagination',
            slidesPerView: 1,
            paginationClickable: true
        });
        var mySwiper = new Swiper('.brand-container', {
            pagination: '.brand-pagination',
            slidesPerView: 1,
            paginationClickable: true
        });
        var mySwiper = new Swiper('.hot-container', {
            slidesPerView: 4,
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
    });
	var url = "{U('async_list')}";
	$('.product-list').infinite({url: url, template:'j-product'});
			$(document).ready(function() {
            $(window).scroll(function() {
                if ($(document).scrollTop() >= 0<$(document).height() - $(window).height()) {
                       $(".footer-cont").html("<span><img src='{__TPL__}img/loading1.gif'>正在加载……</span>")
                }
                if ($(document).scrollTop() >= $(document).height() - $(window).height()) {

			        $(".footer-cont").html("<span>没有更多了</span>")
			     
                }
            });
        });
</script>

<script src="statics/js/jquery.lazyload.js"></script>
<script type="text/javascript">
    $("img.lazy").lazyload({
      placeholder: "../mobile/statics/img/newapp/loadGoods.gif",
        effect : "fadeIn",
        threshold : 400,
        skip_invisible : false,
        threshold : 1
    });
</script>
</body>
</html>
