{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/customization.css">
	<body>
		<header>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-1.jpg" alt="">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-2.jpg" alt="">
		</header>
		<section class="sec-1">
			<p>941红木生态服务是唯一一家拥有全屋定制的红木家具平台，完美实现红木家具私人全屋定制。专业设计师团队会结合您的个人需求、生活习惯、审美标准，为您设计家具设计及定制、安装等服务于一体的家居定制解决方案。无缝衔接所有服务，让您省心省力。无论是木材还是款式，都可以供您随意选择，花最少的钱，做最好的设计。</p>
			<p>941红木生态拥有强大的多工厂生产体系，专业红木家具制造工厂达五百家。平台严格把控质量标准，所有家具都由我国唯一经国家批准注册成立的红木行业专业委员会机构，红木行业的权威机构“中国木材木制品流通协会红木流通专业委</p>
		</section>	
		<section class="sec-2">
			<h2>效果展示</h2>
			<div>
				<img src="../mobile/statics/img/newapp/dz-3.jpg" alt="">
				<img src="../mobile/statics/img/newapp/dz-4.jpg" alt="">
			</div>
			<div>
				<img src="../mobile/statics/img/newapp/dz-5.jpg" alt="">
				<img src="../mobile/statics/img/newapp/dz-6.jpg" alt="">
			</div>
		</section>	
		<section class="sec-3">
			<h2>100%真实案例展示</h2>
			<div class="clearfix">
				<span style="width:8.166rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-7.jpg" alt=""></span>
				<span style="width:18.166rem;margin: 0 .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-8.jpg" alt=""></span>
				<span style="width:13.88rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-9.jpg" alt=""></span>
			</div>
			<div>
				<span style="width:13.94rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-10.jpg" alt=""></span>
				<span style="width:7.88rem;margin: 0 .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-11.jpg" alt=""></span>
				<span style="width:6.72rem;margin-right: .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-12.jpg" alt=""></span>
				<span style="width:11.2rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-13.jpg" alt=""></span>
			</div>
		</section>
		<section class="sec-4">
			<h2>超过50万用户，成为941红木忠实会员</h2>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-14.jpg" alt="">
		</section>
		<img class="img-responsive margin-t-18" width="100%" src="../mobile/statics/img/newapp/dz-15.jpg" alt="">
		<img class="img-responsive margin-t-18" width="100%" src="../mobile/statics/img/newapp/dz-16.jpg" alt="">
		<section class="sec-5">
			<img src="../mobile/statics/img/newapp/dz-17.jpg" alt="">
			<img src="../mobile/statics/img/newapp/dz-18.jpg" alt="">
		</section>
		<article class="sec-6">
			<p>为了让消费者更能放心购买，平台所有商品都具有</p>
			<p class="color-aa1920">国家红木质检最高机构——</p>
			<p class="color-aa1920">中国木材木制品流通协会红木流通专业委员会</p>
			<p>进行检验并出具的纸质检测报告</p>
			<p>且检测结果在平台线上也可进行实时查询</p>
			<p>此外，所有商品由<span class="color-aa1920">中国人民财产保险有限公司</span>全程承保</p>
			<p>让消费者买得安心，买得放心</p>
		</article>
		<section class="sec-7">
			<a href="https://www.wjx.cn/jq/16509637.aspx ">点击进行定制</a>
		</section>
	</body>
</html>