{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/customization.css">
	<body>
		<header>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-1.jpg" alt="">
		</header>
		<section class="sec-1">
			<h2>定制流程</h2>
			<ul>
				<li class="arrow">
					<i class="icon icon-1"></i>
					<h3>提交申请</h3>
					<p>点击立即免费预约设计师</p>
					<p>并上传您的户型图</p>
					<p>我们的工作人员将会立即联系您</p>
				</li>
				<li>
					<i class="icon icon-2"></i>
					<h3>设计方案</h3>
					<p>专业全屋定制设计团队会根据您的要求</p>
					<p>设计出彩色平面效果图</p>
				</li>
				<li class="arrow">
					<i class="icon icon-3"></i>
					<h3>确认方案</h3>
					<p>方案设计确定后</p>
					<p>工作人员会将设计方案发送给您</p>
					<p>进行修改与确认</p>
				</li>
				<li>
					<i class="icon icon-4"></i>
					<h3>3D效果</h3>
					<p>我们将根据方案为您制作3D效果图</p>
					<p>方便您进行感受</p>
				</li>
				<li class="arrow">
					<i class="icon icon-5"></i>
					<h3>签订合同</h3>
					<p>工作人员与您确认合同细节后</p>
					<p>与您签订合同</p>
					<p>此时您需提交30%的预付款</p>
				</li>
				<li>
					<i class="icon icon-6"></i>
					<h3>配送家具</h3>
					<p>我们将会按照设计方案配置家具</p>
					<p>并运送到您家中</p>
				</li>
				<li class="arrow">
					<i class="icon icon-7"></i>
					<h3>交付尾款</h3>
					<p>家具发货之前</p>
					<p>您需要交付剩下的70%余款</p>
				</li>
				<li>
					<i class="icon icon-8"></i>
					<h3>上门装修</h3>
					<p>家具签收之后</p>
					<p>工作人员将联系您预约时间</p>
					<p>装修团队会按时上门进行装修</p>
				</li>
			</ul>
		</section>		
		<section class="sec-2">
			<h2>100%真实案例展示</h2>
			<div class="clearfix">
				<span style="width:8.166rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-7.jpg" alt=""></span>
				<span style="width:18.166rem;margin: 0 .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-8.jpg" alt=""></span>
				<span style="width:13.88rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-9.jpg" alt=""></span>
			</div>
			<div>
				<span style="width:13.94rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-10.jpg" alt=""></span>
				<span style="width:7.88rem;margin: 0 .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-11.jpg" alt=""></span>
				<span style="width:6.72rem;margin-right: .277rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-12.jpg" alt=""></span>
				<span style="width:11.2rem;"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-13.jpg" alt=""></span>
			</div>
		</section>
		<section class="sec-3">
			<h2>超过50万用户，成为941红木忠实会员</h2>
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/dz-14.jpg" alt="">
		</section>
		<section class="sec-4">
			<ul>
				<li class="flex">
					<i class="icon icon-1"></i>
					<div>
						<h3>免费装修效果设计</h3>
						<p>免费提供室内平面效果图绘制</p>
						<p>以及3D智能室内空间效果展示</p>
					</div>
				</li>
				<li class="flex">
					<i class="icon icon-2"></i>
					<div>
						<h3>2000抵10000</h3>
						<p>在线申请并预交两千预付金</p>
						<p>结算时可享受总额减免优惠10000元</p>
					</div>
				</li>
				<li class="flex">
					<i class="icon icon-3"></i>
					<div>
						<h3>双人豪华海岛游</h3>
						<p>前200名完成交易的用户</p>
						<p>赠送巴厘岛4日豪华双人游</p>
					</div>
				</li>
				<li class="flex">
					<i class="icon icon-4"></i>
					<div>
						<h3>免费赠送太师椅</h3>
						<p>现在申请并下单</p>
						<p>可获赠价值过万太师椅一张</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="sec-7 flex">
			<span>已预约：<i>214</i> 人</span>
			<span>已签约：<i>541</i> 人</span>
			<a href="#">立即免费预约设计师</a>
		</section>
		<section class="sec-8">
			<ul class="flex">
				<li>
					<i class="icon icon-1"></i>
					<h3>省钱</h3>
				</li>
				<li>
					<i class="icon icon-2"></i>
					<h3>省心</h3>
				</li>
				<li>
					<i class="icon icon-3"></i>
					<h3>省时</h3>
				</li>
			</ul>
			<p>从原料到装修一站式服务,没有中间商赚差价.</p>
			<p>免费设计平面效果图与3D效果,花最少的钱</p>
			<p>所有家具都拥有中国红木委出具的纸质检验报告</p>
			<p>可在红木委官方系统查询档案编号</p>
			<p>中国人民财产保险公司会全程承保,让您用的安心，用的放心。</p>
		</section>
		<img class="img-responsive margin-t-18" width="100%" src="../mobile/statics/img/newapp/dz-16.jpg" alt="">
		<section class="sec-5">
			<img src="../mobile/statics/img/newapp/dz-17.jpg" alt="">
			<img src="../mobile/statics/img/newapp/dz-18.jpg" alt="">
		</section>
		<article class="sec-6">
			<p>为了让消费者更能放心购买，平台所有商品都具有</p>
			<p class="color-aa1920">国家红木质检最高机构——</p>
			<p class="color-aa1920">中国木材木制品流通协会红木流通专业委员会</p>
			<p>进行检验并出具的纸质检测报告</p>
			<p>且检测结果在平台线上也可进行实时查询</p>
			<p>此外，所有商品由<span class="color-aa1920">中国人民财产保险有限公司</span>全程承保</p>
			<p>让消费者买得安心，买得放心</p>
		</article>
		<section class="sec-7 flex">
			<span>已预约：<i>214</i> 人</span>
			<span>已签约：<i>541</i> 人</span>
			<a href="#">立即免费预约设计师</a>
		</section>
		<section class="sec-9">
			<ul>
				<li class="flex">
					<div class="flex">
						<i class="icon icon-1"></i>
						<article>
							<h3>货源保障</h3>
							<p>12000多平米的自营存储仓库</p>
							<p>几十家分公司存储仓库</p>
						</article>
					</div>
					<div class="flex">
						<i class="icon icon-2"></i>
						<article>
							<h3>服务保障</h3>
							<p>24小时客服热线</p>
							<p>2个工作日内快捷回复</p>
						</article>
					</div>
				</li>
				<li class="flex">
					<div class="flex">
						<i class="icon icon-3"></i>
						<article>
							<h3>技术保障</h3>
							<p>专业的匠人精雕团队</p>
							<p>专业的全屋设计团队</p>
						</article>
					</div>
					<div class="flex">
						<i class="icon icon-4"></i>
						<article>
							<h3>售后保障</h3>
							<p>7天无理由包退换</p>
							<p>3年期限免费报修</p>
						</article>
					</div>
				</li>
			</ul>
		</section>
	</body>
</html>