{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/brandsettled.css?abc=20171222">
	<body>
		<img src="../mobile/statics/img/newapp/bs_banner.jpg" alt="">
		<div class="all">
			<img src="../mobile/statics/img/newapp/bs_con1.jpg" alt="">
			<div class="bs_catagory">
				<div class="bs_catagory_img">
					<img src="../mobile/statics/img/newapp/bs_title1.png" alt="">
				</div>
				<img src="../mobile/statics/img/newapp/bs_con2.png" alt="">
			</div>
			<div>
				<img src="../mobile/statics/img/newapp/bs_title2.png" alt="">
				<div class="space"></div>
				<img src="../mobile/statics/img/newapp/bs_advantage1.png" alt="">
				<img src="../mobile/statics/img/newapp/bs_advantage2.png" alt="">
				<img src="../mobile/statics/img/newapp/bs_advantage3.png" alt="">
				<img src="../mobile/statics/img/newapp/bs_advantage4.png" alt="">
			</div>
			<div>
				<div class="space"></div>
				<img src="../mobile/statics/img/newapp/bs_title3.png" alt="">
				<div class="bs_sell">
					<ul>
						<li><img src="../mobile/statics/img/newapp/bs_sell1.png" alt=""></li>
						<li><img src="../mobile/statics/img/newapp/bs_sell2.png" alt=""></li>
						<li><img src="../mobile/statics/img/newapp/bs_sell3.png" alt=""></li>
						<li><img src="../mobile/statics/img/newapp/bs_sell4.png" alt=""></li>
					</ul>
				</div>
			</div>
			<img src="../mobile/statics/img/newapp/bs_con3.png" alt="">
			<div class="space"></div>
			<img src="../mobile/statics/img/newapp/bs_con4.png" alt="">
			<div class="space"></div>
			<img src="../mobile/statics/img/newapp/bs_q1.png" alt="">
			<img src="../mobile/statics/img/newapp/bs_q2.png" alt="">
			<img src="../mobile/statics/img/newapp/bs_q3.png" alt="">
			<div class="bs_partner">
				部分合作伙伴
			</div>
			<img src="../mobile/statics/img/newapp/bs_partner.jpg" alt="">
			<div class="space"></div>
			<img src="../mobile/statics/img/newapp/bs_join.png" alt="">
		</div>
		<script src="statics/js/jquery.lazyload.js"></script>
		<script type="text/javascript">
		    $("img.lazy").lazyload({
		      placeholder: "../mobile/statics/img/newapp/loadGoods.gif",
		        effect : "fadeIn",
		        threshold : 400,
		        skip_invisible : false,
		        threshold : 1
		    });
		</script>
	</body>
</html>