
	
	<!--2017/09/13 添加客服-->
    <style>
        #customService-btn {
            z-index: 9999;
            position: fixed;
            right: .6rem;
            bottom: 7rem;
            width: 8.833rem;
            height: 3.11rem;
        }
        #customService-btn img {
            width: 100%;
            height: 100%;
        }
    </style>
    <div id="customService-btn"><img src="../mobile/statics/img/newapp/msg-btn-3.png" alt=""></div>
    <script id="qd2852152525c07a0ec2548f94d63eab86933f484853" src="https://wp.qiye.qq.com/qidian/2852152525/c07a0ec2548f94d63eab86933f484853" charset="utf-8" async defer></script>
</body>
</html>