<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="utf-8">
    <meta name="description" content="{$description}"/>
    <meta name="keywords" content="{$keywords}"/>
    <title>{$page_title}</title>
    <!--<link rel="stylesheet" href="/941hm/mobile/statics/css/myImportant.css">-->
    {ectouch_global_assets('css')}
    <link rel="stylesheet" href="/941hm/mobile/statics/css/ectouch.css?abc=20171213">
    {ectouch_global_assets('js')}
    

    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84b90c14802c5eca3b0d435b5293ad52";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {if $is_wechat}
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript">
        // 分享内容
        var shareContent = {
            title: '{$page_title}',
            desc: '{$description}',
            link: '{$page_url}',
            imgUrl: '{if $page_img}{$page_img}{else}{__URL__}static/img/wxsdk.png{/if}'
        };
        $(function(){
            var url = window.location.href;
            var jsConfig = {
                debug: false,
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'onMenuShareQZone'
                ]
            };
            $.post('{U("wechat/jssdk/index")}', {url: url}, function (res) {
                if(res.status == 200){
                    jsConfig.appId = res.data.appId;
                    jsConfig.timestamp = res.data.timestamp;
                    jsConfig.nonceStr = res.data.nonceStr;
                    jsConfig.signature = res.data.signature;
                    // 配置注入
                    wx.config(jsConfig);
                    // 事件注入
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareContent);
                        wx.onMenuShareAppMessage(shareContent);
                        wx.onMenuShareQQ(shareContent);
                        wx.onMenuShareWeibo(shareContent);
                        wx.onMenuShareQZone(shareContent);
                    });
                }
            }, 'json');
        })
    </script>
    {/if}
</head>
{include file="search"}
    <style>
        #customService-btn {
            z-index: 9999;
            position: fixed;
            right: .6rem;
            bottom: 7rem;
            width: 8.833rem;
            height: 3.11rem;
        }
        #customService-btn img {
            width: 100%;
            height: 100%;
        }
    </style>
    <div id="customService-btn"><img src="../mobile/statics/img/newapp/msg-btn-3.png" alt=""></div>
    <script src="//wp.qiye.qq.com/qidian/2852152525/1d923941fde96695f97b6755fecb896a" charset="utf-8"></script>