{include file="page_header-nav"}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="utf-8">
    <meta name="description" content="941红木是厂家直销的红木家具大型O2O交易平台,选择最适合您的红木家具产品,买红木家具产品、红木沙发,找红木家具款式、查红木家具价格、看红木家具图片,上941红木就对了!"/>
    <meta name="keywords" content="红木家具,红木家具网上商城,红木家具定制，红木家具价格，红木家具装修效果图，红木家具款式, 沙发, 床, 茶桌,  红木筷子,书柜, 衣柜 ,  小件, 红木家具 , 买家具卖家具,红木家具商城,红木O2O商城 ,花梨木, 缅花 ,非花红酸枝 ,小叶紫檀 ,大果紫檀, 刺猬紫檀 ,黑光檀 ,老红木 ,紫光檀 ,黄花梨 ,海黄, 越黄 ,非洲花梨 ,缅甸花梨 ,清式家具 , 明清古典 ,新中式红木家具，古典红木家具，茶桌，红木家具十大品牌 ，红木种类 ，红木家具网 ，红木家具价格 , 红木工艺品, 花梨木家具 ,红酸枝家具 ,东阳红木家具,中国红木古典家具网，"/>
    <title>941红木网_红木家具网上商城_红木家具品牌价格_红木家具定制_红木沙发_东阳红木家具_中国红木家居</title>
    <link href="../mobile/resources/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/iconfont.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/swiper-3.2.5.min.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/zyUpload.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/dialog.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/mobile-select-area.css" rel="stylesheet" type="text/css" />
	<link href="../mobile/statics/css/ectouch.css" rel="stylesheet" type="text/css" />
    <script src="../mobile/resources/assets/script/jquery.min.js"></script>
	<script src="../mobile/resources/assets/script/jquery.infinite.js"></script>
	<script src="../mobile/resources/assets/layer/m/layer.m.js"></script>
	<script src="../mobile/resources/assets/script/template.js"></script>
	<script src="../mobile/resources/assets/script/main/lefttime.js"></script>
	<script src="../mobile/resources/assets/script/jquery.json.js"></script>
	<script src="../mobile/resources/assets/script/validform.js"></script>
	<script src="../mobile/resources/assets/script/main/common.js"></script>
	<script src="../mobile/resources/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="../mobile/statics/js/swiper-3.2.5.min.js"></script>
	<script src="../mobile/statics/js/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="../mobile/statics/js/jquery.ui.touch-punch.min.js"></script>
	<script src="../mobile/statics/js/jquery.scrollUp.min.js"></script>
	<script src="../mobile/statics/js/ectouch.js"></script>
	<script src="../mobile/statics/js/region_goods.js"></script>
	<script src="../mobile/statics/js/parabola.js"></script>
</head>

<link rel="stylesheet" href="../mobile/statics/css/company_introduction.css">
<body>
	<section class="banner">
		<a href="#"><img class="img-responsive" src="../mobile/statics/img/newapp/com-banner1.jpg" width="100%" alt="" /></a>
	</section>
	<section class="sec-1">
		<h2><span>我们最引以自豪的，是一直以来的“专注”</span></h2>
		<div class="container">
			<ul class="list-unstyled row">
				<li class="col-xs-4">
					<img class="img-responsive" src="../mobile/statics/img/newapp/com-pic1.jpg"  alt="" />
					<h3>专注品牌品质</h3>
				</li>
				<li class="col-xs-4">
					<img class="img-responsive" src="../mobile/statics/img/newapp/com-pic2.jpg"  alt="" />
					<h3>专注互联网模式</h3>
				</li>
				<li class="col-xs-4">
					<img class="img-responsive" src="../mobile/statics/img/newapp/com-pic3.jpg"  alt="" />
					<h3>专注传统文化</h3>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-2">
		<div class="container">
			<div class="col-xs-5">
				<h2>
					<p>浙江党牌网络</p>
					<p>科技有限公司</p>
				</h2>
			</div>
			<div class="col-xs-7">
				浙江党牌网络科技有限公司位于世界木雕之都浙江东阳，是党牌控股集团旗下全资控股公司，作为集团的拟上市主体将于2018年在新三板挂牌上市，公司是25年红木行业从业经验的生态链平台整合者，是红木产业互联网的践行者与缔造者！
			</div>
			<div class="col-xs-12"></div>
		</div>
	</section>
	<section class="sec-3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<img class="img-responsive" src="../mobile/statics/img/newapp/com-pic2.png" width="100%" alt="" />
				</div>
				<div class="col-xs-12 gsjj-1">
					<article>
						<p>浙江党牌网络科技有限公司</p>
						<p>是全球首家以<mark>CBBDS</mark>模式为核心的</p>
						<p>电子商务服务商致力于打造面向全球消费群体的</p>
						<p>中国传统文化生态链服务产业集群。</p>
					</article>
				</div>
				<div class="col-xs-12 gsjj-2">
					<ul class="list-unstyled clearfix">
						<li>O2O</li>
						<li class="bg-red">F2F</li>
						<li>D2C</li>
						<li class="bg-red">S2S</li>
					</ul>
					<article>
						<p>浙江党牌网络科技有限公司将互联网+红木进行实际落地</p>
						<p>将O20、F2C、D2C和S2S相结合</p>
						<p>并结合线上线下进行传统文化价值传递</p>
						<p>进行“一站式边体验边购物”体验式生活社交服务</p>
					</article>
				</div>
				<div class="col-xs-12 gsjj-3">
					<div class="row">
						<div class="col-xs-4"><img class="img-responsive" src="../mobile/statics/img/newapp/com-pic4.png" alt="" /></div>
						<div class="col-xs-8">
							<dl class="dl-horizontal">
								<dt>线上：</dt>
								<dd>全屋智能匹配  板房DIY  以物换物 免费试用  积分兑换</dd>
								<dt>线下：</dt>
								<dd>实体触觉体验、生活体验、禅学院</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="col-xs-12 gsjj-4">
					<div class="row">
						<div class="col-xs-7">
							<article>
								凭借专业的技术，诚信的经营和不断创新的精神公司发展迅速。在发展的同时公司不忘不断总结不断优化为客户的服务一如既往的热情赢得了新老客户的极高评价及青睐。
							</article>
						</div>
						<div class="col-xs-5">
							<img class="img-responsive" src="../mobile/statics/img/newapp/com-pic5.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		 <footer class="padding-all text-center t-remark" style="display: none;">
        {$copyright}
        &copy; <?php echo date('Y');?> <?php echo C('shop.shop_name');?> 版权所有，并保留所有权利。
    </footer>
	<div class="footer-cont"><span><img src='{__TPL__}img/loading1.gif'>正在加载……</span></div>
	<div class="filter-top filter-top-index" id="scrollUp">
		<i class="iconfont icon-jiantou"></i>
	</div>

	<footer class="footer-nav dis-box">
		<a href="{U('site/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{U('category/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-cate"></i><span>分类</span>
		</a>
		<a href="javascript:;" class="box-flex nav-list j-search-input">
			<i class="nav-box i-shop"></i><span>搜索</span>
		</a>
		<a href="{U('cart/index/index')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-flow"></i><span>购物车</span>
		</a>
		{if $filter}
		<a href="{U('drp/user/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>{$custom}中心</span>
		</a>
		{elseif $community}
		<a href="{U('community/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>社区</span>
		</a>
		{else}
		<a href="{U('user/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>我</span>
		</a>
		{/if}
	</footer>
	</section>	
</body>
</html>