{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/dailykill.css">
	<body>
		<header>
			<img width="100%" src="../mobile/statics/img/newapp/dailykill_banner.jpg" alt="">
			<div onclick="rule();" class="dailykill_rule">点击查看活动规则</div>
			<img width="78%" src="../mobile/statics/img/newapp/dailykill_furniture.png" alt="">
		</header>
		<section class="dailykill_active">
			<img width="90%" src="../mobile/statics/img/newapp/dailykill_title1.png" alt="">
			<div class="dailykill_active_con">
				<ul>
					<!-- {foreach $goods as $key => $goods} -->
					<li onclick="goods({$goods.id},'{$goods.goods_name}')">
						<div class="dailykill_active_pro">
							<img width="100%" src="../mobile/statics/img/newapp/{$goods.bg_img}" alt="">
							<div class="dailykill_active_text">
								<p>{$goods.goods_name}</p>
								<span>{$goods.time}开抢</span>
								<p>￥<span>1</span>.00</p>
								<div class="dailykill_active_button">立即抢购</div>
							</div>
						</div>
					</li>
					<!-- {/foreach} -->
				</ul>
			</div>
		</section>
		<section class="dailykill_active">
			<img width="90%" src="../mobile/statics/img/newapp/dailykill_title1.png" alt="">
			<div class="dailykill_active_con">
				<ul>
					<li>
						<div class="dailykill_active_pro">
							<img width="100%" src="../mobile/statics/img/newapp/dailykill_pro7.jpg" alt="">
							<div class="dailykill_active_text">
								<p>财源滚滚沙发</p>
								<span>3月1日 9:41开抢</span>
								<p>￥<span>1</span>.00</p>
								<div class="dailykill_active_button">查看详情</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<script type="text/javascript">
			// 活动规则
			function rule(){
				window.location.href ='../mobile/index.php?r=dailykill/dailykill/rule';
			}
			/*产品详情页打开*/
			function goods(id,name){
				var goods_id = id;
				var goods_name = name;
				window.location.href = '../mobile/index.php?r=dailykill/dailykill/pro&goods_id='+goods_id+'&goods_name='+goods_name;
			
			}
		</script>
	</body>
</html>