{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/dailykill.css">
<body style="background-color: #fff;">
	<div class="pro_top">
		<div onclick="rule_back()">
			<img width="30%" src="../mobile/statics/img/newapp/pro_back.png" alt=""></div>
		<img width="100%" src="../{$goods_res.goods_thumb}" alt="{$goods_res.goods_name}">
	</div>
	<div class="pro_con">
		<div class="pro_name">产品名称：<span>{$goods_res.goods_name}</span></div>
		<div class="pro_time">活动时间：<span>{$goods_res.goods_time}</span></div>
		<div>活动名额：1</div>
		<div class="pro_rule">活动细则：<span onclick="rule()">点此查阅</span></div>
	</div>
	<div class="pro_button" onclick="pro_button({$goods_res.goods_id})">
		点击秒杀
	</div>
	<script type="text/javascript">
		function rule_back(){;
			window.location.href ='../mobile/index.php?r=dailykill';
		}
		function rule(){
			window.location.href ='../mobile/index.php?r=dailykill/dailykill/rule';
		}
		function pro_button(id){
			var goods_id = id;
			var param = {goods_id:goods_id};
			var url = '../mobile/index.php?r=dailykill/dailykill/end';
			$.post(url,param,function (data){
				var result = eval('('+data+')');
				console.log(result);
				
			});
		}
	</script>

</body>
</html>