{include file="page_header-nav"}
<!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84b90c14802c5eca3b0d435b5293ad52";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
	<link rel="stylesheet" href="../mobile/statics/css/homedress.css">
	<body>
		<header>
			<img width="100%;" src="../mobile/statics/img/newapp/homedress_banner.jpg" alt="">
		</header>
		<section class="homedress_giftone">
			<div class="giftone_title">
				<p>好礼一重奏<span>实付好礼等您拿</span></p>
			</div>
			<div class="giftone_present">
				<a href="personal_tailor.php">
					<img width="100%;" src="../mobile/statics/img/newapp/homedress_giftone1.png" alt="">
				</a>
				<a href="personal_tailor.php">
					<img width="100%;" src="../mobile/statics/img/newapp/homedress_giftone2.png" alt="">
				</a>
			</div>
		</section>
		<img width="100%;" src="../mobile/statics/img/newapp/homedress_giftone3.jpg" alt="">
		<section class="homedress_giftone_tip">
			<div class="homedress_giftone_tipcon">
				<span>细则：1.每个ID只能享受一次，不能重复领取。</span>
				<p>2.只能选一件产品。<br>
					<span>例：满50000元，可选任意一件2000内产品，不能选两件1000+1000的产品</span>
				</p>
				<p>3.颜色随机发送。</p>
			</div>
		</section>
		<section class="homedress_seckill">
			<ul class="homedress_freecon">
				<!-- {foreach $active_goods as $key => $active_goods} -->
				<li>
					<a onclick='active_pro({$active_goods.id})'>
						<img src="../mobile/statics/img/newapp/{$active_goods.bg_img}" alt="">
						<span>{$active_goods.goods_name}</span><br>
						<p>{$active_goods.time}</p>
					</a>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="homedress_tip">
				<div class="homedress_tip_con">
					<img width="100%;" onclick="location_start()" class="homedress_tip_start" src="../mobile/statics/img/newapp/homedress_start.png" >
					<img width="100%;" onclick="location_end()" class="homedress_tip_end" src="../mobile/statics/img/newapp/homedress_end.png" >
					<div onclick="close_tip()" class="homedress_tip_close">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_tip_close.png" alt="">
					</div>
				</div>
			</div>
		</section>
		<section class="gifttwo_title">
			<p>好礼二重奏<span>优惠大换购</span></p>
		</section>
		<img width="100%;" src="../mobile/statics/img/newapp/homedress_gifttwo.jpg" alt="">
		<section class="giftthree_title">
			<p>好礼三重奏<span>组合购买拿好礼</span></p>
		</section>
		<img width="100%;" src="../mobile/statics/img/newapp/homedress_giftthree1.jpg" alt="">
		<img width="100%;" src="../mobile/statics/img/newapp/homedress_giftthree2.jpg" alt="">
		<section class="giftfour_title">
			<p>好礼四重奏<span>抢两千元现金大奖（仅限前20名）</span></p>
			<div class="giftfour_title_tip">
				注释：现金活动仅限订单实付金额满三万元以上买家参与，中奖名单在活动结束后15个工作日内公布，中奖买家由我们工作人员按照买家下单联系方式通知。
			</div>
		</section>
		<section class="homedress_giftfour">
			<ul class="homedress_giftfour1">
				<li>
					<a href="../mobile/index.php?r=goods&id=1840&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1845&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="goods.php?id=1836">
					<a href="../mobile/index.php?r=goods&id=1560&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1843&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1833&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1818&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro6.jpg" alt="">
					</a>
				</li>
			</ul>
			<ul class="homedress_giftfour2">
				<li>
					<a href="../mobile/index.php?r=goods&id=701&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro7.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=241&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro8.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=703&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro9.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=72&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro10.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=53&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro11.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=700&u=0">
						<img width="100%;" src="../mobile/statics/img/newapp/homedress_pro12.jpg" alt="">
					</a>
				</li>
			</ul>
		</section>
		<section class="homedress_free">
			<div class="homedress_freetitle">
				<img width="100%;" src="../mobile/statics/img/newapp/homedress_freetitle.png" alt="">
			</div>
			<ul class="homedress_freecon">
				<li>
					<a href="../mobile/index.php?r=goods&id=1811&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free1.jpg" alt="">
						<p>【财源滚滚沙发】<br>南美黄花梨</p>
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=75&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free2.jpg" alt="">
						<p>【山水顶箱柜】<br>南美酸枝</p>
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1806&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free3.jpg" alt="">
						<p>【团圆大床】<br>缅甸花梨</p>
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1417&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free4.jpg" alt="">
						<p>【汉宫圆台】<br>阔叶黄檀黑酸枝</p>
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=1801&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free5.jpg" alt="">
						<p>【财源大床】<br>阔叶黄檀</p>
					</a>
				</li>
				<li>
					<a href="../mobile/index.php?r=goods&id=201&u=0">
						<img src="../mobile/statics/img/newapp/homedress_free6.jpg" alt="">
						<p>【花雨转角沙发】<br>非花 缅花</p>
					</a>
				</li>
			</ul>
			<a href="index.php">
				<div  class="homedress_back">
					返回首页
				</div>
			</a>
		</section>
	</body>
	<script type="text/javascript">
		function active_pro(goods_id){
			var param = {goods_id:goods_id};
			//alert(param);
			var url = '../mobile/index.php?r=homedress/index/tips';
			$.post(url,param,function (data){
				var result = eval('('+data+')');
				//console.log(result);
				if(result.id == 1){
					$(".homedress_tip_end").show();
					$(".homedress_tip_end").attr('alt',result.goods_id);
					$(".homedress_tip_close").show();
				}else{
					$(".homedress_tip_start").show();
					$(".homedress_tip_start").attr('alt',result.goods_id);
					$(".homedress_tip_close").show();
				};
			});
		}
		function close_tip(){
			$(".homedress_tip_end").hide();
			$(".homedress_tip_start").hide();
			$(".homedress_tip_close").hide();
		}
		function location_end(){
			var goods_id =$(".homedress_tip_end").attr('alt');
			window.location.href = '../mobile/index.php?r=goods&id='+goods_id+'&u=0';
		}
		function location_start(){
			var goods_id =$(".homedress_tip_start").attr('alt');
			window.location.href = '../mobile/index.php?r=goods&id='+goods_id+'&u=0';
		}
	</script>
</html>