{include file="page_header-nav"}
<link rel="stylesheet" href="../mobile/statics/css/vrhm.css">
<link rel="stylesheet" href="../mobile/statics/css/myImportant1.css">
<section class="wrap">
	<div class="banner">
		<img class = "lazy"data-original="../mobile/statics/img/newapp/banner.jpg"  src="../mobile/statics/img/newapp/banner.jpg"/>
	</div>
	<ul class="ul">
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IRHBVYAW/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic4.jpg" src="../mobile/statics/img/newapp/ex-pic4.jpg"/>
						<h4>新中式复式</h4>
						<p>户型：3室3厅3卫1厨  </p>
						<p>面积：293.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IUXRI3B8/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic5.jpg" src="../mobile/statics/img/newapp/ex-pic5.jpg"/>
						<h4>金域蓝湾  </h4>
						<p> 户型：3室2厅2卫1厨  </p>
						<p>面积：132.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4INV80NDC/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic6.jpg"src="../mobile/statics/img/newapp/ex-pic6.jpg"/>
						<h4>HOMEWORK </h4>
						<p>户型：3室3厅3卫1厨  </p>
						<p>面积：103.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4ITGTGQ4U/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic7.jpg" src="../mobile/statics/img/newapp/ex-pic7.jpg"/>
						<h4>111方豪庭四居  </h4>
						<p> 户型：2室2厅0卫0厨</p>
						<p>面积：111.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4JAOWD45N/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic8.jpg" src="../mobile/statics/img/newapp/ex-pic8.jpg"/>
						<h4>110方中式三居 </h4>
						<p>户型：3室0厅1卫0厨  </p>
						<p>面积：110.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4ITQCWL0A/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic9.jpg" src="../mobile/statics/img/newapp/ex-pic9.jpg"/>
						<h4>129新中式两居 </h4>
						<p> 户型：2室1厅0卫1厨</p>
						<p>面积：129.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4ITQCWL0A/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic10.jpg" src="../mobile/statics/img/newapp/ex-pic10.jpg"/>
						<h4>129方新中式二居 </h4>
						<p>户型：3室1厅0卫1厨  </p>
						<p>面积：126.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IULS05QY/sho">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic11.jpg" src="../mobile/statics/img/newapp/ex-pic11.jpg"/>
						<h4>118水韵金沙三居 </h4>
						<p> 户型：2室2厅0卫1厨</p>
						<p>面积：118.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IU45A2D0/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic12jpg" src="../mobile/statics/img/newapp/ex-pic12.jpg"/>
						<h4>117方盛世四居 </h4>
						<p>户型：3室3厅3卫1厨  </p>
						<p>面积：293.00m</p>
					</li>
				</a>
				
				<a href="https://yun.kujiale.com/design/3FO4IW1GPUU8/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic13.jpg"src="../mobile/statics/img/newapp/ex-pic13.jpg"/>
						<h4>104方中式三居 </h4>
						<p> 户型：3室0厅2卫1厨</p>
						<p>面积：106.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4INLAJ5E6/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic14.jpg" src="../mobile/statics/img/newapp/ex-pic14.jpg"/>
						<h4>99方中式两居  </h4>
						<p>户型：3室2厅1卫1厨  </p>
						<p>面积：99.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IH9EMV9G/show">
					<li>
						<img class = "lazy" data-original="../mobile/statics/img/newapp/ex-pic15.jpg"src="../mobile/statics/img/newapp/ex-pic15.jpg"/>
						<h4>中式风格四居室 </h4>
						<p> 户型：4室2厅3卫1厨</p>
						<p>面积：236.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IVP173IL/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic16.jpg" src="../mobile/statics/img/newapp/ex-pic16.jpg"/>
						<h4>271方新中式别墅  </h4>
						<p>户型：1室2厅1卫1厨 </p>
						<p>面积：271.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IIB8BX4T/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic17.jpg" src="../mobile/statics/img/newapp/ex-pic17.jpg"/>
						<h4>243方新中式四居 </h4>
						<p> 户型：4室2厅1卫1厨</p>
						<p>面积：236.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IH9RP7F8/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic18.jpg" src="../mobile/statics/img/newapp/ex-pic18.jpg"/>
						<h4>新中式全房  </h4>
						<p>户型：4室2厅0卫1厨</p>
						<p>面积：166.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IU0LD7XY/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic19.jpg" src="../mobile/statics/img/newapp/ex-pic19.jpg"/>
						<h4>雅居全案设计 </h4>
						<p> 户型：3室4厅1卫1厨</p>
						<p>面积：116.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IT4R4MTX/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic20.jpg" src="../mobile/statics/img/newapp/ex-pic20.jpg"/>
						<h4>新中式品诺  </h4>
						<p>户型：1室1厅0卫1厨</p>
						<p>面积：134.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IRUQLUCM/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic21.jpg" src="../mobile/statics/img/newapp/ex-pic21.jpg"/>
						<h4>79方新中式3居 </h4>
						<p> 户型：3室2厅1卫1厨</p>
						<p>面积：79.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IU5VMX6D/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic22.jpg" src="../mobile/statics/img/newapp/ex-pic22.jpg"/>
						<h4>《檀香》  </h4>
						<p>户型：2室2厅2卫0厨</p>
						<p>面积：196.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4J6RQRDBB/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic23.jpg" src="../mobile/statics/img/newapp/ex-pic23.jpg"/>
						<h4>282方中式三居 </h4>
						<p> 户型：4室2厅2卫1厨</p>
						<p>面积：282.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IGLMP5LI/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic24.jpg" src="../mobile/statics/img/newapp/ex-pic24.jpg"/>
						<h4>106方新中式三居  </h4>
						<p>户型：3室2厅1卫1厨</p>
						<p>面积：106.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IURYA8FY/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic25.jpg" src="../mobile/statics/img/newapp/ex-pic25.jpg"/>
						<h4>玉栖苑-复式楼 </h4>
						<p> 户型：3室1厅2卫0厨</p>
						<p>面积：138.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IUW31BBM/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic26.jpg" src="../mobile/statics/img/newapp/ex-pic26.jpg"/>
						<h4>淡墨秋山|轻中式  </h4>
						<p>户型：2室2厅3卫1厨</p>
						<p>面积：224.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4J7RWW3T9/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic27.jpg" src="../mobile/statics/img/newapp/ex-pic27.jpg"/>
						<h4>83方新中式两居 </h4>
						<p> 户型：2室2厅1卫1厨</p>
						<p>面积：83.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IRJ06VR0/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic28.jpg" src="../mobile/statics/img/newapp/ex-pic28.jpg"/>
						<h4>中国风红胡桃木</h4>
						<p>户型：4室2厅3卫1厨</p>
						<p>面积：189.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4JFMP25Y0/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic29.jpg" src="../mobile/statics/img/newapp/ex-pic29.jpg"/>
						<h4>112方新中式客厅  </h4>
						<p> 户型：3室2厅2卫1厨</p>
						<p>面积：112.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IDU5PRQU/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic30.jpg" src="../mobile/statics/img/newapp/ex-pic30.jpg"/>
						<h4 class="special1">217方别墅客厅</h4>
						<p>户型：2室2厅1卫1厨</p>
						<p>面积：217.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4ISPM5B2P/show">
					<li class="special">
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic31.jpg"  src="../mobile/statics/img/newapp/ex-pic31.jpg"/>
						<h4>115方中式三居  </h4>
						<p>户型：3室2厅1卫1厨</p>
						<p>面积：115.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="href="https://yun.kujiale.com/design/3FO4JCSY8B42/show"">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic32.jpg"  src="../mobile/statics/img/newapp/ex-pic32.jpg"/>
						<h4>中式客餐厅</h4>
						<p>户型：0室1厅0卫0厨</p>
						<p>面积：74.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IRG8P6A4/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic33.jpg"  src="../mobile/statics/img/newapp/ex-pic33.jpg"/>
						<h4>93方新中式一居  </h4>
						<p>户型：1室2厅0卫0厨</p>
						<p>面积：72.00m</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="https://yun.kujiale.com/design/3FO4IXJCTIAP/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic34.jpg"  src="../mobile/statics/img/newapp/ex-pic34.jpg"/>
						<h4>屈氏设计</h4>
						<p>户型：0室2厅1卫1厨</p>
						<p>面积：135.00m</p>
					</li>
				</a>
				<a href="https://yun.kujiale.com/design/3FO4IVONOTIT/show">
					<li>
						<img class = "lazy"data-original="../mobile/statics/img/newapp/ex-pic35.jpg"  src="../mobile/statics/img/newapp/ex-pic35.jpg"/>
						<h4>醉爱中国画  </h4>
						<p>户型：3室2厅2卫0厨</p>
						<p>面积：262.00m</p>
					</li>
				</a>
			</ul>
		</li>
	</ul>
	
</section>


<footer class="footer-nav dis-box">
		<a href="{U('site/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{U('category/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-cate"></i><span>分类</span>
		</a>
		<a href="javascript:;" class="box-flex nav-list j-search-input">
			<i class="nav-box i-shop"></i><span>搜索</span>
		</a>
		<a href="{U('cart/index/index')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-flow"></i><span>购物车</span>
		</a>
		{if $filter}
		<a href="{U('drp/user/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>{$custom}中心</span>
		</a>
		{elseif $community}
		<a href="{U('community/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>社区</span>
		</a>
		{else}
		<a href="{U('user/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>我</span>
		</a>
		{/if}
	</footer>
	<script type="text/javascript" src="../mobile/statics/js/jquery.lazyload.js"></script> 
		
		<!--开启懒加载-->
		<script type="text/javascript">
			
			$("img.lazy").lazyload({
				
				//加载动画
            	placeholder: "themes/ecmoban_dsc/images/loadGoods.gif",
//              effect : "fadeIn",
                threshold : 100,
                skip_invisible : false
            });

		</script> 
	