{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/newyear.css?abc=20171222">
	<body>
		<div class="all">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_top.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_command.png" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_customization.png" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise1.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise2.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise3.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise4.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise5.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise6.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise7.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_surprise8.jpg" alt="">
			<img class="lazy" src="../mobile/statics/img/newapp/ny_pro.jpg" alt="">
			<div class="pro1">
				<ul>
					<a href="../mobile/index.php?r=goods&id=1797">
						<li>
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro1.jpg" alt="">
							<p>非洲花梨<br>双用茶台</p>
							<p>￥8700<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=1560">
						<li style="margin-right: 0px;margin-bottom: 2%">
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro2.jpg" alt="">
							<p>非洲花梨<br>象头圆台</p>
							<p>￥15600<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=22">
						<li>
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro3.jpg" alt="">
							<p>非洲花梨<br>辉煌大床</p>
							<p>￥13800<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=1800">
						<li style="margin-right: 0px;margin-bottom: 2%">
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro4.jpg" alt="">
							<p>非洲花梨<br>半圆博古架</p>
							<p>￥15900<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
				</ul>
			</div>
			<div class="pro1">
				<ul>
					<a href="../mobile/index.php?r=goods&id=1407">
						<li>
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro5.jpg" alt="">
							<p>阔叶黄檀<br>罗汉宝座沙发</p>
							<p>￥49800<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=1424">
						<li style="margin-right: 0px;margin-bottom: 2%">
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro6.jpg" alt="">
							<p>阔叶黄檀<br>罗汉床</p>
							<p>￥32800<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=1427">
						<li>
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro7.jpg" alt="">
							<p>阔叶黄檀<br>山水顶箱柜</p>
							<p>￥51000<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=1417">
						<li style="margin-right: 0px;margin-bottom: 2%">
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro8.jpg" alt="">
							<p>阔叶黄檀<br>1.38米汉宫圆台</p>
							<p>￥36000<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
				</ul>
			</div>
			<div class="pro2">
				<ul>
					<a href="../mobile/index.php?r=goods&id=1811">
						<li>
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro9.jpg" alt="">
							<p>南美黄花梨<br>财源滚滚沙发</p>
							<p>￥37800<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
					<a href="../mobile/index.php?r=goods&id=75">
						<li style="margin-right: 0px;margin-bottom: 2%">
							<img class="lazy" src="../mobile/statics/img/newapp/nyactive_pro10.jpg" alt="">
							<p>南美酸枝<br>山水顶箱柜</p>
							<p>￥27990<img class="buy" src="../mobile/statics/img/newapp/nyactive_buy.png" alt=""></p>
						</li>
					</a>
				</ul>
			</div>
			<a href="../mobile/index.php">
				<div class="footer">
					<p>返回首页</p>
				</div>
			</a>
		</div>
		<script src="statics/js/jquery.lazyload.js"></script>
		<script type="text/javascript">
		    $("img.lazy").lazyload({
		      placeholder: "../mobile/statics/img/newapp/loadGoods.gif",
		        effect : "fadeIn",
		        threshold : 400,
		        skip_invisible : false,
		        threshold : 1
		    });
		</script>
	</body>
</html>