{include file="page_header-nav"}
<link rel="stylesheet" href="../mobile/statics/css/myImportant1.css">
<link rel="stylesheet" href="../mobile/statics/css/offline.css">
	<div class="banner">
		<img src="../mobile/statics/img/newapp/offline-banner1.jpg"/>
	</div>
<section class="wrap">
	<ul class="ul">
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic2.jpg"/>
						<h4>杭州西湖分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：浙江省杭州市西湖区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic3.jpg"/>
						<h4>杭州滨江分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：浙江省杭州市滨江区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic4.jpg"/>
						<h4>上海分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：上海市徐汇区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic5.jpg"/>
						<h4>济南分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：山东省济南市</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic6.jpg"/>
						<h4>南京分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：江苏省南京市雨花台区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic7.jpg"/>
						<h4>厦门分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：福建省厦门市湖里区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic8.jpg"/>
						<h4>青岛分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：山东省青岛市市南区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic10.jpg"/>
						<h4>广州分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：广东省广州市海珠区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic11.jpg"/>
						<h4>深圳分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：广东省深圳市罗湖区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic12.jpg"/>
						<h4>成都分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：四川省成都市锦江区</p>
						<p>营服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic13.jpg"/>
						<h4>长沙分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：湖南省长沙市岳麓区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic14.jpg"/>
						<h4>苏州分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：江苏省苏州市吴中区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic15.jpg"/>
						<h4>株洲分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：湖南省株洲市天元区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic16.jpg"/>
						<h4>呼和浩特分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：内蒙古呼和浩特市</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic17.jpg"/>
						<h4>临沂分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：山东省临沂市</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic18.jpg"/>
						<h4>天津分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：天津市和平区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic19.jpg"/>
						<h4>重庆分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：四川省重庆市万州区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic20.jpg"/>
						<h4>福州分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：福建省福州市马尾区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic21.jpg"/>
						<h4>丽江分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：云南省丽江市古城区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
				<a href="javascript:void(0)">
					<li>
						<img class="lazy" src="../mobile/statics/img/newapp/exchange-pic22.jpg"/>
						<h4>西安分店</h4>
						<p>营业时间：9:00 - 17:00</p>
						<p>展馆地址：陕西省西安市新城区</p>
						<p>服务电话：400-666-9338</p>
					</li>
				</a>
			</ul>
		</li>
	</ul>
</section>


<footer class="footer-nav dis-box">
		<a href="{U('site/index/index')}" class="box-flex nav-list active">
			<i class="nav-box i-home"></i><span>首页</span>
		</a>
		<a href="{U('category/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-cate"></i><span>分类</span>
		</a>
		<a href="javascript:;" class="box-flex nav-list j-search-input">
			<i class="nav-box i-shop"></i><span>搜索</span>
		</a>
		<a href="{U('cart/index/index')}" class="box-flex position-rel nav-list">
			<i class="nav-box i-flow"></i><span>购物车</span>
		</a>
		{if $filter}
		<a href="{U('drp/user/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>{$custom}中心</span>
		</a>
		{elseif $community}
		<a href="{U('community/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>社区</span>
		</a>
		{else}
		<a href="{U('user/index/index')}" class="box-flex nav-list">
			<i class="nav-box i-user"></i><span>我</span>
		</a>
		{/if}
</footer>