{include file="page_header"}
<link rel="stylesheet" href="../mobile/statics/css/preferential.css">
<body>
	
	<header><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-1.jpg" alt=""></header>

	<main>
		<section class="sec-1">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-1.png" alt="">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-2.png" alt="">
			<img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-3.png" alt="">
		</section>

		<section class="sec-8">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-14.png" alt=""></h2>
			<p>此类产品不参与其他优惠<br />所赠物品款式均为随机</p>
			<ul>
				<li><a href="index.php?r=goods&id=1787&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-4.jpg" alt=""></a></li>
				<li><a href="index.php?r=goods&id=1786&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-5.jpg" alt=""></a></li>
				<li><a href="index.php?r=goods&id=1788&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-6.jpg" alt=""></a></li>
				<li><a href="index.php?r=goods&id=1789&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-7.jpg" alt=""></a></li>
				<li><a href="index.php?r=goods&id=1792&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-8.jpg" alt=""></a></li>
				<li class="flex">
					<a href="index.php?r=goods&id=1793&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-9.jpg" alt=""></a>
					<a href="index.php?r=goods&id=1793&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-10.jpg" alt=""></a>
				</li>
				<li class="flex">
					<a href="index.php?r=goods&id=1790&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-11.jpg" alt=""></a>
					<a href="index.php?r=goods&id=1791&u=0"><img class="img-responsive" width="100%" src="../mobile/statics/img/newapp/pre-12.jpg" alt=""></a>
				</li>
			</ul>
		</section>

		<section class="sec-2">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-4.png" alt=""></h2>
			<ul>
				<li><a class="a1" href="index.php?r=goods&id=1209&u=0"></a></li>
				<li><a href="index.php?r=goods&id=1213&u=0"></a></li>
				<li><a href="index.php?r=goods&id=133&u=0"></a></li>
			</ul>
		</section>	

		<section class="sec-3">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-5.png" alt=""></h2>
			<ul class="flex">
				<li><a class="a1" href="index.php?r=goods&id=1211&u=0"></a></li>
				<li class="flex">
					<a href="index.php?r=goods&id=256&u=0"></a>
					<a href="index.php?r=goods&id=217&u=0"></a>
				</li>
				<li class="flex">
					<a href="index.php?r=goods&id=220&u=0"></a>
					<a href="index.php?r=goods&id=191&u=0"></a>
				</li>
			</ul>
		</section>	

		<section class="sec-3 sec-4">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-7.png" alt=""></h2>
			<ul class="flex">
				<li><a class="a1" href="index.php?r=goods&id=131&u=0"></a></li>
				<li class="flex">
					<a href="index.php?r=goods&id=1560&u=0"></a>
					<a href="index.php?r=goods&id=920&u=0"></a>
				</li>
				<li class="flex">
					<a href="index.php?r=goods&id=1234&u=0"></a>
					<a href="index.php?r=goods&id=162&u=0"></a>
				</li>
			</ul>
		</section>	

		<section class="sec-3 sec-5">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-9.png" alt=""></h2>
			<ul class="flex">
				<li><a class="a1" href="index.php?r=goods&id=22&u=0"></a></li>
				<li class="flex">
					<a href="index.php?r=goods&id=1212&u=0"></a>
					<a href="index.php?r=goods&id=1015&u=0"></a>
				</li>
				<li class="flex">
					<a href="index.php?r=goods&id=1017&u=0"></a>
					<a href="index.php?r=goods&id=699&u=0"></a>
				</li>
			</ul>
		</section>	

		<section class="sec-3 sec-6">
			<h2 class="common-h2"><img src="../mobile/statics/img/newapp/pre-11.png" alt=""></h2>
			<ul class="flex">
				<li><a class="a1" href="index.php?r=goods&id=1003&u=0"></a></li>
				<li class="flex">
					<a href="index.php?r=goods&id=38&u=0"></a>
					<a href="index.php?r=goods&id=47&u=0"></a>
				</li>
				<li class="flex">
					<a href="index.php?r=goods&id=705&u=0"></a>
					<a href="index.php?r=goods&id=316&u=0"></a>
				</li>
			</ul>
		</section>	

		<section class="sec-7 text-center flex">
			<div>
				为了让消费者更能放心购买，平台所有商品都具<br />
				有国家红木质检最高机构<i>中国木材木制品流通<br />
				协会红木流通专业委员会</i>进行检验并出具的纸<br />
				质检测报告，且检测结果在平台线上也可进行实时<br />
				查询。此外，所有商品由中国人民财产保险有限公<br />
				司全程承保，让消费者买得安心，买得放心。
			</div>
		</section>
	</main>

	<footer class="flex">
		<a href="#"></a>
	</footer>


	<!--统计代码-->
	<script type="text/javascript">
	    var _hmt = _hmt || [];
	    (function() {
	        var hm = document.createElement("script");
	        hm.src = "https://hm.baidu.com/hm.js?49a2fe95c7db7c2caf78bc0d55c31d53";
	        var s = document.getElementsByTagName("script")[0];
	        s.parentNode.insertBefore(hm, s);
	    })();
	</script>
</body>
</html>