{include file="page_header-nav"}
	<link rel="stylesheet" href="../mobile/statics/css/security.css">
	<body>
		<header>
			<img width="100%" src="../mobile/statics/img/newapp/security_logo.png" alt="">
		</header>
		<section class="security_title">
			<img width="100%" src="../mobile/statics/img/newapp/security_title.png" alt="">
		</section>
		<section class="security_search">
			<div class="security_search_con">
				<div><img src="../mobile/statics/img/newapp/security_search.png" alt=""></div>
				<input type="text" placeholder="请输入产品条形码">
			</div>
			<a href="javascript:void(0)">
				<div class="security_search_text">搜索</div>
			</a>
		</section>
		<section class="security_code">
			<img width="100%" src="../mobile/statics/img/newapp/security_code.png" alt="">
		</section>
	</body>
</html>