html,body {
	font-family: "Microsoft Yahei";
	background: url(../../iamges/20170517/active-2.jpg) repeat-y; 
}
#main-body img {
	display: inline-block;
}
.w1400 {
	margin: 0 auto;
	width: 1400px;
}
.sec-1 {
	text-align: center;
}
.sec-1 .img1 {
	margin-top: 70px;
}
.sec-1 div {
	padding-top: 25px;
}
.sec-2 {
	padding: 20px 0 50px;
}
.sec-2 li {
	float: left;
	margin-right: 24px;
	cursor: pointer;
}
.sec-3 {
	margin: 0 auto;
	padding: 20px 30px;
	width: 1003px;
	height: 629px;
	color: #fff;
	font-size: 33px;
	background: url(../../iamges/20170517/active-9.png) no-repeat top center;
}
.sec-4 h2,
.sec-5 h2,
.sec-6 h2,
.sec-7 h2,
.sec-8 h2 {
	margin-bottom: 25px;
	text-align: center;
}
.sec-4 div {
	overflow: hidden;
	margin: 0 auto;
	width: 1180px;
	height: 1931px;
	background: url(../../iamges/20170517/active-24.png) no-repeat top center;
}
.sec-4 div a {
	display: block;
	width: 100%;
	height: 663px;
	text-indent: -9999px;
}
.sec-5 h2,
.sec-6 h2,
.sec-7 h2,
.sec-8 h2 {
	margin-top: 90px;
}
.sec-5 div {
	overflow: hidden;
	margin: 0 auto;
	width: 1180px;
	height: 2214px;
	background: url(../../iamges/20170517/active-25.png) no-repeat top center;
}
.sec-5 a,
.sec-6 a,
.sec-7 a,
.sec-8 a {
	display: block;	
	text-indent: -9999px;
}
.sec-5 li a {
	width: 100%;
	height: 100%;
}
.sec-5 .a1,
.sec-6 .a1,
.sec-7 .a1,
.sec-8 .a1 {
	width: 100%;
	height: 725px;
}
.sec-5 ul,
.sec-6 ul,
.sec-7 ul,
.sec-8 ul {
	padding: 120px 0 0 55px;
}
.sec-5 li,
.sec-6 li,
.sec-7 li,
.sec-8 li {
	float: left;
	margin: 0 41px 25px 0;
	width: 508px;
	height: 639px;
}
.sec-6 div {
	overflow: hidden;
	margin: 0 auto;
	width: 1180px;
	height: 2214px;
	background: url(../../iamges/20170517/active-5.jpg) no-repeat top center;
}
.sec-7 div {
	overflow: hidden;
	margin: 0 auto;
	width: 1180px;
	height: 2214px;
	background: url(../../iamges/20170517/active-6.jpg) no-repeat top center;
}
.sec-8 div {
	overflow: hidden;
	margin: 0 auto;
	width: 1180px;
	height: 2214px;
	background: url(../../iamges/20170517/active-7.jpg) no-repeat top center;
}
.sec-9 {
	padding-top: 440px;
	height: 1034px;
	font-size: 48px;
	color: #fff;
	line-height: 1.8;
	text-align: center;
	background: url(../../iamges/20170517/active-8.jpg) no-repeat top center;
}
.sec-9 i {
	color: #c489bc;
	font-size: 60px;
	font-style: normal;
}
#foot {
	padding: 10px 0;
	text-align: center;
	background-color: #6822c6;
}
#foot a {
	display: inline-block;
	width: 277px;
	height: 114px;
	line-height: 114px;
	color: #0fffff;
	font-size: 44px;
	background: url(../../iamges/20170517/active-15.png) no-repeat;
}
.sec-10 h2 {
	text-align: center;
	color: #fffc00;
	font-size: 36px;
}
.sec-10 ul {
	padding-top: 55px;
}
.sec-10 li {
	margin-bottom: 170px;
	text-align: center;
}
.sec-10 .wrap1 .a1 {
	float: left;
}
.sec-10 .wrap1 .a2 {
	float: right;
}
/*.sec-10 .wrap1 div {
	margin: 0 auto;
	width: 1292px;
	height: 908px;
	background: url(../../iamges/20170517/active-22.png) no-repeat;
}
.sec-10 .wrap1 a,
.sec-10 .wrap2 a {
	float: left;
	height: 100%;
}
.sec-10 .wrap1 .a1 {
	margin-right: 44px;
	width: 670px;
}
.sec-10 .wrap1 .a2 {
	width: 578px;
}
.sec-10 .wrap2 div {
	margin: 0 auto;
	width: 1199px;
	height: 908px;
	background: url(../../iamges/20170517/active-23.png) no-repeat;
}
.sec-10 .wrap2 .a1 {
	margin-right: 45px;
	width: 576px;
}
.sec-10 .wrap2 .a2 {
	width: 578px;
}
.sec-10 .wrap2 {
	margin-bottom: 50px;
}*/