/*头部下拉菜单hover效果 需要加上此段代码 start*/
#header .classification {
	background-color: transparent;
	background-color: #aa1920;
	color: #fff;
}
/* #header .classification .dropdown-menu {
	display: none\9; IE8 hack
	background-color: transparent;
	z-index: 1000;
	opacity: 1;
	background-color: #666;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
} */
/* #header .classification:hover > .dropdown-menu {
	background-color: #666;
	z-index: 1000;
	opacity: 1;
	display: block\9; IE8 hack
} */
/* #header .classification:hover {
	background-color: #aa1920;
} */
/*头部下拉菜单hover效果 需要加上此端代码 end*/


/*除了首页以外的，头部轮播图中按钮的位置调动 start*/
#header .JS-slide .left-btn {
	left: 0;
}
#header .JS-slide:hover .left-btn {
	left: 50px;
}
#header .JS-slide .right-btn {
	right: 0;
}
#header .JS-slide:hover .right-btn {
	right: 50px;
}
/*除了首页以外的，头部轮播图中按钮的位置调动 end*/