#main-body {
	padding-bottom: 30px;
	overflow: hidden;
}
.section-1 {
	padding: 0 85px;
	height: 51px;
	line-height: 51px;
	background-color: #fff;
}
.common-h2 {
	padding: 23px 0;
	font-weight: normal;
}
.common-h2 span {
	float: left;
	padding-left: 8px;
	font-size: 20px;
	line-height: 1;
	border-left: 9px solid #ee7c1b;
}
.common-h2 a {
	position: relative;
	right: 8px;
	float: right;
}
.common-ul {
	padding-left: 3px;
}
.common-ul li {
	overflow: hidden\9;
	float: left;
	margin-right: 9px;
	margin-bottom: 10px;
	width: 292px;
	height: 351px;
	border: 1px solid #b9b8b8\9;
	background-color: #fff;
	box-shadow: 0 4px 5px 0 #b9b8b8;
}
.common-ul h3 {
	font-size: 16px;
	font-weight: normal;
}
.common-ul .progress {
	margin: 15px 0;
	margin: 11px 0 \9;
	height: 9px;
	background-color: #e9e8e8;
	border-radius: 3px;
}
.common-ul .progress span {
	display: block;
	height: 100%;
	background-color: #ee7c1b;
}
.common-ul i {
	display: block;
	color: #393939;
	font-style: normal;
}
.common-ul .wrap {
	padding: 0 10px 10px;
}
.common-ul .wrap div span {
	float: left;
	color: #a6a5a4;
	border-right: 1px solid #a6a5a4;
}
.common-ul .wrap div .s1 {
	margin-right: 30px;
	width: 60px;
}
.common-ul .wrap div .s2 {
	margin-right: 20px;
	width: 92px;
}