#main-body {
	padding-bottom: 30px;
	overflow: hidden;
}
.section-1 {
	margin-top: 20px;
	padding: 0 10px;
	height: 53px;
	line-height: 53px;
}
.section-1 .search {
	position: relative;
}
.section-1 .search input {
	padding-left: 8px;
	padding-right: 55px;
	width: 527px;
	height: 53px;
	line-height: 53px;
	border: 1px solid #333;
}
.section-1 .search button {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 100%;
	border: none;
	cursor: pointer;
	background: url(../../iamges/20170517/big-search.png) no-repeat center left;
}
.section-1>ul>li {
	float: left;
	margin-left: 35px;
}
.section-1 a:hover {
	color: #47a9fd;
}
.common-h2 {
	padding: 23px 0;
	font-weight: normal;
}
.common-h2 span {
	float: left;
	padding-left: 8px;
	height: 50px;
	line-height: 50px;
	font-size: 34px;
	border-left: 9px solid #4aaafd;
}
.common-h2 a {
	position: relative;
	top: 30px;
	right: 8px;
	float: right;
}
.common-ul {
	padding-left: 3px;
}
.common-ul li {
	overflow: hidden\9;
	float: left;
	margin-right: 9px;
	margin-bottom: 10px;
	width: 292px;
	height: 351px;
	border: 1px solid #b9b8b8\9;
	background-color: #fff;
	box-shadow: 0 4px 5px 0 #b9b8b8;
}
.common-ul h3 {
	font-size: 16px;
	font-weight: normal;
}
.common-ul .progress {
	margin: 15px 0;
	margin: 11px 0 \9;
	height: 9px;
	background-color: #e9e8e8;
	border-radius: 3px;
}
.common-ul .progress span {
	display: block;
	width: 60%;
	height: 100%;
	background: url(../../iamges/20170517/bg-progress-1.png) no-repeat top left;
}
.common-ul i {
	display: block;
	color: #393939;
	font-style: normal;
}
.common-ul .wrap {
	padding: 0 10px 10px;
}
.common-ul .wrap div span {
	float: left;
	color: #a6a5a4;
	border-right: 1px solid #a6a5a4;
}
.common-ul .wrap div .s1 {
	margin-right: 30px;
	width: 60px;
}
.common-ul .wrap div .s2 {
	margin-right: 20px;
	width: 92px;
}