.section-2 {
	padding: 15px 0 0;
}
.section-2 li {
	float: left;
	margin: 0 10px 12px 0;
	padding: 10px 10px 0;
	width: 292px;
	box-shadow: 0 1px 1px 1px #cecece;
	background-color: #fff;
}
.section-2 li img {
	max-width: 100%;
	width: 100%;
}
.section-2 li>div {
	padding: 12px 0;
	text-align: center;
}
.section-2 li>div * {
	line-height: 1.8;
}