.show-list {
	position: relative;
	padding-top: 21px;
	min-height: 2433px;
}
.show-list ul {
	position: absolute;
	display: none;
}
.show-list .active {
	display: block;
	background-color: #F5F5F5;
}
.show-list li {
	float: left;
	margin: 0 29px 21px 0;
	width: 380px;
	background-color: #fff;
}
.show-list li .work_con{
	padding: 18px 10px 16px;
	height: 80px;
}
.show-list li h3 {
	font-size: 18px;
    font-weight: 500;
    color: #333;
    float: left;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.show-list li .work_mark{
	float: right;
}
.show-list li .work_mark span{
	float: left;
    margin-right: 7px;
    color: #999;
}
.show-list li .work_mark span:before{
	content: '';
    width: 17px;
    height: 15px;
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 5px;
}
.show-list li .work_mark img{
	display: inline;
	margin-right: 2px;
}
.show-list li .work_mark .work_save:before{
	background: url(../../iamges/20170517/icon-collection.png) center no-repeat;
}
.show-list li .work_mark .work_recommend:before{
	background: url(../../iamges/20170517/icon-comment.png) center no-repeat;
}
.show-list li .work_mark .work_like:before{
	background: url(../../iamges/20170517/icon-like.png) center no-repeat;
}
.show-list li .work_style{
	clear: both;
	padding-top: 6px;
}
.show-list li .work_style span{
    color: #666;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.show-list li .work_style span:after{
	margin-right: 20px;
	content: '';
}
.tab-nav {
	padding-bottom: 10px;
	text-align: center;
}
.tab-nav a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.tab-nav .active {
	color: #fff;
	background-color: #AA1920;
}