.section-2 {
	padding: 15px 0;
}
.section-2 .wrap {
	position: relative;
}
.section-2 .wrap ul {
	position: absolute;
	display: none;
}
.section-2 .wrap .active {
	display: block;
}
.section-2 .wrap li {
	float: left;
	margin: 0 10px 12px 0;
	padding: 10px 10px 0;
	width: 292px;
	box-shadow: 0 1px 1px 1px #cecece;
	background-color: #fff;
}
.section-2 .wrap li img {
	max-width: 100%;
	width: 100%;
}
.section-2 .wrap li>div {
	padding: 12px 0;
	text-align: center;
}
.section-2 .wrap li>div * {
	line-height: 1.8;
}
.section-2 .tab-nav {
	text-align: center;
}
.section-2 .tab-nav a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.section-2 .tab-nav .active {
	color: #fff;
	background-color: #aa1920;
}