.section-1 {
	padding: 75px 90px;
}
.section-1 li {
	float: left;
	margin-right: 27px;
	border: 1px solid #d9dbdd;
	box-shadow: 0 2px 8px 0 #d9d8d8;
}
.section-2 {
	padding: 30px 65px 90px;
}
.section-2 a {
	float: left;
	margin: 0 90px 30px 0;
}
.section-3 {
	padding: 145px 110px 145px 83px;
	background-color: #ecebec;
}
.section-3 img {
	float: left;
}
.section-3 dl {
	float: right;
	text-align: center;
}
.section-3 dt {
	padding-top: 75px;
	padding-bottom: 20px;
	font-size: 32px;
}
.section-3 dd {
	font-size: 25px;
	line-height: 2;
}
.section-3 dd a {
	margin-top: 15px;
	display: inline-block;
	width: 112px;
	height: 29px;
	text-indent: -9999px;
	background-image: url(../../iamges/20170517/sprite-1.png);
	background-repeat: no-repeat;
	background-position: -388px 0;
}
.section-4 {
	padding: 80px 35px 60px;
}
.section-4 a {
	float: left;
	margin: 0 70px 30px 0;
}