#header h1.logo {
	position: relative;
}
#header .nav .logo a {
	position: absolute;
	top: 0;
	left: 0;
	width: 291px;
	height: 93px;
	text-indent: -9999px;
	background: url(../../iamges/20170517/logo.jpg) no-repeat left center;
}
#header .wrap-search {
	margin: 25px 0 0 0;
}
#header .wrap-search > .ecsc-search,
#header .wrap-search .shopCart {
	margin-right: 30px;
}
#header .wrap-search > .ecsc-search,
#header .wrap-search > a,
#header .wrap-search > img {
	float: right;
}
#header .wrap-search > .ecsc-search {
	position: relative;
}
#header .wrap-search form #keyword {
	display: block;
	padding-right: 79px;
	padding-left: 8px;
	width: 491px;
	height: 44px;
	line-height: 44px;
	color: #999;
	font-size: 12px;
	border: 2px solid #aa1920;
}
#header .wrap-search form {
	position: relative;
}
#header .wrap-search form .icon-search {
	position: absolute;
	top: 0;
	right: 0;
	width: 79px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border:0 none;
	background-color: #aa1920;
	background-image: none;
}
#header .wrap-search .tooltip {
	position: absolute;
	top: -3px;
	right: -22px;
	width: 23px;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	color: #ff0000;
	text-align: center;
}
#header .classification {
	position: relative;
	width: 289px;
	cursor: pointer;
}
#header .classification:hover {
	color: #fff;
}
.slide-top-bar {
	overflow: hidden;	
}
.slide-top-bar .wrap-close {
	position: absolute;
	top: 0;
	width: 100%;
}
.slide-top-bar,
.slide-top-bar .JS-slide-top li {
	height: 59px;
}
.slide-top-bar .bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-indent: -9999px;
}
.slide-top-bar .bar-1 {
	background: url(../../iamges/20170517/topbar-1.jpg) center center no-repeat;
}
.slide-top-bar .bar-2 {
	background: url(../../iamges/20170517/topbar-2.jpg) center center no-repeat;
}
.slide-top-bar li {
	position: relative;
}
.slide-top-bar .bar {
	height: 59px;
}
.slide-top-bar .w1200 {
	position: relative;
}
.slide-top-bar .close,
.slide-top-bar .wrap-a {
	position: absolute;
}
.slide-top-bar .close {
	top: 8px;
	right: 0;
	width: 15px;
	height: 12px;
	text-indent: -9999px;
	background-position: -111px 0;
}
#header .top {
	height: 30px;
	line-height: 30px;
	background-color: #f7f7f7;
}
#header .top .dropdown {
	position: relative;
	display: inline-block;
	padding: 0 25px;
}
#header .top .dropdown i {
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -3px;
	width: 10px;
	height: 6px;
	text-indent: -9999px;
	background-position: 0 -494px;
}
#header .top .dropdown:hover i {
	background-position: 0 -486px;
}
#header .top .float-l {
	position: relative;
}
#header .top .float-l ul {
	display: none;
	position: absolute;
	top: 100%;
	right: -20px;
	width: 100px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #ccc;
}
#header .top .dropdown:hover + ul {
	display: block;
}
#header .top .float-r li {
	float: left;
	padding: 0 15px;
}
#header .top .float-r li a {
	display: block;
}
#header .top .float-r li a:hover {
	color: #47a9fd;
}
#header .wrap-search > form,
#header .wrap-search > img {
	float: right;
}
#header .wrap-search > form input {
	display: block;
	padding-right: 30px;
	padding-left: 8px;
	width: 359px;
	height: 33px;
	line-height: 33px;
	border: 1px solid #9c9c9a;
}
#header .wrap-search > form {
	position: relative;
	padding-top: 16px;
	padding-bottom: 13px;
	margin-right: 20px;
}
#header .wrap-search > form .icon-search {
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -4.5px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	border:0 none;
	background-color:transparent;
	background-position: -12px -485px;
}
#header .wrap-search img {
	margin-top: 5px;
}
#header .nav img.float-r {
	margin: 0 -5px 0 0;
}
#header .main-nav>li {
	float: left;
	margin-right: 55px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#header .nav-content * {
	color: #fff;
}
#header .classification .dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	padding: 10px 10px 0;
	width: 289px;
	height: 525px;
	background-color: #666;
}
#header .classification dl {
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #fff;
}
#header .classification .style {
    padding: 0;
    margin-bottom: 0;
    line-height: 40px;
    border: none;
}
#header .classification dt,
#header .classification dd {
	float: left;
}
#header .classification dt {
	margin-right: 8px;
}
#header .classification dd {
	width: 224px;
	overflow: hidden;
}
#header .classification dd a {
	float: left;
	display: block;
	margin-right: 12px;
}
#header .classification .price {
	margin-bottom: 0;
	border-bottom: none;
}
#header .slide-banner {
	overflow: hidden;
}
#header .shopCart {
	position: relative;
	float: right;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #ff0000;
}
#header .shopCart i {
	position: relative;
	top: 2px;
	left: -5px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../../iamges/20170517/idx-shopcart.png) no-repeat;
}
#header .shopCart span,
#header .shopCart em {
	line-height: 1;
}
#header .shopCart span {
	position: absolute;
	top: 5px;
	right: -13px;
	display: block;
	width: 14px;
	height: 14px;
	color: #fff;
	background: url(../../iamges/20170517/idx-bg.png) no-repeat;
}
#header .shopCart em {
	position: relative;
	top: 0;
	left: 2px;
	display: inline-block;
	font-size: 8px;
	-webkit-transform: scale(.7) translateX(-1px);
	-moz-transform: scale(1);
}


/*禅学院的下拉菜单 start*/
.cxy-dropdpwn-menu {
	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0;
	line-height: 50px;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}
.cxy-dropdpwn-menu .submenu {
	height: 50px;
	border: 1px solid #333;
	border-left: none;
	border-right: none;
	background-color: #fff!important;
}
.cxy-dropdpwn-menu li {
	float: left;
}
.cxy-dropdpwn-menu li a:hover {
	color: #47a9fd;
} 
.cxy-dropdpwn-menu li a {
	display: block;
	width: 199px;
	font-size: 13px;
	text-align: center;
}
.cxy:hover>.cxy-dropdpwn-menu {
	height: 50px;
}
/*禅学院的下拉菜单 end*/