/*main body*/
#main-body .section-1 {
	padding: 2px 0;
}
#main-body .section-1 li {
	float: left;
	margin-right: 9px;
}
#main-body .section-1 li a {
	display: block;
	box-shadow: 0 0 2px #d8d7d7;
}
#main-body .section-1 img {
	margin: 0;
	display: block;
}
#main-body .section-2 li {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;	
}
#main-body .section-2 {
	padding-top: 2px;
	padding-bottom: 2px;
}
#main-body .section-2 li {
	float: left;
	margin-right: 8px;
	width: 241px;
	height: 300px;
	border: 1px solid #d7d6d6;
	background-color: #fff;
}
#main-body .section-2 li a {
	display: block;
	overflow: hidden;
	background-color: #fff;
}
#main-body .section-2 .mrms,
#main-body .section-2 li {
	box-shadow: 0 2px 5px #d7d6d6;
}
#main-body .section-2>h2 {
	margin-bottom: 12px;
	border: 1px solid #e2e2e5;
	border-top: none;
	box-shadow: 0 3px 3px #e2e2e5;
}
#main-body .section-2>h2 img {
	max-width: 100%;
}
.slide-mrms .JS-slide-scroll li div,
.slide-mrms .JS-slide-scroll li p {
	padding: 0 8px;
	line-height: 32px;
}
.slide-mrms .JS-slide-scroll li p {
	line-height: 32px;
}
.slide-mrms .JS-slide-scroll ins {
	font-size: 21px;
	color: #cc0000;
	text-decoration: none;
}
.slide-mrms .JS-slide-scroll li span {
	display: block;
	margin: 5px auto 0;
	width: 223px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	text-align: center;
	background-color: #fb9b64;
	border-radius: 4px;
}
.slide-mrms .JS-slide-scroll del {
	margin-left: 8px;
}
.JS-slide-scroll {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.JS-slide-scroll ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 9999px;
}
.JS-slide-scroll ul li:last-child {
	margin-right: 0!important;
}
#main-body .slide-mrms {
	width: 741px;
	height: 300px;
}
.section-3 .New-arrival {
	padding: 0 10px 0 22px;
}
.section-3 .Personal-tailor {
	padding: 0 22px 54px 10px;
	height: 560px;
}
.section-3 .New-arrival h2 a,
.section-3 .Personal-tailor h2 a {
	background-image: url(../../iamges/20170517/sprite-1.png);
	background-repeat: no-repeat;
}
.section-3 .New-arrival>.float-r {
	padding-top: 42px;
}
.section-3 .Personal-tailor>.float-r {
	position: relative;
	top: -90px;
}
.section-3 .Personal-tailor h2 a,
.section-3 .New-arrival h2 a {
	display: block;
	margin: 20px auto;
	width: 288px;
	height: 59px;
	text-indent: -9999px;
}
.section-3 .New-arrival h2 a {
	background-position: 0 -87px;
}
.section-3 .Personal-tailor h2 a {
	background-position: 0 -168px;
}
.New-arrival .wrap-slide,
.Personal-tailor .wrap-slide {
	width: 532px;
	height: 542px;
}
.New-arrival .JS-slide-scroll,
.Personal-tailor .JS-slide-scroll {
	height: 271px;
}
.section-3 .New-arrival .float-l .left-a,
.section-3 .New-arrival .float-l .right-a,
.section-3 .Personal-tailor .float-r .left-a,
.section-3 .Personal-tailor .float-r .right-a {
	display: block;
	width: 260px;
	border: 1px solid #d9d8d8;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 #d9d8d8;
}
.section-3 .New-arrival .float-l img,
.section-3 .Personal-tailor .float-r img {
	margin: 0 auto;
	max-width: 100%;
}
.section-3 .New-arrival a>div,
.section-3 .Personal-tailor a>div {
	padding: 0 8px;
}
.section-3 h3 {
	width: 100%;
}
.section-3 .New-arrival a *,
.section-3 .Personal-tailor a * {
	line-height: 1.8;
}
.section-3 ins {
	font-size: 18px;
	color: #ff0000;
}
.section-3 del {
	position: relative;
	top: 8px;
	font-size: 12px;
}
.section-4 {
	border-bottom: 4px solid #dcdcdc;
}
.section-4 dl {
	padding-bottom: 30px;
}
.section-4 dt {
	position: relative;
	margin-bottom: 30px;
	padding-left: 8px;
	height: 57px;
	line-height: 57px;
	font-size: 18px;
	background-color: #95b0b2;
}
.section-4 dt,
.section-4 dt a {
	color: #fff;
}
.section-4 dt a {
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 14px;
}
.section-4 dd a {
	float: left;
}
.icon-start-black {
	cursor: pointer;
}
#main-body .sidebar {
	position: relative;
	overflow: hidden;
	margin: 5px 0 8px 0;
	height: 188px;
}
#main-body .sidebar img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.section-6 .Crowd-funding>li {
	overflow: hidden;
	float: left;
	margin: 0 10px 10px 0;
	width: 292px;
	height: 351px;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	box-shadow: 0 3px 5px 0 #b9b8b8;
}
.section-6 .Crowd-funding .make-new-world {
	width: 594px;
}
.section-6 .Crowd-funding .content {
	padding: 0 9px;
}
.section-6 .Crowd-funding>li>a {
	display: block;
	padding-top: 20px;
	text-align: center;
}
.section-6 .Crowd-funding .make-new-world a {
	padding-top: 0;
}
.section-6 .Crowd-funding>li>a>img {
	display: inline-block;
}
#header .classification .style {
	padding: 0;
	margin-bottom: 0;
	line-height: 40px;
	border: none;
}
.section-6 .Crowd-funding h4 {
	font-size: 16px;
	font-weight: normal;
}
.section-6 .Crowd-funding .progress {
	margin: 16px 0;
	height: 9px;
	background-color: #e9e8e8;
	border-radius: 8px;
}
.section-6 .Crowd-funding .progress div {
	width: 66%;
	height: 100%;
	background: url(../../iamges/20170517/bg-progress-1.png) no-repeat;
	border-radius: 8px;
}
.section-6 .Crowd-funding span {
	display: block;
	color: #a6a5a4;
}
.section-6 .Crowd-funding li li {
	float: left;
}
.section-6 .Crowd-funding li .li-1 {
	width: 60px;
}
.section-6 .Crowd-funding li .li-2 {
	padding-left: 33px;
	width: 125px;
}
.section-6 .Crowd-funding li .li-1,
.section-6 .Crowd-funding li .li-2 {
	border-right: 1px solid #d4d4d4;
}
.section-6 .Crowd-funding li .li-3 {
	padding-left: 19px;
}
.section-9 {
	margin-top: 30px;
}
.section-9 li {
	float: left;
	margin-right: 60px;
	width: 255px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	border: 2px solid #6d7e88;
}
.section-9 li span {
	display: inline-block;
	font-size: 18px;
}
.section-9 .icon-bz,
.section-9 .icon-wx,
.section-9 .icon-pf,
.section-9 .icon-hx {
	position: relative;
	left: -5px;
}
.section-9 .icon-bz,
.section-9 .icon-wx {
	top: 5px;
}
.section-9 .icon-pf,
.section-9 .icon-hx {
	top: 2px;
}
.icon-bz {
	width: 21px;
	height: 24px;
	background-position: 0 -458px;
}
.icon-wx {
	width: 26px;
	height: 25px;
	background-position: -25px -457px;
}
.icon-pf {
	width: 15px;
	height: 20px;
	background-position: -54px -462px;
}
.icon-hx {
	width: 20px;
	height: 19px;
	background-position: -73px -463px;
}
.section-10 dl {
	border-bottom: 1px solid #333;
}
.section-10  dt {
	padding-bottom: 15px;
	font-size: 18px;
	border-bottom: 1px solid #333;
}
.section-10 dd a {
	float: left;
	display: block;
}
.section-10 .dd-1 a {
	margin-right: 36px;
}
.section-10 .dd-2 a {
	margin-right: 39px;
}
.section-10 .dd-3 a {
	margin-right: 48px;
}
.section-10 .al,
.section-10 .tx,
.section-10 .wy,
.section-10 .sh,
.section-10 .hm,.section-10 .gt,
.section-10 .gdjj,.section-10 .zshm,
.section-10 .dyhm {
	position: relative;
}
.section-10 .dyhm {
	top: -20px;
}
.section-10 .zshm {
	top: 29px;
}
.section-10 .gt {
	top: 25px;
}
.section-10 .al,
.section-10 .tx {
 	top: 20px;
}
.section-10 .wy,
.section-10 .gdjj {
	top: 18px;
}
.section-10 .sh {
	top: 10px;
}
.section-10 .hm {
	top: 15px;
}


/*2017-07-18 对页面进行改版*/
.common-temp .head {
	padding: 0 15px;
	height: 55px;
	color: #fff;
	line-height: 55px;
	background-color: #95b0b2;
}
.common-temp .head h2 {
	float: left;
	font-size: 18px;
}
.common-temp .head a {
	float: right;
	color: #fff;
	font-size: 14px;
}
.common-temp ul {
	padding: 5px 0;
}
.common-temp li {
	float: left;
	margin: 0 9px 8px 0;
	width: 293px;
	box-shadow: 0 3px 10px #d9d8d8;
	background-color: #fff;
}
.common-temp li img {
	display: inline-block;
	width: 100%;
	max-width: 100%;
}
.common-temp li h3 {
	font-size: 16px;
	line-height: 1.8;
	text-indent: -8px;
}
.common-temp li div {
	padding: 10px;
}
.common-temp li div span {
	display: inline-block;
	width: 100%;
	text-align: center;
}