/*首页专用头部*/
#header .btm {
	padding: 10px 0 0 0;
	height: 525px;
}
#header .left-child,
#header .btm .JS-slide {
	width: 711px;
}
#header .left-child {
	float: left;
	margin-left: 299px;
}
#header .btm .JS-slide .content li,
#header .btm .JS-slide {
	height: 344px;
}
#header .btm .JS-slide li img {
	display: block;
	width: 100%;
	height: 100%;
}
#header .btm .JS-slide .point {
	margin-left: -60px;
	width: 120px;
	text-align: center;
}
#header .btm .JS-slide .left-btn {
	left: 0;
}
#header .btm .JS-slide:hover .left-btn {
	left: 30px;
}
#header .btm .JS-slide .right-btn {
	right: 0;
}
#header .btm .JS-slide:hover .right-btn {
	right: 30px;
}
#header .btm .JS-slide .left-btn,
#header .btm .JS-slide .right-btn {
	top: 50%;
	margin-top: -30px;
}
#header .side-bar {
	margin-top: 11px;
}
#header .side-bar li {
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 10px;
}
#header .side-bar li i {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../../iamges/20170517/idx-bg-1.png) no-repeat;
}
#header .side-bar li:hover i {
	background: none;
}
#header .side-bar li span {
	z-index: 5;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 10px;
	width: 100%;
	height: 36px;
	font-size: 18px;
	color: #fff;
	line-height: 36px;
}
#header .right-child {
	overflow: hidden;
	float: right;
	width: 180px;
	background-color: #fff;
}
#header .login {
	padding-top: 8px;
	height: 133px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
#header .login img {
	display: block;
	margin: 10px auto;
	width: 49px;
	height: 49px;
	border-radius: 50%;
}
#header .login button {
	display: inline-block;
	width: 75px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	background-color: #aa1920;
	border: none;
	cursor: pointer;
}
#header .sign-in {
	margin-right: 5px;
}
#header .news {
	height: 146px;
	border-bottom: 2px solid #aa1920;
}
#header .news h2 {
	text-align: center;
	font-size: 18px;
	color: #aa1920;
	line-height: 2;
}
#header .news li a {
	padding: 0 10px;
	font-size: 12px;
	color: #666;
	line-height: 1.6;
}
#header .experience-hall {
	padding-top: 25px;
	height: 236px;
	background: url(../../iamges/20170517/idx-pic3.jpg) no-repeat top center;
}
#header .experience-hall>div {
	overflow: hidden;
	margin: 0 auto 25px;
	width: 136px;
	height: 136px;
}
#header .experience-hall>a {
	display: block;
	margin: 0 auto;
	width: 139px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background-color: #aa1920;
	border-radius: 20px;
}




/*main body*/
.JS-slide-scroll {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.JS-slide-scroll ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 9999px;
}
.JS-slide-scroll ul li:last-child {
	margin-right: 0!important;
}
.section-1 .JS-slide-scroll {
	height: 267px;
}
.section-1 .JS-slide-scroll li {
	float: left;
	width: 200px;
	background-color: #fff;
}
.section-1 .JS-slide-scroll .product-info {
	padding: 5px 10px;
}
.section-1 .JS-slide-scroll h3 {
	font-size: 12px;
	text-indent: -6px;
}
.section-1 .JS-slide-scroll h3,
.section-1 .JS-slide-scroll del {
	color: #666;
}
.section-1 .JS-slide-scroll li p {
	height: 25px;
	line-height: 25px;
}
.section-1 .img-box {
	width: 200px;
	height: 200px;
}
.common-h2-1,
.common-h2-2 {
	padding: 0 10px;
	height: 42px;
	line-height: 42px;
	color: #aa1920;
	border-bottom: 6px solid;
}
.common-h2-1 span,
.common-h2-2 span {
	float: left;
	font-size: 20px;
}
.common-h2-1 a,
.common-h2-2 a {
	float: right;
}
.common-h2-1 i,
.common-h2-2 i {
	position: relative;
	display: inline-block;
	margin-right: 3px;
	background-image: url(../../iamges/20170517/idx-sprite1.png);
	background-repeat: no-repeat; 
}
.section-1 .common-h2-1 {
	height: 48px;
	line-height: 48px;
}
.section-1 .common-h2-1 i {
	width: 13px;
	height: 18px;
	background-position: 0 0;
}
.section-2 {
	height: 399px;
}
.section-2 li {
	float: left;
	text-align: center;
}
.section-2 li a {
	display: block;
	position: relative;
}
.section-2 .title {
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
}
.section-2 .title h2 {
	padding-bottom: 8px;
}
.section-2 .title h2 span {
	font-size: 24px;
}
.section-2 li h2 span {
	position: relative;
	top: 3px;
}
.section-2 .personal-tailor .title {
	top: 20px;
}
.section-2 .personal-tailor h2 span {
	top: 6px;
	font-size: 30px;
}
.common-h2-2 {
	padding: 0 10px;
	height: 42px;
	line-height: 42px;
	background-color: #aa1920;
	border: none;
}
.common-h2-2,
.common-h2-2 a {
	color: #fff;
}
.common-h2-2 span {
	font-size: 20px;
}
.section-3 .new-arrival,
.section-3 .discount {
	width: 595px;
	background-color: #fff;
}
.section-3 li {
	float: left;
	padding-bottom: 5px;
	width: 297px;
	background-color: #fff;
}
.section-3 li .wrap-info {
	padding: 0 10px;
	line-height: 1.6;
}
.section-3 li .wrap-info h3 {
	text-indent: -6px;
}
.section-3 li .sprice {
	text-align: center;
}
.section-3 .new-arrival .common-h2-2 i {
	width: 19px;
	height: 17px;
	background-position: -18px 0;
}
.section-3 .discount .common-h2-2 {
	background-color: #ee7c1b;
}
.section-3 .discount .common-h2-2 i {
	position: relative;
	top: 3px;
	width: 17px;
	height: 20px;
	background-position: -43px 0;
}
.section-4 .common-h2-1 {
	height: 48px;
	line-height: 48px;
}
.section-4 .common-h2-1 i {
	position: relative;
	top: 3px;
	width: 20px;
	height: 20px;
	background-position: -66px 0;
}
.section-4 dd {
	padding: 10px 0;
}
.section-4 dd a {
	padding: 5px 0;
}
.section-4 dd a {
	float: left;
}
#main-body .sidebar {
	position: relative;
	overflow: hidden;
	margin: 5px 0 8px 0;
	height: 188px;
}
#main-body .sidebar img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.section-5 .common-h2-2 i {
	top: 3px;
	width: 21px;
	height: 19px;
	background-position: -93px 0;
}
.common-temp .right {
	overflow: hidden;
	width: 894px;
	height: 679px;
	background-color: #fff;
}
.common-temp .right li {
	float: left;
	width: 298px;
}
.common-temp .right .wrap-info {
	padding: 0 10px;
}
.common-temp .right h3 {
	text-indent: -6px;
}
.section-7 .common-h2-2 i {
	top: 3px;
	width: 26px;
	height: 20px;
	background-position: -124px 0;
}
.section-8 .common-h2-2 i {
	top: 2px;
	width: 16px;
	height: 18px;
	background-position: -157px 0;
}
.section-11 .common-h2-2 i {
	top: 3px;
	width: 25px;
	height: 20px;
	background-position: -179px 0;
}
.section-6 .common-h2-2 {
	background-color: #ee7c1b;
}
.section-6 .common-h2-2 i {
	top: 2px;
	width: 18px;
	height: 19px;
	background-position: -208px 0;
}
.section-6 .Crowd-funding>li {
	overflow: hidden;
	float: left;
	margin: 0 10px 10px 0;
	width: 292px;
	height: 351px;
	background-color: #fff;
}
.section-6 .Crowd-funding .make-new-world {
	width: 594px;
}
.section-6 .Crowd-funding .content {
	padding: 0 9px;
}
.section-6 .Crowd-funding>li>a {
	display: block;
	padding-top: 20px;
	text-align: center;
}
.section-6 .Crowd-funding .make-new-world a {
	padding-top: 0;
}
.section-6 .Crowd-funding>li>a>img {
	display: inline-block;
}
#header .classification .style {
	padding: 0;
	margin-bottom: 0;
	line-height: 40px;
	border: none;
}
.section-6 .Crowd-funding h4 {
	font-size: 16px;
	font-weight: normal;
}
.section-6 .Crowd-funding .progress {
	margin: 16px 0;
	height: 9px;
	background-color: #e9e8e8;
	border-radius: 8px;
}
.section-6 .Crowd-funding .progress div {
	width: 66%;
	height: 100%;
	background-color: #ee7c1b;
	border-radius: 8px;
}
.section-6 .Crowd-funding span {
	display: block;
	color: #a6a5a4;
}
.section-6 .Crowd-funding li li {
	float: left;
}
.section-6 .Crowd-funding li .li-1 {
	width: 60px;
}
.section-6 .Crowd-funding li .li-2 {
	padding-left: 33px;
	width: 125px;
}
.section-6 .Crowd-funding li .li-1,
.section-6 .Crowd-funding li .li-2 {
	border-right: 1px solid #d4d4d4;
}
.section-6 .Crowd-funding li .li-3 {
	padding-left: 19px;
}
.section-9 li {
	float: left;
	margin-right: 60px;
	width: 255px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	border: 2px solid #6d7e88;
}
.section-9 li span {
	display: inline-block;
	font-size: 18px;
}
.section-9 .icon-bz,
.section-9 .icon-wx,
.section-9 .icon-pf,
.section-9 .icon-hx {
	position: relative;
	left: -5px;
}
.section-9 .icon-bz,
.section-9 .icon-wx {
	top: 5px;
}
.section-9 .icon-pf,
.section-9 .icon-hx {
	top: 2px;
}
.icon-bz {
	width: 21px;
	height: 24px;
	background-position: 0 -458px;
}
.icon-wx {
	width: 26px;
	height: 25px;
	background-position: -25px -457px;
}
.icon-pf {
	width: 15px;
	height: 20px;
	background-position: -54px -462px;
}
.icon-hx {
	width: 20px;
	height: 19px;
	background-position: -73px -463px;
}
.section-10 .common-h2-1 {
	height: 48px;
	line-height: 48px;
}
.section-10 .common-h2-1 i {
	top: 3px;
	width: 23px;
	height: 20px;
	background-position: -230px 0;	
}
.section-10 dd {
	background-color: #fff;
}


/*友情链接*/
.section-15 dt,
.section-15 dd,
.section-15 dd a {
	float: left;
}
.section-15 dt {
	width: 100px;
}
.section-15 dd {
	width: 1100px;
}
.section-15 dd a {
	margin: 0 0 15px 0;
	padding: 0 5px;
	width: 150px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}