/*头部下拉菜单hover效果 需要加上此段代码 start*/
#header .classification {
	background-color: transparent;
}
#header .classification .dropdown-menu {
	display: none\9; /*IE8 hack*/
	background-color: transparent;
	z-index: 0;
	opacity: 0;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}
#header .classification:hover > .dropdown-menu {
	background-color: #d4d6d5;
	z-index: 10;
	opacity: 1;
	display: block\9; /*IE8 hack*/
}
#header .classification:hover {
	background-color: #95b0b2;
}
/*头部下拉菜单hover效果 需要加上此端代码 end*/


/*除了首页以外的，头部轮播图中按钮的位置调动 start*/
#header .JS-slide .left-btn {
	left: 0;
}
#header .JS-slide:hover .left-btn {
	left: 50px;
}
#header .JS-slide .right-btn {
	right: 0;
}
#header .JS-slide:hover .right-btn {
	right: 50px;
}
/*除了首页以外的，头部轮播图中按钮的位置调动 end*/




.section-1 {
	margin-bottom: 10px;
	height: 92px;
	line-height: 92px;
	border: 1px solid #f8f8f8;
	box-shadow: 0 2px 2px 0 #d9d8d8;
}
.section-1 a {
	float: left;
	padding: 0 25px;
	margin-right: 314px;
	font-size: 20px;
}
.section-1 a i {
	margin-right: 12px;
}
.section-1 a b {
	color: #ff0000;
	font-size: 20px;
	font-weight: normal;
}
.icon-integral,.icon-record,
.icon-strategy {
	position: relative;
	top: 16px;
	height: 46px;
}
.icon-integral {
	width: 45px;
	background-position: 0 -308px;
}
.icon-record {
	width: 45px;
	background-position: -54px -308px;
}
.icon-strategy {
	width: 46px;
	background-position: -110px -308px;
}
.section-3 .head {
	padding: 21px 25px;
}
.section-3 .JS-filter-box {
	position: relative;
}
.section-3 .JS-filter-box .JS-main-box {
	position: relative;
	padding: 0 11px;
	width: 429px;
	height: 46px;
	line-height: 46px;
	border: 1px solid #c8c8c8;
	background-color: #fff; 
}
.JS-main-box:after {
	position: absolute;
	top: 50%;
	right: 11px;
	content: "";
	display: block;
	margin-top: -3.5px;
	width: 13px;
	height: 7px;
	background: url(../../iamges/20170517/sprite-1.png);
	background-repeat: no-repeat;
	background-position: -258px -8px;
	background-position: -258px 0\9; /*IE8 hack IE8下hover伪元素有问题*/
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}
.JS-main-box.down:after {
	background-position: -258px 0;
}
.JS-main-box + .sub-box {
	display: none;
	position: absolute;
	top: 46px;
	left: 0;
	padding-top: 10px;
	width: 160px;
	z-index: 5;
	box-shadow: 0 2px 2px 0 #d9d8d8
}
.JS-main-box + .sub-box li {
	padding: 0 12px;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #f1f1f1;
	cursor: pointer;
	background-color: #fff;
}
.JS-main-box + .sub-box li:hover {
	background-color: #f5f5f5;
}
.JS-main-box + .sub-box:after {
	position: absolute;
	top: -4px;
	left: 12px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: #fff;
}
.section-3 .head>a {
	font-size: 20px;
}
.section-3 .head>a i {
	position: relative;
	top: 5px;
	margin-right: 8px;
}
.product-list {
	padding: 30px 0 70px 0;
}
.product-list li {
	float: left;
	margin-right: 17px;
	margin-bottom: 17px;
	padding-top: 30px;
	width: 287px;
	height: 305px;
    border: 1px solid #b9b8b8;
    box-shadow: 0 3px 5px 0 #b9b8b8;
}
.product-list li>a {
	display: block;
	text-align: center;
}
.product-list li>a img {
	display: inline-block;
}
.product-list .detail {
	padding: 10px;
}
.product-list h2 {
	padding-top: 10px;
	margin-left: -10px;
	margin-bottom: 8px;
	font-size: 17px;
    color: #393939;
    font-weight: normal;
}
.product-list .price {
	margin-right: 10px;
	color: #757573;
}
.product-list .integral {
	color: #ff0000;
}
.product-list .detail>div {
	overflow: hidden;
	padding-top: 15px;
}
.product-list .detail a {
	width: 134px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background-color: #44acfd;
	border-radius: 5px;
}
.product-list .detail>div span {
	padding-top: 4px;
	padding-left: 30px;
	height: 38px;
	border-left: 1px solid #b2b2b2;
}
.product-list .detail i {
	cursor: pointer;
}