.JS-slide .left-btn {
	left: 30px;
}
.JS-slide:hover .left-btn {
    left: 50px;
}
.JS-slide .right-btn {
	right: 30px;
}
.JS-slide:hover .right-btn {
    right: 50px;
}
.section-2 {
	padding: 12px 2px 0;
}
.section-2 li {
	float: left;
	padding: 28px 0 15px;
	margin: 0 12px 12px 0;
	width: 290px;
	background-color: #fff;
	box-shadow: 0 4px 5px 0 #b9b8b8;
}
.section-2 li * {
	color: #190808;
}
.section-2 li img {
	margin: 0 auto;
}
.section-2 li h4 {
	padding: 15px 0 20px 0;
	font-size: 18px;
	text-align: center;
}
.section-2 li p {
	line-height: 1.8;
	text-align: center;
}
#main-body {
	padding-bottom: 50px;
}