#main-body {
	overflow: hidden;
}
.section-2,
.section-4,
.section-6,
.section-8 {
	padding: 65px 0;
}
.section-2 .w1200 div {
	float: left;
	width: 590px;
}
.section-2 .w1200 img {
	float: right;
	margin-top: 50px;
}
.section-2 dt,
.section-2 dd {
	float: left;
}
.section-2 dt {
	width: 133px;
	font-size: 26px;
	color: #fff;
	text-align: center;
	background-color: #f99021;
}
.section-2 .top {
	height: 369px;
	line-height: 369px;
}
.section-2 .btm {
	height: 85px;
	line-height: 85px;
}
.section-2 dd {
	margin-bottom: 15px;
	padding-left: 16px;
}
.section-2 dd p {
	width: 440px;
	font-size: 20px;
	color: #000;
	line-height: 1.8;
}
.section-2 h2 {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 24px;
	color: #f99021;
	line-height: 1;
	border-bottom: 2px solid #f99021;
}
.section-2 .btm,
.section-2 .btm~dd {
	margin-top: 60px;
}
.section-2 .btm~dd {
	margin-bottom: 0;
}
.section-2 .btm~dd p {
	margin-top: 7px;
}
.section-3 {
	height: 909px;
	background: url(../../iamges/20170517/partner-pic3.jpg) repeat-x;
}
.section-3 .w1200 {
	padding-top: 65px;
}
.section-3 h2,
.section-3 p {
	text-align: center;
}
.big {
	position: relative;
	padding-bottom: 15px;
	font-size: 36px;
	font-weight: 600;
	color: #f99021;
	line-height: 1;
}
.section-3 h2:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 35%;
	width: 240px;
	height: 2px;
	background-color: #f99021;
}
.section-3 p {
	font-size: 18px;
	line-height: 1.8;
}
.section-3 ul {
	padding-top: 57px;
}
.section-3 h3,
.section-3 div>p {
	position: absolute;
	width: 100%;
}
.section-3 h3 {
	bottom: 35px;
	font-size: 24px;
	color: #000;
}
.section-3 li {
	float: left;
	margin-bottom: 70px;
	width: 400px;
}
.section-3 li>div {
	position: relative;
	margin: 0 auto;
	width: 209px;
	height: 209px;
	text-align: center;
	background: url(../../iamges/20170517/partner-pic2.png) no-repeat top left;
}
.icon-dw,
.icon-cp,
.icon-gl,
.icon-fw,
.icon-zjjy,
.icon-qyyj {
	display: inline-block;
	background-image: url(../../iamges/20170517/partner-sprite.png);
	background-repeat: no-repeat;  
}
.icon-dw {
	width: 41px;
	height: 59px;
}
.icon-cp {
	width: 62px;
	height: 49px;
	background-position: -52px 0;
}
.icon-gl {
	width: 80px;
	height: 59px;
	background-position: -120px 0;
}
.icon-fw {
	width: 55px;
	height: 47px;	
	background-position: 0 -78px
}
.icon-zjjy {
	width: 55px;
	height: 56px;
	background-position: -59px -69px;
}
.icon-qyyj {
	width: 57px;
	height: 46px;
	background-position: -143px -79px;
}
.section-3 div>p {
	top: 55px;
}
.section-4 h2,
.section-5 h2,
.section-7 h2,
.section-8 h2,
.section-11 h2 {
	margin-bottom: 60px;
	text-align: center;
}
.section-4 .big:after,
.section-5 .big:after,
.section-7 .big:after,
.section-11 .big:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 47%;
	width: 72px;
	height: 2px;
	background-color: #f99021;
}
.section-4 .w1200>div {
	float: left;
}
.section-4 .w1200 div {
	float: left;
	width: 539px;
}
.section-4 .w1200 p {
	font-size: 18px;
	color: #000;
	line-height: 1.8;
	text-indent: 2em;
}
.section-4 .w1200 img {
	float: right;
}
.section-4 .w1200 h3 {
	padding-bottom: 15px;
	font-size: 24px;
	color: #f99021;
	text-align: center;
}
.section-5 {
	height: 890px;
	background: url(../../iamges/20170517/partner-pic5.jpg) top center;
}
.section-5 .w1200 {
	position: relative;
	padding-top: 80px;
}
.section-5 dd {
	position: absolute;
}
.section-5 dd * {
	color: #0097e0;
	line-height: 1.5;
}
.section-5 .blue * {
	color: #015993;
}
.section-5 .red * {
	color: #ff5961;
}
.section-5 .yellow * {
	color: #fbca00;
}
.section-5 .green * {
	color: #73d1c7;
}
.section-5 h3 {
	font-size: 24px;
}
.section-5 span {
	font-size: 18px;
}
.section-5 .dd-5,
.section-5 .dd-6,
.section-5 .dd-7,
.section-5 .dd-8 {
	text-align: right;
}
.section-5 .dd-1 {
	top: 210px;
	right: 140px;
}
.section-5 .dd-2 {
	top: 341px;
	right: 48px;
}
.section-5 .dd-3 {
	top: 468px;
	right: 24px;
	width: 224px;
}
.section-5 .dd-4 {
	top: 610px;
	right: 36px;
}
.section-5 .dd-5 {
	top: 744px;
	left: 206px;
}
.section-5 .dd-6 {
	top: 610px;
	left: 80px;
}
.section-5 .dd-7 {
	top: 483px;
	left: 26px;
}
.section-5 .dd-8 {
	top: 342px;
	left: 21px;
}
.section-6 h2 {
	position: relative;
	margin-bottom: 10px;
	text-align: center;
}
.section-6 .top {
	padding-bottom: 15px;
}
.section-6 .top:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 31%;
	width: 500px;
	height: 2px;
	background-color: #f99021;
}
.section-6 ul {
	margin: 0 auto;
	width: 1131px;
	height: 634px;
	background: url(../../iamges/20170517/partner-pic3.png) no-repeat top center;
}
.section-6 ul * {
	font-size: 24px;
}
.section-6 ul p {
	float: left;
	width: 788px;
	color: #000;
	line-height: 1.5;
	text-indent: 2em;
}
.section-6 ul h3 {
	float: right;
	margin: 45px 142px 0 0;
	font-weight: 600;
	color: #fff;
}
.section-6 li {
	padding-top: 110px;
}
.section-6 .li1 {
	padding-top: 40px;
}
.section-6 .li1 p {
	margin-left: 106px;
	width: 815px;
}
.section-6 .li1 h3 {
	margin: 108px 37px 0 0;
}
.section-6 .li2 {
	padding-top: 50px;
}
.section-6 .li1 p {
	margin-left: 106px;
	width: 815px;
}
.section-6 .li2 h3 {
	margin: 108px 140px 0 0;
}
.section-7 {
	height: 849px;
	background: url(../../iamges/20170517/partner-pic6.jpg) no-repeat center center;
}
.section-7 .w1200 {
	position: relative;
	height: 100%;
	padding-top: 65px;
}
.section-7 .left *,
.section-7 .right * {
	font-size: 24px;
	color: #fff;
	text-align: center;
}
.section-7 h3 {
	padding-bottom: 8px;
	font-size: 30px;
	font-weight: 600;
}
.section-7 .left,
.section-7 .right,
.section-7 .middle {
	position: absolute;
}
.section-7 .left {
	bottom: 260px;
	left: 38px;
}
.section-7 p {
	line-height: 1.5;
}
.section-7 .right {
	bottom: 260px;
	right: 39px;	
}
.section-7 .middle {
	top: 313px;
	left: 458px;
	width: 260px;
}
.section-7 .middle dl * {
	float: left;
	font-size: 18px;
	color: #f99021;
}
.section-7 .middle dt {
	padding-right: 27px;
	width: 50px;
	font-size: 22px;
	line-height: 1;
	border-right: 2px solid #f99021;
}
.section-7 .middle dd {
	padding-left: 27px;
	line-height: 1.6;
}
.section-7 .middle li {
	margin-bottom: 50px;
}
.section-8 {
	height: 841px;
	background: url(../../iamges/20170517/partner-pic7.jpg) no-repeat top left;
}
.section-8 .big:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 30%;
	width: 500px;
	height: 2px;
	background-color: #f99021;
}
.section-8 ul {
	margin: 0 auto;
	padding-top: 30px;
	width: 1169px;
	border-top: 1px solid #e5e5e7;
	border-left: 1px solid #e5e5e7;
}
.section-8 li {
	float: left;
	padding-top: 55px;
	width: 291px;
	height: 278px;
	text-align: center;
	border-right: 1px solid #e5e5e7;
	border-bottom: 1px solid #e5e5e7;
	background-color: #c5dfe8;
}
.section-8 .green {
	background-color: #c5d89c;
}
.section-8 .red {
	background-color: #f0e2de;
}
.section-8 .yellow {
	background-color: #efddba;
}
.section-8 li * {
	font-size: 24px;
}
.section-8 li h3 {
	padding-bottom: 10px;
	font-weight: 600;
}
.section-8 li p {
	line-height: 1.8;
}
.section-9 {
	padding-top: 65px;
	height: 992px;
	background: url(../../iamges/20170517/partner-pic9.jpg) no-repeat center center;
}
.section-9 h2 {
	padding-bottom: 15px;
	font-size: 48px;
	color: #f99021;
	text-align: center;
}
.section-9 .w1200 {
	position: relative;
	height: 100%;
}
.section-9 .w1200>div {
	position: absolute;
	bottom: 60px;
	left: 65px;
	width: 1103px;
}
.section-9 .w1200 dl {
	float: left;
}
.section-9 .w1200 img {
	float: right;
}
.section-9 .w1200 dt {
	font-size: 36px;
	font-weight: 600;
	color: #f99021;
}
.section-9 .w1200 dd {
	padding-left: 30px;
	font-size: 24px;
	line-height: 1.8;
	background: url(../../iamges/20170517/partner-pic4.png) no-repeat center left;
}
.section-10 {
	height: 701px;
	text-align: center;
	background: url(../../iamges/20170517/partner-pic10.jpg) no-repeat center center;
}
.section-10 .w1200 {
	position: relative;
	height: 100%;
}
.section-10 .w1200>div {
	position: absolute;
	bottom: 80px;
	right: 0;
}
.section-10 h3,
.section-10 h2 {
	color: #fef100;
}
.section-10 h3 {
	margin-bottom: 60px;
	font-size: 24px;
}
.section-10 h2 {
	font-size: 60px;
}
.section-10 p {
	font-size: 30px;
	color: #fff;
	line-height: 1.8;
}
.section-11 {
	padding-top: 65px;
	height: 598px;
	background: url(../../iamges/20170517/partner-pic12.jpg) no-repeat center center;
}
.section-11 form * {
	font-size: 30px;
}
.section-11 label,
.section-11 input,
.section-11 form img {
	float: left;
}
.section-11 label {
	width: 150px;
	min-height: 56px;
}
.section-11 form>div {
	margin-bottom: 12px;
	height: 56px;
	line-height: 56px;
}
.section-11 input,
.section-11 button,
#province,#city {
	width: 331px;
	height: 56px;
	line-height: 56px;
	border-radius: 8px;
}
.section-11 input {
	padding-left: 8px;
}
.section-11 input:focus {
	border-color: #f99021;
}
.section-11 button {
	color: #fff;
	text-align: center;
	border: none;
	background-color: #f99021;
	cursor: pointer;
}
.section-11 form img {
	margin: 2px 0 0 8px;
}
.section-11 .short-ipt {
	width: 177px;
}
.section-11 form {
	padding: 40px 0 0 70px;
}
.section-11 select,
.section-11 input {
	border: 1px solid #a8acb3;
}