.sec-1 {
	background-color: #fff;
}
.sec-1 div {
	padding: 70px 44px;
}
.sec-1 p {
	font-size: 24px;
	line-height: 2.5;
}
.sec-1 .p1 {
	margin-bottom: 50px;
}
.sec-2 h2 {
	padding: 15px 0;
	text-align: center;
}
.sec-2 span {
	display: block;
	font-size: 30px;
	line-height: 1.6;
}
.sec-2 li {
    float: left;
    margin: 0 29px 21px 0;
    width: 380px;
    background-color: #fff;
}
.sec-2 li div {
    padding: 5px 15px 25px 15px;
    font-size: 16px;
}
.sec-2 li h3 {
    padding: 12px 0;
    font-weight: 600;
}
.sec-2 sup {
    display: inline-block;
    font-size: 10px;
    -webkit-transform: scale(.8);
}
.sec-3 {
	padding-bottom: 15px;
}
.sec-3 h2 {
	padding: 20px 0 12px;
	color: #aa1920;
	font-size: 30px;
	text-align: center;
}
.sec-3 div {
	margin: 0 auto;
	width: 1089px;
	height: 332px;
	background: url(../../iamges/20170517/dz-bg-1.png) no-repeat left center;
}
.sec-3 ol {
	position: relative;
	top: 44px;
}
.sec-3 li {
	padding-left: 52px;
	float: left;
	width: 20%;
	height: 65px;
	line-height: 65px;
	font-size: 18px;
}
.sec-5 {
	padding: 0 36px;
}
.sec-5 .float-l {
	position: relative;
	width: 634px;
	height: 681px;
}
.sec-5 .float-l img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.sec-5 .float-l .img1 {
	z-index: 2;
	top: 0;
	left: 0;
}
.sec-5 .float-r {
	font-size: 18px;
	text-align: center;
}
.sec-5 .float-r p {
	line-height: 2.5;
}
.sec-5 .float-r img {
	margin-bottom: 40px;
}
.sec-6 {
	margin-top: 60px;
	padding: 76px 0;
	text-align: center;
}
.sec-6 img,
.fixed-left img,
.sec-5 .float-r img {
	display: inline-block;
}
.sec-6 p {
	font-size: 30px;
	line-height: 1.5;
}
.fixed-left {
	position: fixed;
	top: 50%;
	left: 40px;
	margin-top: -132px;
	width: 192px;
	height: 264px;
	text-align: center;
}
.fixed-left p {
	font-size: 18px;
}
.fixed-left .p1 {
	padding-bottom: 15px;
}
.sec-7 {
	padding-top: 27px;
	height: 661px;
	background-color: #fcc41a;
}
.sec-7 h2 {
	margin: 0 auto 27px;
	width: 518px;
	height: 117px;
	color: #fff;
	font-size: 48px;
	line-height: 117px;
	text-align: center;
	border: 1px solid #fff;
}
.sec-7 div {
	padding: 0 17.5px;
}
.sec-7 img {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}
.sec-8 h2 {
	height: 106px;
	line-height: 106px;
	font-size: 48px;
	text-align: center;
}