/*头部下拉菜单hover效果 需要加上此段代码 start*/
#header .classification {
	background-color: transparent;
}
#header .classification .dropdown-menu {
	display: none\9; /*IE8 hack*/
	background-color: transparent;
	z-index: 0;
	opacity: 0;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}
#header .classification:hover > .dropdown-menu {
	background-color: #d4d6d5;
	z-index: 10;
	opacity: 1;
	display: block\9; /*IE8 hack*/
}
#header .classification:hover {
	background-color: #95b0b2;
}
/*头部下拉菜单hover效果 需要加上此端代码 end*/


/*除了首页以外的，头部轮播图中按钮的位置调动 start*/
#header .JS-slide .left-btn {
	left: 0;
}
#header .JS-slide:hover .left-btn {
	left: 50px;
}
#header .JS-slide .right-btn {
	right: 0;
}
#header .JS-slide:hover .right-btn {
	right: 50px;
}
/*除了首页以外的，头部轮播图中按钮的位置调动 end*/


.section-1 {
	padding: 50px 67px 25px 67px;
}
.section-1 * {
	position: relative;
}
.section-1 a {
	float:left;
	margin-right: 147px;
}
.section-1 a span {
	display: block;
	padding-top: 10px;
	text-align: center;
	font-size: 25px;
	color: #356aa0;
}
.section-1 .icon-kt,.section-1 .icon-kt + span {
	top: 12px;
}
.section-1 .icon-sf,.section-1 .icon-sf + span,
.section-1 .icon-ws,.section-1 .icon-ws + span {
	top: 6px;
}
.section-1 .icon-xwy + span {
	top: -3px;
}

.section-2 {
	padding-bottom: 30px;
}
.section-2 li {
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
	width: 391px;
	height: 443px;
	border: 1px solid #b9b8b8;
	background-color: #fff;
	box-shadow: 0 3px 2px 0px #d9d8d8;
}
.section-2 li>div {
	padding: 18px 12px 12px;
}
.section-2 li h2 {
    margin-left: -10px;
    padding-bottom: 15px;
    font: normal 16px/1 "Microsoft Yahei";
}
.section-2 li .price {
    font-size: 34px;
    color: #ff0000;
}
.section-2 li .icon-shopping-cart {
	position: relative;
    top: 13px;
}
.section-2 li .buy {
    position: relative;
    top: 1px;
    display: block;
    width: 100%;
    height: 51px;
    line-height: 51px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #da4964;
}
.section-2 del {
	position: relative;
	top: 10px;
	left: 15px;
	font-size: 18px;
}