.common-h2 {
	height: 72px;
	line-height: 72px;
	font-size: 16px;
}
.common-h2 a {
	float: right;
}
.section {
	border-bottom: 1px solid #333;
}
.section .w1200 {
	padding: 0 15px;
}
.section li {
	float: left;
	margin: 0 58px 23px 0;
}
.section li h3 {
	padding-top: 8px;
	text-align: center;
	font-size: 14px;
}